.spacer {
  flex: 1 1 auto;
}
.nav-bar__tittle {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffffcc;
}

.tool-tittle__content {
  background-color: #406880;
  padding: 10px 20px;
  font-size: 1.5rem;
  line-height: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.block-container {
  width: 100%;
  margin: 0px auto;
}

.expansion__panel {
  background-color: #205072;
}

.header__expansion-panel {
  background-color: #205072;
  border-radius: 0px;
  cursor: none;
}

.borde-header__expacion-panel {
  border-bottom: 1px solid #ffffff;
}

.toolbar__expansion-panel {
  background-color: #0e3e54;
  padding: 5px 24px;
  height: 48px;
}

.new-add__btn {
  background-color: #be889c;
  color: #ffffff;
}

.information-content {
  display: flex;
  flex-direction: row;
  justify-content: space-betweens;
  align-items: center;
  color: #ffffff;
}

.measure {
  padding-left: 10px;
}

.question {
  padding-left: 20px;
}

.icon-conten {
  color: #ffffff;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

::ng-deep.mat-expansion-indicator::after {
  color: #ffffff;
}

.back-btn {
  width: 100%;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}

.back-icon__btn {
  /* transform: rotate(180deg); */
  margin-right: 20px;
  margin-left: 20px;
}

.back-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #205072;
}

.label-block {
  font-size: 18px;
  max-width: 316px;
  max-height: 36px;
  overflow: hidden;
  word-wrap: break-word;
}

.label-measure {
  font-size: 14px;
  max-width: 280px;
  max-height: 36px;
  overflow: hidden;
  word-wrap: break-word;
}

.label-question {
  font-size: 12px;
  max-width: 200px;
  max-height: 36px;
  overflow: hidden;
  word-wrap: break-word;
}

.label__content:hover {
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.nav-link {
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .grid-content__left {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    width: 100% !important;
  }

  .grid-content__rigth {
    display: none;
  }
}

/* ++++++++++++++++++++++++++++++Refactorizacion´´´´´´´´´´´´´´´´´++++++++*/
.container {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
}
.header-content {
  background-color: #205072;
  color: #ffffff;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: #EF5350; */
  /* color: #ffffff; */
}
.avatar:hover{
  cursor: pointer;
}
.panel-navigation {
  width: 30%;
  height: 100%;
  background-color: #205072;
  display: flex;
  flex-direction: column;
}

.action-content {
  /* width: 70%; */
  height: 100%;
  background-color: #ffffff;
}

.tool-img {
  width: 100%;
  background: linear-gradient(180deg, #205072 0%, rgba(255, 255, 255, 0) 100%),
    #75bde0;
}

.card-content {
  width: 100%;
  padding: 0px;
  background-color: #205072;
}

.tool-card__title {
  /* background-color: aqua; */
  width: 100%;
  height: 128px;
  min-height: 128px;
  color: #ffffff;
  justify-content: flex-start;
}

.btn-edit__card {
  /* background-color: #75BDE0; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-card {
  /* background-color: #BE889C; */
  height: 100%;
  width: 80%;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-title {
  line-height: 2rem;
}

.links-a {
  /* min-width: 120px; */
  color: #ffffff;
  /* height: inherit; */
}

.nav-bar__links {
  background-color: #329d9c;
}

::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ffdd94;
}
.refresh__btn {
  width: 100%;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
}
.icon-refresh {
  color: #ffffff;
}