<figure class="image-container">
  <img *ngIf="aboutImage" class="image-content" [src]="aboutImage.image" alt="imagen acerca de nosotros">
</figure>
<mat-progress-bar *ngIf="statusUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
<mat-toolbar class="mat-elevation-z5">
  <span class="spacer"></span>
  <button mat-icon-button color="primary" (click)="fileUpload.click()">
    <mat-icon aria-label="label">cloud_upload</mat-icon>
    <input
      #fileUpload
      type="file"
      style="display: none;"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="upload($event)"
    />
  </button>
</mat-toolbar>