.image-container {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 16px #b2b2b2;
}

.image-content{
  max-width: 100%;
  position: absolute;
}

.spacer {
  flex: 1 auto;
}