.main-banner__mobile {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0.5;
}

.main-banner__mobile img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

p {
  text-align: center;
  font-size: 1.25rem;
  opacity: 0.7;
}
