.content-contact {
  padding: 0 20px 0 20px;
}

.content-component-contact {
  display: flex;
  justify-content: center;
}

.content-inputs-1 {
  width: 50%;
  padding-right: 40px;
}

.content-inputs-2 {
  width: 50%;
  padding-left: 40px;
}

.label-subtitle {
  color: #3B7097 !important;
  white-space: initial;
}

.form-group {
  display: initial;
}

.mat-form-field-infix {
  padding: 20px;
  position: inherit !important;
}

input.mat-input-element {
  margin-top: 0.9375em;
}

.mat-select {
  padding-bottom: 16px !important;
}

.content-option-date {
  display: flex;

}

.content-rubro {
  width: 50%;
}

.mat-select {
  padding-bottom: 13px !important;
}

::ng-deep .mat-form-field-label {
  white-space: initial;
}

/*::ng-deep .mat-select-arrow::before {
    content: "\03c" ;
    transform: rotate(45deg);
}*/

.content-date {
  width: 50%;
  padding-left: 13px;
}

.content-button {
  display: flex;
  justify-content: flex-end;
}

.boton-siguiente {
  border: none;
  background-color: initial;
  cursor: pointer;
}

button:focus {
  border: none;
  outline: initial;
}

.line-botom {
  border-bottom: 1px solid #b2b2b2;
  background-color: white;
  padding-bottom: 20px;
}

.content-new-inputs {
  width: 50%;
}

.content-button-add {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.btn-add {
  text-decoration: none;
  color: #205072;
  cursor: pointer;
}

.icon-add {
  padding-right: 15px;
}
.form-content {
  display: flex;
  flex-direction: column;
}
.save-btn {
  width: 50%;
  margin: auto;
}
