<mat-progress-bar *ngIf="status" mode="query"></mat-progress-bar>
<div class="content-contact">
  <h3 style="font-size: 24px;">Contacto:</h3>
  <form class="form-content line-botom" [formGroup]="contactForm" (ngSubmit)="saveContact()">
    <div class="content-component-contact">
      <div class="content-inputs-1">
        <div>
          <mat-form-field class="form-group" appearance="legacy">
            <mat-label class="label-subtitle">Tipo de Sociedad:</mat-label>
            <input matInput placeholder="Ingrese Tipo de Sociedad" formControlName="kind_of_society" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-group" appearance="legacy">
            <mat-label class="label-subtitle">Razon Social:</mat-label>
            <input matInput placeholder="Ingrese Razon Social" formControlName="business_name" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-group" appearance="legacy">
            <mat-label class="label-subtitle">Matricula Comercio:</mat-label>
            <input matInput placeholder="Ingrese Matricula Comercio" formControlName="trade_registration" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-group" appearance="legacy">
            <mat-label class="label-subtitle">Nit:</mat-label>
            <input matInput placeholder="Ingrese Nit" formControlName="nit">
          </mat-form-field>
        </div>
        <div class="content-option-date">
          <div class="content-rubro">
            <mat-form-field class="form-group" appearance="legacy">
              <mat-label class="label-subtitle">Tipo de Rubro y Cierre Gestion Fiscal</mat-label>
              <mat-select [(value)]="selected" formControlName="type_of_item">
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="content-date">
            <mat-form-field class="form-group" appearance="legacy">
              <mat-label class="label-subtitle">Fecha</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="content-inputs-2">
        <div>
          <mat-form-field class="form-group" appearance="legacy">
            <mat-label class="label-subtitle">Domicilio Legal:</mat-label>
            <input matInput placeholder="Ingrese Domicilio Legal" formControlName="legal_address">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-group" appearance="legacy">
            <mat-label class="label-subtitle">Direccion:</mat-label>
            <input matInput placeholder="Ingrese Direccion" formControlName="direction">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-group" appearance="legacy">
            <mat-label class="label-subtitle">Persona Contacto:</mat-label >
            <input matInput placeholder="Ingrese Persona Contacto" formControlName="contact_person" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-group" appearance="legacy">
            <mat-label class="label-subtitle"> Numero Contacto:</mat-label>
            <input matInput type="number" #postalCode maxlength="8" placeholder="Ex. 94105" formControlName="contact_number" required>
            <mat-hint align="end"> {{postalCode.value.length}} / 8 </mat-hint>
          </mat-form-field>
        </div>
        <mat-form-field class="form-group" appearance="legacy">
          <mat-label class="label-subtitle">Email:</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="contact_email" required>
        </mat-form-field>
      </div>
    </div>
    <button class="save-btn" mat-raised-button color="warn" [disabled]="contactForm.invalid">Guardar</button>
  </form>
  <!-- <form action="" [formGroup]="formAdd">
        <div class="content-component-contact" *ngFor="let element of elementsNews">
            <div class="content-new-inputs">
                <div>
                    <mat-form-field class="form-group" appearance="legacy">
                        <mat-label class="label-subtitle" >Otro identificador:</mat-label>
                        <input formControlName="{{ element.otherIdentifier }}" matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
            </div>
            <div class="content-new-inputs">
                <div>
                    <mat-form-field class="form-group" appearance="legacy">
                        <mat-label class="label-subtitle">Dato:</mat-label>
                        <input formControlName="{{ element.data }}" matInput placeholder="Placeholder">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form> -->
</div>
