<figure class="crop-image">
  <img [src]="organization.image" alt="logo de la organización">
</figure>
<mat-toolbar class="mat-elevation-z6">
  <span class="spacer"></span>
  <button color="warn" mat-icon-button (click)="deleteOrganization()">
    <mat-icon aria-label="label">delete</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="fileUpload.click()">
    <mat-icon aria-label="label">cloud_upload</mat-icon>
    <input
      #fileUpload
      style="display: none;"
      type="file"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="upload($event)"
    />
  </button>
</mat-toolbar>