.crop-image{
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.crop-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
}

.spacer {
  flex: 1 auto;
}