<mat-toolbar class="toolbar-header" id="toolbar-header">
    <img src="assets/images/logo3.png">
    <!-- <span class="welcome-message">!Bienvenido Administrador!</span> -->
    <span class="spacer"></span>
    <!-- <span class="welcome-message">!Bienvenido Consultor!</span> -->
    <div *ngIf="user" role="button" class="more-action" [matMenuTriggerFor]="menu_log" >
        <img role="button" class="user-image"  mat-raised-button [src]="user.user_image">
        <span class="user-name">{{user.name}} {{user.lastname}}</span>
        <mat-icon>expand_more</mat-icon>
    </div>
    <mat-menu #menu_log="matMenu">
        <button style="width: 198.98px;"mat-menu-item (click)="logout()">Cerrar Sesión</button>
    </mat-menu>

    <mat-card class="card-img">
        <div class="img-profile" [matMenuTriggerFor]="menu">
          <img mat-card-avatar 
          *ngIf="user" role="button"
            [src]="user.user_image || 'https://lh3.googleusercontent.com/proxy/DcNBMT9MSl47aYAZhkQ02qb1-eKqrG2Ssq-keXTCeeOumijOxpcbrOMRTPtQ0uryi60kNBJFKblQSR6s1z3OxuoAcSv5gqe1E9GjNP2aX-YrUdisb3y9ZLm60-L8uGwEFgJVEBlRKv72o8o5Jv9S_V6hd_x6U4bXZJoVSRq83aZat-H5wWQtAw'" alt="image_profile">
          <mat-icon>expand_more</mat-icon>
        </div>
      </mat-card>
      <mat-menu #menu="matMenu">
        <a mat-menu-item (click)="logout()">
          <mat-icon aria-hidden="false" aria-label="{2:label} icon">logout</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>
</mat-toolbar>