/* refactorizacion */
.spacer {
  flex: 1 1 auto;
}

.toolbar-header {
  background-color: #205072;
  padding-left: 27px;
  padding-right: 27px;
  position: sticky;
  top: 0;
  overflow: visible;
  z-index: 2;
}

.btn-menu{
  color: #205072;
}
.more-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
}
.more-action:hover {
  background-color:rgba(255, 255, 255, 0.1);
}
.welcome-message {
  color: #ffffff;
  margin-right: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
}
.user-name {
  /* color: #ffffff; */
  margin: 0px 10px;
}
.toolbar-header .user-image {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}