textarea {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
  resize: vertical;
  min-height: 150px;
}

.textarea-title {
  font-size: 1.25rem;
}