<div class="card" [formGroup]="aboutForm">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p 
          class="title is-5 data-title"
          role="button"
          *ngIf="!isTitle"
          (click)="showInput('title')"  
          >
          {{ about.title || 'No Configurado'}}
        </p>
        <textarea
          class="textarea-title"
          autofocus
          formControlName="title"
          type="text"
          maxlength="130"
          *ngIf="isTitle" 
          (focusout)="saveChange('title')"
          >
        </textarea>
      </div>
    </div>

    <div class="content">
      <p
        role="button"
        *ngIf="!isDescription"
        (click)="showInput('description')"
      >
        {{about.description || 'No asignado'}}
      </p>
      <textarea
        class="textarea-description" 
        autofocus
        formControlName="description"
        type="text" 
        maxlength="450"
        *ngIf="isDescription" 
        (focusout)="saveChange('description')"
      >
      </textarea>
      <br>
      <!-- <span>{{(project.date | async) || 'No asignado'}}</span> -->
    </div>
  </div>
</div>
