<mat-drawer-container class="example-container">
  <mat-toolbar *ngIf="question" class="question-toolbar">
    <div class="question-info">
      <span class="question-description">Descripción: {{question.description}}</span>
      <span class="question-description">Porcentaje: {{question.porcentage | number}} %</span>
    </div>
    <span class="spacer"></span>
    <!-- <button mat-icon-button>
      <mat-icon aria-label="label" color="warn">add</mat-icon>
    </button> -->
    <button mat-icon-button>
      <mat-icon aria-label="label" color="primary" (click)="editeQuestion()">edit</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="label" color="primary" (click)="deleteQuestion()">delete_outline</mat-icon>
    </button>
  </mat-toolbar>
  <div *ngIf="!answers">
    <div class="empty-message">
      <h5> Aun no se agrego ninguna respuesta para esta pregunta</h5>
      <button mat-raised-button color="primary" (click)="editeQuestion()">Agregar Respuestas</button>
    </div>
  </div>
  <mat-radio-group *ngIf="answers" aria-labelledby="example-radio-group-label" class="example-radio-group">
    <mat-radio-button (click)="steper.next()" color="primary" class="example-radio-button" *ngFor="let answer of answers" [value]="answer">
      <div class="columns">
        <span class="column">
          {{answer.name}}
        </span>
        <!-- <span class="column">
          {{answer.porcentage}}
        </span> -->
      </div>

    </mat-radio-button>
  </mat-radio-group>

  <mat-drawer #drawer class="example-sidenav" mode="over" position="end" fixedInViewport>
    <button (click)="drawer.toggle()" mat-raised-button>
      Close
    </button>
  </mat-drawer>
</mat-drawer-container>
