.spacer {
  flex: 1 auto;
}

.question-toolbar {
  background-color: white;
}

.question-description {
  font-size: 0.75rem;
}

.question-info {
  display: flex;
  flex-direction: column;
}

.empty-message {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

