<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z4" mode="side" opened="true">
    <mat-toolbar class="mat-elevation-z6">
      <span>Equipos</span>
      <span class="spacer"></span>
      <button mat-icon-button color="accent" (click)="addTeam()">
        <mat-icon aria-label="label">add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-progress-bar color="accent" *ngIf="state" mode="query"></mat-progress-bar>
    <mat-nav-list>
      <mat-list-item 
        *ngFor="let item of aboutTeam"
        (click)="getTeamProfile(item)"
        >
        <mat-icon matListIcon color="accent">group</mat-icon>
        <h3 matLine>{{item.title}}</h3>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon aria-label="label">more_vertical</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editTeam(team)">
            <mat-icon color="accent" aria-hidden="false" aria-label="{2:label} icon">edit</mat-icon>
            Editar
          </button>
          <button mat-menu-item (click)="deleteTeam(team)">
            <mat-icon color="warn" aria-hidden="false" aria-label="{2:label} icon">delete</mat-icon>
            Eliminar
          </button>
        </mat-menu>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="team" class="mat-elevation-z6">
      <span>{{team.title}}</span>
      <span class="spacer"></span>
      <button mat-icon-button color="accent" (click)="addTeamProfile()">
        <mat-icon aria-label="label">add</mat-icon>
      </button>
    </mat-toolbar>
    <mat-progress-bar mode="query" *ngIf="stateTeam"></mat-progress-bar>
    <section class="section">
      <div class="columns is-multiline">
        <div class="column is-12-mobile is-6-tablet" *ngFor="let item of teamProfiles">
          <app-profile [profile]="item" [team]="team"></app-profile> 
        </div>
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>