<!-- <app-evaluation-result></app-evaluation-result> -->
<div class="container">
  <mat-toolbar class="result-toolbar">
    <button mat-icon-button (click)="goToBlockList()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{nameBlock}}</span>
    <span>{{idBlock}}</span>
  </mat-toolbar>
  <br>
  <br>
  <br>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let measure of dataMeasure">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span><strong>Nro: {{measure.position}}</strong> {{measure.name}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <p *ngFor="let question of measure.question">{{question.name}}</p> -->
      <table mat-table [dataSource]="measure.question" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <!-- <div class="example-element-position"> {{element.position}} </div>
                <div class="example-element-name"> {{element.name}} </div>
                <div class="example-element-answer"> {{element.answer}} </div>
                <div class="example-element-necesity"> {{element.necesity}} </div> -->
                <figure class="commit-img_container">
                  <img src="assets/images/evaluation/commit.svg" alt="">
                </figure>
              </div>
              <div class="example-element-description deteail-question">
                <span>{{element.subAnswer}}</span>
                <span class="example-element-description-attribution"> {{element.commit}}</span>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>
