.container {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.result-toolbar {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 99;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  width: 150px;
    /* border: 2px solid black; */
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}

.example-element-answer {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.deteail-question {
  display: flex;
  flex-direction: column;
}
.commit-img_container {
  width: 100%;
}
.commit-img_container img {
  width: 100%;
}