.detail-contente {
  padding: 20px;
}

.config-toolbar__tool {
  background-color: #ffffff;
  /* color: #ffffff; */
}

.sidenav-container {
  background-color: #ffffff;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 4px 30px 60px rgba(0, 0, 0,0.25);
}

.sidenav {
  width: 200px;
  background-color: rgba(32, 80, 114,0.8);
  color: #ffffff;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 auto;
}

.action-card {
  display: flex;
  justify-content: flex-end;
}

.block-content {
  display: flex;
}
.block-content a {
  /* max-width: 80%; */
  overflow: hidden;
  /* color: rgba(32, 80, 114,0.8); */
  color: #ffffff;
  /* text-overflow: ellipsis; */
}
.block-content a:hover {
  transition: 0.3s;
  border-left: 5px solid rgba(250, 137, 122,1);
  background-color: rgb(0, 0, 0, 0.05);
}

.block-content a.active {
  background-color: rgb(0, 0, 0, 0.05);
  border-left: 5px solid rgba(250, 137, 122,1);
}

.tool-card__information {
  height: 260px;
}

.tool-card__information:hover {
  box-shadow: 4px 30px 60px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.img-container {
  width: 100%;
  height: 260px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}

.img-container {
  /* box-shadow: 4px 30px 60px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.image-tool__content {
  padding: 10px;
  border: 1px solid rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.mat-card-content {
  flex-grow: 1;
  border-top: 1px solid rgba(178, 178, 178, 0.35);
}
.mat-card-actions {
  border-top: 1px solid rgba(178, 178, 178, 0.35);
}

mat-card-content p {
  /* height: 120px; */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding-top: 20px;
}

.tool-side__nav {
  width: 30%;
}

::ng-deep .mat-card-header-text {
  margin: 0px;
}
