<mat-toolbar class="mat-elevation-z6 config-toolbar__tool">
  <button *ngIf="true" mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="toolbar-title">Configuracion de la herramienta</span>
  <span class="spacer"></span>
  <!-- <button *ngIf="true" mat-button (click)="openDialog('1','add')"> -->
  <!-- <button *ngIf="true" mat-button>
    <mat-icon>group</mat-icon>
  </button> -->
</mat-toolbar>
<div class="container is-fluid detail-contente">
  <div class="columns">
    <div class="column">
      <figure class="img-container">
        <img class="image-tool__content"
          *ngIf="tool"
          [src]="tool.url"
          alt="image-tool">
      </figure>
    </div>
    <div class="column">
      <mat-card *ngIf="tool" class="tool-card__information">
        <mat-card-header>
          <mat-card-title>{{tool.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{tool.description}}
          </p>
        </mat-card-content>
        <mat-card-actions class="action-card">
          <button mat-icon-button color="primary" (click)="editBlock(tool.id, 'tool')">
            <mat-icon>mode_edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="column">
      
    </div>
  </div>
  <br />
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <span>Bloques</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="addBlock()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>
      <mat-progress-bar mode="query" *ngIf="status"></mat-progress-bar>
      <mat-nav-list *ngIf="blocks">
        <div class="block-content" *ngFor="let block of blocks">
          <a 
            mat-list-item 
            [routerLink]="['/admin/organization/', block.tool_id, block.position]"
            routerLinkActive="active"
            >
            {{block.name}}
          </a>
          <button mat-icon-button  [matMenuTriggerFor]="more">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #more="matMenu">
            <button mat-menu-item (click)="deleteBlock(block.id, 'remove', 'block')">Delete</button>
            <button mat-menu-item (click)="editBlock(block.id, 'block')">Edit</button>
          </mat-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="side-nav__content">
        <mat-toolbar *ngIf="isHandset$ | async">
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">list</mat-icon>
          </button>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </div>
