<div class="container">
  <section class="container-fluid indicators-container">
    <figure *ngIf="banner" class="image is-3by1 image-bg">
      <img [src]="banner.image">
    </figure>
    <div class="columns is-multiline indicators-container__data">
      <div class="column is-3" *ngFor="let item of indicators">
        <app-indicator [indicator]="item" [digit]="item.indicator" [duration]="1000"></app-indicator> 
      </div>
    </div>
    <button mat-icon-button class="btn-action more-vert-indicators" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addIndicator()">
        <mat-icon class="icon-action">add</mat-icon>
        <span>Indicador</span>
      </button>
      <button mat-menu-item (click)="fileUpload.click()">
        <mat-icon class="icon-action">cloud_upload</mat-icon>
        <span>Imagen de fondo</span>
        <input
          #fileUpload
          type="file"
          style="display: none;"
          accept="image/png, image/gif, image/jpeg, image/jpg"
          (change)="upload($event)"
        />
      </button>
    </mat-menu>
  </section>
  <mat-progress-bar *ngIf="statusUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
  <mat-toolbar>
    <span>Lista de metricas</span>
    <span class="spacer"></span>
    <button class="btn-action" mat-icon-button (click)="addMetric()">
      <mat-icon aria-label="label">add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  <div class="section">
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-6-tablet is-4-desktop" *ngFor="let item of metrics">
        <app-metric [metric]="item"></app-metric>
      </div>
    </div>
  </div>
</div>