.mat-toolbar {
  background-color: white;
}
.spacer {
  flex: 1 auto;
}

.btn-action {
  background-color: #85CE36;
  color: white;
}

.icon-action {
  color: #85CE36;
}

.container {
  padding: 20px;
}

.indicators-container {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators-container__data {
  width: 80%;
  height: 100%;
  top: 10px;
  position: absolute;
  overflow-y: auto;
  background-color: none;
  background: none;
}

.image-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.more-vert-indicators {
  position: absolute;
  bottom: 20px;
  right: 20px;
}