.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-images {
  width: 20%;
}

.add-tool_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: aqua; */
}

.add-tool_content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}

.add-toolbar {
  width: 100%;
  background-color: #205072;
  color: #ffffff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.add-form {
  width: 97%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.form-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

::ng-deep .mat-dialog-container {
  background-color: inherit;
  box-shadow: inherit;
}

.alert-add__tool {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #EF5350;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #FFDD94;
  color: #205072;
}

.delete-container {
  width: 100%;
  display: flex;
  /* background-color: #FFDD94; */
}

.delete-tool_container {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #ffffff; */
}

.delete-tool_content {
  height: 360px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 24px;
}

.img-delete__content {
  /* width: 20%; */
}

.info-container {
  background-color: #CFF4D2;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
}

.info-p {
  width: 456px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.icon-info {
  width: 20%;
  height: 100%;
}

.icon {
  width: 100%;
  height: 100%;
  font-size: 64px;
  color: #EF5350;
}

.text-info {
  margin: auto;
}

.btn-content {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-delete {
  width: 40%;
  margin: 0px 20px;
}

.btn-close {
  border: 1px solid #EF5350;
  color: #205072;
}
