<div class="container" *ngIf="addToolContent">
  <img class="add-images" src="assets/images/add/img.png">
  <div class="add-tool_container">
    <div class="add-tool_content">
      <mat-toolbar class="add-toolbar">
        <span>AÑADIR NUEVO INSTRUMENTO</span>
        <span class="spacer"></span>
        <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <form [formGroup]="toolForm" class="add-form">
        <mat-label class="form-subtitle">Comienza agregando un nombre a tu instrumento de diagnóstico para empresas.
        </mat-label>
        <mat-form-field>
          <mat-label>Nombre del Instrumento</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <span *ngIf="name.errors.minlength">Por favor ingrese 3 letras como mínimo</span>
        </div>
        <button mat-raised-button color="warn" (click)="addTool()" [disabled]="toolForm.invalid">AÑADIR</button>
        <mat-progress-bar *ngIf="progressStatus" mode="indeterminate"></mat-progress-bar>
        <div *ngIf="alertMessage" class="alert-add__tool">
          <mat-icon>done</mat-icon>
          <mat-label>Añadido Correctamente</mat-label>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="delete-container" *ngIf="deleteToolContent">
  <img class="img-delete__content" src="assets/images/add/img2.png">
  <div class="delete-tool_container">
    <div class="delete-tool_content">
      <mat-toolbar class="add-toolbar">
        <span>ELIMINAR INSTRUMENTO</span>
        <span class="spacer"></span>
        <button mat-icon-button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <div class="info-container">
        <div class="icon-info">
          <mat-icon class="icon">info_outline</mat-icon>
        </div>
        <p class="info-p">Está a punto de eliminar permanentemente este instrumento
          Una vez que un instrumento se elimina <strong>permanentemente, no se puede recuperar.</strong> La eliminación permanente de
          este instrumento <strong>eliminará inmediatamente</strong> sus bloques y <strong>toda la información relacionada,</strong> incluidos preguntas,
          empresas evaluadas, etc.</p>
      </div>
      <p class="info-p text-info">Esta acción no se puede deshacer. Perderás el instrumento de diagnostico de empresas y todo el
        contenido: bloques, medidas, preguntas, etc.</p>
      <div class="btn-content">
        <button class="btn-close btn-delete" mat-button color="warn" mat-dialog-close>
          CANCELAR
        </button>
        <button class="btn-delete" mat-raised-button color="warn" (click)="deleteTool()">
          ELIMINAR
        </button>
      </div>
      <mat-progress-bar *ngIf="progressStatus" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <img class="img-delete__content" src="assets/images/add/img3.svg">
</div>
