<div class="content-flex-center">
    <div class="box-size">
        <h3 class="title-principal"> Representación Legal:</h3>
        <div class="field-select">
            <mat-form-field class="form-group" appearance="legacy">
                <mat-label class="label-subtitle">TIPO DE RESPUESTA</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option >None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="box-size-full box-border-sombra p-20 ">
            <div class="content-title">
                <h2>Representante (s):</h2>
              <a href="#"><fa-icon class="icon" [icon] = "faPlus" > </fa-icon></a>  
            </div>
            <div class="content-table">
                <table mat-table
                [dataSource]="dataSource" multiTemplateDataRows
                class="mat-elevation-z8">
                  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index;" >
                    <th mat-header-cell *matHeaderCellDef> 
                      <ng-container *ngIf="i !== 3">
                      {{column}}
                      </ng-container> 
                    </th>
                    <td mat-cell *matCellDef="let element" > 
                     
                      <ng-template [ngIf]="i === 2 || i === 0 || i === 1">
                          {{element[column]}}
                      </ng-template>
                      <ng-template [ngIf]="i === 3">
                        <a href="#"><fa-icon class="icon-delete" [icon] = "faTrashAlt" > </fa-icon></a>
                    </ng-template>
                    </td>
                  </ng-container>
                  
                  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                      <div class="example-element-detail"
                          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div >
                          <div class="content-flex-center">
                            <div class="size-content-expansion-panel">
                              <div class="box-img-capital">
                                <img src="./../../../../../../../assets/images/evaluation/img-rep-legal.png" alt="img-capital-social">
                              </div>
                              <div class="box-subtable-capital">
                                <div class="content-title">
                                  <h2>Limites Especificos al Representante Legal</h2>
                                  <a href=""><fa-icon class="icon" [icon] = "faPlus" > </fa-icon></a>  
                                </div>
                                <div class="content-subtable">
                                  <table mat-table [dataSource]="dataSubtable" class="mat-elevation-z8">
                                    <!-- name Column -->
                                    <ng-container matColumnDef="tipo">
                                      <th mat-header-cell *matHeaderCellDef> Tipo</th>
                                      <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                                     
                                    </ng-container>
                                  
                                    <!-- bs Column -->
                                    <ng-container matColumnDef="cuantia">
                                      <th mat-header-cell *matHeaderCellDef> Cuantia ($us) </th>
                                     
                                        <td mat-cell *matCellDef="let element"> {{element.cuantia}} </td>
                                   
                                      
                                    </ng-container>
                                  
                                    <!-- Sus Column -->
                                    <ng-container matColumnDef="componente">
                                      <th mat-header-cell *matHeaderCellDef>Organo Componente</th>
                                      <td mat-cell *matCellDef="let element"> {{element.componente}} </td>
                                      
                                    </ng-container>
                                    <ng-container matColumnDef="mecanismo">
                                        <th mat-header-cell *matHeaderCellDef>Mecanismo</th>
                                        <td mat-cell *matCellDef="let element"> {{element.mecanismo}} </td>
                                        
                                      </ng-container>
                                  
                                    <!-- Actions Column -->
                                    <ng-container matColumnDef="actions">
                                      <th mat-header-cell *matHeaderCellDef>  </th>
                                      <td mat-cell *matCellDef="let element"> 
                                        <a href="#"><fa-icon class="icon-delete" [icon] = "faTrashAlt" > </fa-icon></a>
                                      </td>
                                     
                                    </ng-container>
                                  
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  
                                  </table>
                                </div>
                                  
                                  <div class="content-flex-center">
                                    <button class="btn-guardar"> Guardar </button>
                                  </div>
                                
                              </div>
                            </div>
                          </div> 
                        </div>
                      </div>
                    </td>
                  </ng-container>
    
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                      class="example-element-row"
                      [class.example-expanded-row]="expandedElement === element"
                      (click)="expandedElement = expandedElement === element ? null : element">
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
    
            </div>
        </div>
    </div>
</div>

<div class="content-next-previus">
    <button (click)="anterior($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-volver-naranja.png" alt="" ></button>

    <button (click)="siguiente($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-siguiente-naranja.png" alt="" ></button>
</div>