<mat-toolbar class="mat-elevation-z16 add-toolbar__tool">
  <span class="toolbar-title">Lista de herramientas de trabajo</span>
  <span class="spacer"></span>
  <!-- <button *ngIf="true" mat-button (click)="openDialog('1','add')"> -->
  <button *ngIf="true" mat-icon-button (click)="addTool()">
    <mat-icon>add</mat-icon>
  </button>
  <!-- <button *ngIf="true" mat-button>
    <mat-icon>group</mat-icon>
  </button> -->
</mat-toolbar>
<br>
<div class="container is-fluid tool-content">
  <mat-progress-bar mode="query" *ngIf="status"></mat-progress-bar>
  <div *ngIf="imageEmpty" class="container is-max-widescreen img-container">
    <img class="image-empty"
      src="https://assets.materialup.com/uploads/c83a9663-be0b-4397-b1af-67f520e44ef1/preview.png">
    <h3 class="message-empty">Aun no tienes instrumento para comenzar una evaluación</h3>
    <button *ngIf="rolHidden" mat-raised-button color="warn" (click)="addTool()">
      Añadir Nuevo Instrumento
    </button>
  </div>
  <div class="container">
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
      <div class="column is-4 colums-card" *ngFor="let tool of tools">
        <app-tool-content 
          [tool]="tool" 
          [rolHidden]="rolHidden"
          (newEmitterTool)="listTool()"
          ></app-tool-content> 
      </div>
    </div>
  </div>
</div>
