.sidenav-container {
  height: 100%;
  background-color: #F0F3F6;
}

.sidenav {
  width: 200px;
  background-color: rgba(250, 137, 122,7);
  background-color: #205072;
}

.subheader {
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
mat-nav-list a, mat-icon, mat-toolbar {
  color: white;
}

mat-nav-list a {
  opacity: 0.6;
}

mat-nav-list a:hover {
  background-color: rgba(250, 137, 122,0.5);
  transition: 0.3s;
  border-left: 5px solid #ffffff;
  opacity: 0.8;
}
mat-nav-list a, mat-icon {
  margin-right: 10px;
}
mat-nav-list a.active {
  opacity: 1;
  background-color: rgba(250, 137, 122,0.8);
  border-left: 5px solid #ffffff;
}
.spacer {
  flex: 1 1 auto;
}
.card-img {
  margin: 0px;
  padding: 0px;
  background-color: rgba(32, 80, 114,0);
  box-shadow: inherit;
  border: inherit;
  border-radius: 0px;
}
.img-profile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-profile:hover {
  background-color: rgba(255, 255, 255,0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.layout-toolbar {
  background-color: rgba(32, 80, 114,1);
  color: #ffffff;
}
.side-nav__laoyout {
  background-color: #F0F3F6;
  /* background-color: rgba(32, 80, 114,1); */
  /* background-color: #ffffffe3; */
}

.btn-caminnos {
  background-color: #85CE36;
  color: white;
  margin-right: 30px;
}


.logo-caminnos {
  border-radius: 50%;
}

.main-logo__baremo {
  opacity: 0.8;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
}
.main-logo__baremo img {
  width: 100px;
}
.title-logo {
  color: white;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: capitalize;
}