<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav animate__animated animate__fadeInLeftBig" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div class="subheader" mat-subheader>Panel de Navegacion</div>
      <a
        mat-list-item 
        routerLink="organization" 
        routerLinkActive="active"
        (click)="saveTitle('Herramientas')"
        >
        <mat-icon>dashboard</mat-icon>
        <span>Herramientas</span>
      </a>
      <a 
        mat-list-item 
        routerLink="business" 
        routerLinkActive="active"
        (click)="saveTitle('Empresas')"
        >
        <mat-icon>business</mat-icon>
        <span>Empresas</span>
      </a>
      <a 
        mat-list-item 
        routerLink="permises" 
        routerLinkActive="active"
        (click)="saveTitle('Permisos')"
        >
        <mat-icon>groups</mat-icon>
        <span>Permisos</span>
      </a>
      <a 
        mat-list-item 
        routerLink="evaluation" 
        routerLinkActive="active"
        (click)="saveTitle('Evaluacion')"
        >
        <mat-icon>task</mat-icon>
        <span>Evaluación</span>
      </a>    
      <a 
        mat-list-item 
        routerLink="result" 
        routerLinkActive="active"
        (click)="saveTitle('Resultados')"
        >
        <mat-icon>assessment</mat-icon>
        <span>Resultados</span>
      </a>
      <div class="subheader" mat-subheader>Configuración de Perfil</div>
      <a 
        mat-list-item 
        routerLink="config" 
        routerLinkActive="active"
        (click)="saveTitle('Perfil')"
        >
        <mat-icon>person</mat-icon>
        <span>Configuración</span>
      </a>
      <div class="subheader" mat-subheader>Servicio Caminnos</div>
      <a mat-list-item routerLink="caminnos">
        <mat-icon>
          <img class="logo-caminnos" src="assets/images/caminnos/caminnos-logo.png" alt="logo-caminnos">
        </mat-icon>
        <span>Caminnos Landing</span>
      </a>
    </mat-nav-list>
    <figure class="main-logo__baremo">
      <img src="assets/images/logo-white.png" alt="logo-baremo">
      <h1 class="title-logo">{{logo | uppercase}} </h1>
    </figure>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav__laoyout">
    <mat-toolbar class="layout-toolbar animate__animated animate__fadeInDown">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class="spacer"></span>
      <mat-card class="card-img">
        <div class="img-profile" [matMenuTriggerFor]="menu">
          <img mat-card-avatar 
          *ngIf="user" role="button"
            [src]="user.user_image || 'https://www.kindpng.com/picc/m/33-338711_circle-user-icon-blue-hd-png-download.png'" alt="image_profile">
          <mat-icon>expand_more</mat-icon>
        </div>
      </mat-card>
      <mat-menu #menu="matMenu">
        <a mat-menu-item (click)="logout()">
          <mat-icon aria-hidden="false" aria-label="{2:label} icon">logout</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
