<div *ngIf="profile" class="card" [formGroup]="profileForm">
  <div class="card-image">
    <figure class="crop-image">
      <img [src]="profile.image || 'https://bulma.io/images/placeholders/1280x960.png'" alt="Placeholder image">
    </figure>
  </div>
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p 
          class="title is-5 data-title"
          role="button"
          *ngIf="!isName"
          (click)="showInput('name')"  
          >
          {{ profile.name || 'No Configurado'}}
        </p>
        <textarea
          class="textarea-title"
          autofocus
          formControlName="name"
          type="text"
          maxlength="130"
          *ngIf="isName" 
          (focusout)="saveChange('name')"
          >
        </textarea>
        <p 
          class="subtilte is-3 data-title"
          role="button"
          *ngIf="!isWorkPosition"
          (click)="showInput('work')"  
          >
          {{ profile.work_position || 'No Configurado'}}
        </p>
        <textarea
          class="textarea-title"
          autofocus
          formControlName="work_position"
          type="text"
          maxlength="130"
          *ngIf="isWorkPosition" 
          (focusout)="saveChange('work')"
          >
        </textarea>
      </div>
    </div>

    <div class="content">
      <p
        role="button"
        *ngIf="!isBiography"
        (click)="showInput('biography')"
      >
        {{ profile.biography || 'No asignado'}}
      </p>
      <textarea
        class="textarea-description" 
        autofocus
        formControlName="biography"
        type="text" 
        maxlength="400"
        *ngIf="isBiography" 
        (focusout)="saveChange('biography')"
      >
      </textarea>
      <br>
      <!-- <span>{{(project.date | async) || 'No asignado'}}</span> -->
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="statusUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
<mat-toolbar [formGroup]="profileForm" class="mat-elevation-z6">
  <!-- <button mat-icon-button color="warn"> -->
  <time datetime="mm-dd-yy">{{profile.date.toDate() | date}}</time>
  <input style="display: none;" matInput formControlName="date" [matDatepicker]="picker">
  <mat-datepicker touchUi  #picker (closed)="changeDate()"></mat-datepicker>
  <span class="spacer"></span>
  <button mat-icon-button (click)="picker.open()">
    <mat-icon aria-hidden="false" aria-label="{2:label} icon">event</mat-icon>
  </button>
    <button mat-icon-button color="warn" (click)="deleteAward()">
    <mat-icon aria-label="label">delete</mat-icon>
  </button>
  <button mat-icon-button class="btn-container-r">
    <mat-icon
      class="material-icons-outline icon-cloud btn-action"
      aria-label="subir imagen icon"
      >cloud_upload</mat-icon
    >
    <input
      type="file"
      class="input-hidden"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="upload($event)"
    />
  </button>
</mat-toolbar>