.mat-toolbar {
  background-color: white;
}
.spacer {
  flex: 1 auto;
}

.btn-action {
  background-color: #85CE36;
  color: white;
}

.container {
  padding: 20px;
}

.alliance-banner {
  background-color: #3a4651;
}