<app-alliance-banner *ngIf="banner" [banner]="banner"></app-alliance-banner>
<br>
<mat-toolbar>
  <span>Lista de organizaciones aliadas</span>
  <span class="spacer"></span>
  <button class="btn-action" mat-icon-button (click)="addAlliance()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet is-4-desktop" *ngFor="let item of alliances">
      <app-alliance [alliance]="item"></app-alliance>
    </div>
  </div>
</div>

