<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer-content>
    <mat-toolbar class="toolbar-organization">
      <span class="title-organization">{{title}}</span>
      <span class="spacer"></span>
      <!-- <button mat-button (click)="getData()">Get Data</button> -->
      <button
        (click)="goToResult()"
        matTooltip="Resutados"
        *ngIf="rolHidden"
        class="action-btn"
        mat-icon-button
      >
          <mat-icon>list_alt</mat-icon>
          <!-- <span>Resultados</span> -->
      </button>
      <button
        matTooltip="Menu de Navegación"
        *ngIf="rolHidden"
        (click)="drawer.toggle()"
        class="create-icon__btn"
        mat-icon-button
      >
        <mat-icon>menu_open</mat-icon>
      </button>
    </mat-toolbar>
    <app-block [dataBlock]="dataBlock"></app-block>
    <app-measure [dataMeasure]="dataMeasure"></app-measure>
    <app-question [idMeasure]="idMeasuere"></app-question>
  </mat-drawer-content>
  <mat-drawer class="tool-menu" position="end" #drawer mode="over">
    <h1 class="title-drawer">Panel de Navegación</h1>
    <app-data-tool  [blocks]="dataBlock" ></app-data-tool>
  </mat-drawer>
</mat-drawer-container>
