.spacer {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.toolbar-organization {
  background-color: rgba(32, 80, 114, 0.6);
  color: #ffffff;
}

.title-organization {
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.313rem;
}

.grid-content__left {
  background-color: #BE889C;
  overflow-y: scroll;
  overflow-x: hidden;
}

::ng-deep .grid-content__left.mat-grid-tile .mat-figure {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tool-menu {
  width: 30%;
  background-color: #205072;
}

.expansion__panel {
  background-color: #205072;
}

.header__expansion-panel {
  background-color: #205072;
  border-radius: 0px;
  cursor: none;
}

.borde-header__expacion-panel {
  border-bottom: 1px solid #ffffff;
}

.toolbar__expansion-panel {
  background-color: #0e3e54;
  padding: 5px 24px;
  height: 48px;
}

.information-content {
  display: flex;
  flex-direction: row;
  justify-content: space-betweens;
  align-items: center;
  color: #ffffff;
}

.measure {
  padding-left: 10px;
}

.question {
  padding-left: 20px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

::ng-deep.mat-expansion-indicator::after {
  color: #ffffff;
}

.label-block {
  font-size: 18px;
  max-width: 316px;
  max-height: 36px;
  overflow: hidden;
  word-wrap: break-word;
}

.label-measure {
  font-size: 14px;
  max-width: 280px;
  max-height: 36px;
  overflow: hidden;
  word-wrap: break-word;
}

.label-question {
  font-size: 12px;
  max-width: 200px;
  max-height: 36px;
  overflow: hidden;
  word-wrap: break-word;
}

.label__content:hover {
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.title-drawer {
  background-color: #329D9C;
  color: #ffffff;
  padding: 10px;
}
.action-btn {
  background-color: #FA897B;
  color: #ffffff;
  margin-right: 20px;
}
@media only screen and (max-width: 500px) {
  ::ng-deep .form-commit-content .mat-form-field-appearance-legacy .mat-form-field-infix {
    margin-right: 10px;
  }
}
