
.spacer {
  flex: 1 auto;
}

.main-container__project {
  height: 85vh;
  overflow-x: auto;
}

.main-project {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 70%;
  margin: auto;
}

.main-img__project {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-img__project img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

mat-card:hover {
  box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
}

.main-button {
  background-color: #85CE36;
  color: white;
}

.main-description {
  max-height: 60px;
  overflow: hidden;
}
.main-description p {
  word-break: break-all;
  text-overflow: ellipsis;
}

.mat-toolbar {
  background-color: white;
}
