<app-project-banner [projectBanner]="projectBanner"></app-project-banner>
<mat-toolbar>
  <span>Lista de proyectos</span>
  <span class="spacer"></span>
  <button mat-icon-button class="main-button" (click)="addProject()">
    <mat-icon aria-hidden="false" aria-label="{2:label} icon">add</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
<main class="container">
  <section class="section">
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-4-tablet" *ngFor="let project of projects">
        <app-project [project]="project"></app-project> 
      </div>
    </div>
  </section>
</main>