<mat-progress-bar mode="indeterminate" mode="query" *ngIf="hiddenProgressListBlock"></mat-progress-bar>
<mat-accordion>
    <mat-expansion-panel class="expansion__panel" *ngFor="let block of blocks">
      <mat-expansion-panel-header class="header__expansion-panel borde-header__expacion-panel">
        <mat-action-row>
          <button class="icon__btn" mat-icon-button (click)="addNewBlock(block.tool_id)">
            <mat-icon class="icon-conten">add</mat-icon>
          </button>
          <button class="icon__btn" mat-icon-button (click)="remove('block',block.id)">
            <mat-icon class="icon-conten">restore_from_trash</mat-icon>
          </button>
        </mat-action-row>
        <mat-panel-title class="information-content">
          <mat-label class="label__content label-block" (click)="navigation(block,block.Medidas,1)">
            {{block.name}}</mat-label>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel class="expansion__panel" *ngFor="let measure of block.Medidas">
          <mat-expansion-panel-header class="header__expansion-panel">
            <mat-action-row>
              <button class="icon__btn" mat-icon-button (click)="addNewMeasure(measure.block_id)">
                <mat-icon class="icon-conten">add</mat-icon>
              </button>
              <button class="icon__btn" mat-icon-button (click)="remove('measure',measure.id)">
                <mat-icon class="icon-conten">restore_from_trash</mat-icon>
              </button>
            </mat-action-row>
            <mat-panel-title class="information-content measure">
              <mat-label class="label__content label-measure"(click)="navigation(block,measure, measure.position)">
                Medida {{measure.position}}: {{measure.name}}
              </mat-label>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel class="expansion__panel" *ngFor="let question of measure.preguntas">
              <mat-expansion-panel-header class="header__expansion-panel">
                <mat-action-row>
                  <button class="icon__btn" mat-icon-button>
                    <mat-icon class="icon-conten" (click)="addNewQuestion(measure.id)">add</mat-icon>
                  </button>
                  <button class="icon__btn" mat-icon-button (click)="remove('question',question.id)">
                    <mat-icon class="icon-conten">restore_from_trash</mat-icon>
                  </button>
                </mat-action-row>
                <mat-panel-title class="information-content question">
                  <mat-label class="label__content label-question">
                    Pregunta {{question.position}}: {{question.name}}
                  </mat-label>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
