.block-container {
    width: 100%;
    margin: 0px auto;
  }
  
  .expansion__panel {
    background-color: #205072;
  }
  
  .header__expansion-panel {
    background-color: #205072;
    border-radius: 0px;
    cursor: none;
  }
  .mat-expansion-panel:hover {
    background: rgba(255, 255, 255,0.1);
    border-radius: 0px;
    cursor: pointer;
}
.mat-expansion-panel {
    background: rgba(255, 255, 255,0.1);
  }
  
  .borde-header__expacion-panel {
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
  }
  
  .toolbar__expansion-panel {
    background-color: #0e3e54;
    padding: 5px 24px;
    height: 48px;
  }
  
  .new-add__btn {
    background-color: #be889c;
    color: #ffffff;
  }
  
  .information-content {
    display: flex;
    flex-direction: row;
    justify-content: space-betweens;
    align-items: center;
    color: #ffffff;
  }
  
  .measure {
    padding-left: 10px;
  }
  
  .question {
    padding-left: 20px;
  }
  
  .icon-conten {
    color: #ffffff;
  }
  
  ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
  }
  
  ::ng-deep.mat-expansion-indicator::after {
    color: #ffffff;
  }
  ::ng-deep.mat-expansion-panel-header.mat-expanded:focus {
    background: rgba(255, 255, 255,0.2) !important;
  }
  
  .back-btn {
    width: 100%;
    height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
  }
  
  .back-icon__btn {
    /* transform: rotate(180deg); */
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .back-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #205072;
  }
  
  .label-block {
    font-size: 18px;
    max-width: 316px;
    max-height: 36px;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .label-measure {
    font-size: 14px;
    max-width: 280px;
    max-height: 36px;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .label-question {
    font-size: 12px;
    max-width: 200px;
    max-height: 36px;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .label__content:hover {
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
  }