.card {
  width: 100%;
  height: 620px;
  overflow-y: auto;
}

.spacer {
  flex: 1 auto;
}

.btn-action {
  color: #85CE36;
}

.btn-container-r{
  position: relative;
}
.input-hidden{
  opacity: 0;
  cursor: pointer !important;
  position: absolute; /* don't let it take up space */
  width: 30px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-cloud{
 position: relative;
}


.card {
  height: 700px;
  overflow-y: auto;
}

.card .card-content {
  height: 47%;
}

textarea {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
  resize: vertical;
  min-height: 150px;
}

.textarea-title {
  font-size: 1.25rem;
}

.data-title:hover {
  /* background-color: #F0F3F6; */
  cursor: pointer;
  /* transition: 0.3s; */
  box-shadow: 0px 5px 9px #00000025;
}

.btn-save {
  /* background-color: #85CE36; */
  color: #85CE36;
}


.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.crop-image{
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.crop-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
}


.media-left:hover {
  cursor: pointer;
  box-shadow: 0px 5px 16px #b2b2b2;
  transition: 0.3s;
  border-radius: 50%;
}

.rounded-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 5px 16px #b2b2b2;
  border: 1px solid #85CE36;
}