<div class="card" *ngIf="testimonial" [formGroup]="testimonialForm">
  <div class="card-image">
    <figure class="crop-image">
      <img [src]="testimonial.main_image || 'https://bulma.io/images/placeholders/1280x960.png'" alt="imagen principal">
    </figure>
  </div>
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="crop-image rounded-image" role="button" (click)="fileUserUpload.click()">
          <img [src]="testimonial.user_image" alt="imagen de usuario">
        </figure>
        <input
          #fileUserUpload
          type="file"
          style="display: none;"
          accept="image/png, image/gif, image/jpeg, image/jpg"
          (change)="upload($event, 'user')"
        />
      </div>
      <div class="media-content">
        <p 
          class="title is-5 data-title"
          role="button"
          *ngIf="!isName"
          (click)="showInput('name')"  
          >
          {{ testimonial.name || 'No Configurado'}}
        </p>
        <textarea
          class="textarea-title"
          autofocus
          formControlName="name"
          type="text"
          maxlength="130"
          *ngIf="isName" 
          (focusout)="saveChange('name')"
          >
        </textarea>
      </div>
    </div>

    <div class="content">
      <p
        role="button"
        *ngIf="!isDescription"
        (click)="showInput('description')"
      >
        {{testimonial.description || 'No asignado'}}
      </p>
      <textarea
        class="textarea-description" 
        autofocus
        formControlName="description"
        type="text" 
        maxlength="400"
        *ngIf="isDescription" 
        (focusout)="saveChange('description')"
      >
      </textarea>
      <br>
      <!-- <span>{{(project.date | async) || 'No asignado'}}</span> -->
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="statusUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
<mat-toolbar [formGroup]="testimonialForm" class="mat-elevation-z6">
  <!-- <button mat-icon-button color="warn"> -->
  <time datetime="mm-dd-yy">{{testimonial.date.toDate() | date}}</time>
  <input style="display: none;" matInput formControlName="date" [matDatepicker]="picker">
  <mat-datepicker touchUi  #picker (closed)="changeDate()"></mat-datepicker>
  <span class="spacer"></span>
  <button mat-icon-button (click)="picker.open()">
    <mat-icon aria-hidden="false" aria-label="{2:label} icon">event</mat-icon>
  </button>
    <button mat-icon-button color="warn" (click)="deleteAward()">
    <mat-icon aria-label="label">delete</mat-icon>
  </button>
  <button mat-icon-button color="accent" (click)="fileMainUpload.click()">
    <mat-icon
      class="material-icons-outline icon-cloud btn-action"
      aria-label="subir imagen icon"
      >cloud_upload</mat-icon
    >
    <input
      #fileMainUpload
      type="file"
      style="display: none;"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="upload($event, 'main')"
    />
  </button>
</mat-toolbar>