.spacer {
    flex: 1 auto;
}

.measure-toolbar {
    background-color: white;
}
.measure-description{
    font-size: 0.875rem;
}
.label-toolbar {
    background-color: inherit;
}
.measure-info {
    display: flex;
    flex-direction: column;
}
.label-question{
    font-size: 0.875rem;
}