<mat-progress-bar mode="query" *ngIf="state"></mat-progress-bar>
<mat-drawer-container class="example-container" autosize>
    <mat-toolbar *ngIf="measure" class="measure-toolbar">
      <div class="measure-info">
        <span class="measure-description">Descripción: {{measure.description}}</span>
        <span class="measure-description">Porcentaje: {{measure.porcentage |number }} %</span>
      </div>
        <span class="spacer"></span>
        <button mat-icon-button>
          <mat-icon aria-label="label" color="primary" (click)="addNewQuestion()">add</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="label" color="primary" (click)="editeMeasure()">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="label" color="primary" (click)="deleteMeasure()">delete_outline</mat-icon>
        </button>
    </mat-toolbar>
    <mat-vertical-stepper #stperQuestion *ngIf="questions">
      <mat-step *ngFor="let question of questions">
        <ng-template matStepLabel>
          <mat-toolbar class="label-toolbar">
            <span class="label-question">{{question.name}}</span>
          </mat-toolbar>
        </ng-template>
        <app-question-detail [question]="question" [steper]="stperQuestion" (newEditEvent)="getQuestions($event)"></app-question-detail>
      </mat-step>
    </mat-vertical-stepper>
    
    <mat-drawer #drawer class="example-sidenav" mode="over" position="end" fixedInViewport>
      <button (click)="drawer.toggle()" mat-raised-button>
        Close
      </button>
    </mat-drawer>
  </mat-drawer-container>