<mat-toolbar>
  <span>Editar Banner</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="banner" class="columns main">
  <div class="column">
    <div *ngIf="statusUpload">
      <br>
      <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
    </div>
    <figure class="main-img__banner">
      <img [src]="imgBanner" alt="imagen del banner">
    </figure>
  </div>
  <div class="column">

    <form [formGroup]="bannerForm" (ngSubmit)="saveChange()" class="main-form">
      <mat-form-field appearance="outline">
        <mat-label>Titulo del Banner:</mat-label>
        <textarea matInput formControlName="title"></textarea>
      </mat-form-field>
      <div class="main-url">
        <mat-form-field class="main-text-area" appearance="outline">
          <mat-label>Url de la imagen:</mat-label>
          <textarea matInput formControlName="image_path"></textarea>
        </mat-form-field>
        <button type="button" mat-icon-button (click)="clearPath()">
          <mat-icon aria-label="label">clear</mat-icon>
        </button>
      </div>
      <div class="main-option">
        <div class="divider"></div>
        <span>ó</span>
        <div class="divider"></div>
      </div>
      <br>
      <input type="file" id="archivo" accept="image/x-png,image/gif,image/jpeg,image/png" (change)="upload($event)">
      <label for="archivo">
        <mat-icon>upload</mat-icon>
        <span>Subir Imagen</span>
      </label>
      <br>
      <button class="btn-save" mat-raised-button [disabled]="!bannerForm.valid">Guardara Cambios</button>
      <mat-progress-bar *ngIf="status" mode="query"></mat-progress-bar>
      <br>
      <button class="btn-close" mat-button matDialogClose>Cancelar</button>
    </form>
  </div>
</div>
