<mat-toolbar>
  <span>{{title}}</span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="container-tab">
  <mat-tab-group class="tab-toolbar" (selectedIndexChange)="changeTab($event)">
    <mat-tab label="Nosotros">
      <section class="section">
        <div class="columns is-multiline">
          <div class="column is-12-mobile is-6-tablet" *ngFor="let item of aboutUsList">
            <app-about-us [about]="item"></app-about-us>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="columns is-multiline">
          <div class="column is-12-mobile is-4-tablet is-3-desktop" *ngFor="let item of aboutImageList">
            <app-about-image [aboutImage]="item"></app-about-image> 
          </div>
        </div>
      </section>
    </mat-tab>


    <mat-tab label="Equipo">
      <app-team [aboutTeam]="aboutTeamList"></app-team>  
    </mat-tab>
  </mat-tab-group>
</div>