/*Configuration general*/
.label-subtitle{
    color:#3B7097 !important; 
    white-space: initial ;
}
.form-group{
   display: initial;
}
.mat-form-field-infix{
   padding: 20px;
   position: inherit !important;
}

input.mat-input-element {
   margin-top: 0.9375em;
}
.mat-select {
   padding-bottom: 13px !important;
}
/*configuration css socios*/
.content-title{
    display: flex;
    justify-content: center;
}
.content-item-title{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.btn-add{
    color: #FA897B;
    cursor: pointer;
}
.btn-delete{
    margin-right: 10px;
}
.content-form{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    
}
.list-inpust{
    width: 80%;
}
.content-list-inputs-1{
    display: flex;
}
.groups-form-field{
    width: 33%;
    padding-left: 5px;
    padding-right: 5px;
}
.content-list-inputs-2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn-register {
    background-color: #fa897b;
    padding: 16px 10px 16px 10px;
    text-decoration: none;
    border: 1px solid burlywood;
    border-radius: 8px;
    color: white;
    cursor: pointer;
  }
  .content-btn{
      display: flex;
      justify-content: flex-end;
  }
  .content-expansion-panel{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
  .content-acordion{
     width: 85%;
     padding-bottom: 15px;
  }
   .expansion-panel{
      margin-bottom: 10px;
      margin-top: 15px;
  }
  .content-next-previus{
      display: flex;
      justify-content: space-between;
  }
  .btn-advance{
    border: none;
    background-color: initial;
    cursor: pointer;
  }