
<div class="content-nomina-socio">
    <div class="content-title">
        <div class="content-item-title">
            <h3 style="font-size: 24px;">Nomina de Socio:</h3>
            <a (click)="addSocio()" class="btn-add"><fa-icon class="icon-add" [icon] = "faPlus" > </fa-icon>Nuevo Socio</a>
        </div>
    </div>
    <div class="content-expansion-panel">
        <div class="content-acordion" >
            <mat-accordion id="{{element}}" *ngFor="let element of elementsNews">
                <mat-expansion-panel class="expansion-panel" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Nombre
                        </mat-panel-title>
                        <mat-panel-description>
                            Documento de Identidad {{panelOpenState ? 'open' : 'closed'}}
                        </mat-panel-description>
                        <a (click)="delete(element)" class="btn-delete"> <fa-icon [icon] = "faTrashAlt" > </fa-icon> </a>
                        <fa-icon [icon] = "faSortDown" > </fa-icon>
                    </mat-expansion-panel-header>
                    <div class="content-form">
                        <div class="list-inpust" >
                            <div class="content-list-inputs-1">
                                <div class="groups-form-field">
                                    <mat-form-field class="form-group" appearance="legacy">
                                        <mat-label class="label-subtitle">Nombre:</mat-label>
                                        <input matInput placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <div class="groups-form-field">
                                    <mat-form-field class="form-group" appearance="legacy">
                                        <mat-label class="label-subtitle">Documento de Identidad:</mat-label>
                                        <input matInput placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <div class="groups-form-field">
                                    <mat-form-field class="form-group" appearance="legacy">
                                        <mat-label class="label-subtitle">Expedido en:</mat-label>
                                        <mat-select [(value)]="selected">
                                            <mat-option >None</mat-option>
                                            <mat-option value="option1">CBBA</mat-option>
                                            <mat-option value="option2">LPZ</mat-option>
                                            <mat-option value="option3">SC</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
        
                            </div>
                            <div class="content-list-inputs-2">
                                <div class="groups-form-field">
                                    <mat-form-field class="form-group" appearance="legacy">
                                        <mat-label class="label-subtitle">Apoderado:</mat-label>
                                        <input matInput placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                                <div class="groups-form-field">
                                    <mat-form-field class="form-group" appearance="legacy">
                                        <mat-label class="label-subtitle">instrumento poder:</mat-label>
                                        <input matInput placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="content-btn">
                                <button class="btn-register"> GUARDAR CAMBIOS</button>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
</div>
<div class="content-next-previus">
    <button (click)="anterior($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-volver-naranja.png" alt="" ></button>

    <button (click)="siguiente($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-siguiente-naranja.png" alt="" ></button>
</div>
