<div class="content-flex-center">
  <div class="box-size p-20 box-shade">
    <h3 class="title-principal">Porcentaje de Participación</h3>
    <div class="content-table">
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of columnsToDisplay; let i = index"
        >
          <th mat-header-cell *matHeaderCellDef>
            <ng-container>
              {{ column }}
            </ng-container>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div>
                <div class="content-flex-center">
                  <div class="size-content-expansion-panel">
                    <div class="box-img-capital">
                      <img
                        src="./../../../../../../../assets/images/evaluation/img-table-participacion.png"
                        alt="img-capital-social"
                      />
                    </div>
                    <div class="box-subtable-capital">
                      <div class="content-title">
                        <h2>Nomina de Socios</h2>
                        <a href=""
                          ><fa-icon class="icon" [icon]="faPlus"> </fa-icon
                        ></a>
                      </div>
                      <div class="content-subtable">
                        <table
                          mat-table
                          [dataSource]="dataSubtable"
                          class="mat-elevation-z8"
                        >
                          <!-- name Column -->
                          <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef>Nombre</th>
                            <td mat-cell *matCellDef="let element">
                              {{ element.nombre }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>Total</td>
                          </ng-container>

                          <!-- bs Column -->
                          <ng-container matColumnDef="participacion">
                            <th mat-header-cell *matHeaderCellDef>
                              % Participación
                            </th>

                            <td mat-cell *matCellDef="let element">
                              {{ element.participacion }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>1000</td>
                          </ng-container>

                          <!-- Sus Column -->
                          <ng-container matColumnDef="aporte">
                            <th mat-header-cell *matHeaderCellDef>
                              Aporte (Bs)
                            </th>
                            <td mat-cell *matCellDef="let element">
                              {{ element.aporte }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>2000</td>
                          </ng-container>
                          <ng-container matColumnDef="cuotas_capital">
                            <th mat-header-cell *matHeaderCellDef>
                              # Cuotas Capital
                            </th>
                            <td mat-cell *matCellDef="let element">
                              {{ element.cuotas_capital }}
                            </td>
                            <td mat-footer-cell *matFooterCellDef>4000</td>
                          </ng-container>

                          <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                          ></tr>
                          <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                          ></tr>
                          <tr
                            mat-footer-row
                            *matFooterRowDef="displayedColumns"
                          ></tr>
                        </table>
                      </div>

                      <div class="content-flex-center">
                        <button class="btn-guardar">Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </div>
  </div>
</div>

<div class="content-flex-center">
<div>
    <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [width]="width"
        [height]="heigth"
      >
    </canvas>
  </div>
  <div >
    <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [width]="width"
        [height]="heigth"
      >
    </canvas>
  </div>
  <div >
    <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [width]="width"
        [height]="heigth"
      >
    </canvas>
  </div>
</div>
<div style="display: block">
  <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
<div class="content-next-previus">
  <button (click)="anterior($event)" class="btn-advance" type="submit">
    <img
      src="./../../../../../../../assets/images/evaluation/btn-volver-naranja.png"
      alt=""
    />
  </button>

  <button (click)="siguiente($event)" class="btn-advance" type="submit">
    <img
      src="./../../../../../../../assets/images/evaluation/btn-siguiente-naranja.png"
      alt=""
    />
  </button>
</div>
