<mat-toolbar class="mat-elevation-z6">
  <span>Testimonios</span>
  <span class="spacer"></span>
  <button mat-mini-fab color="accent" style="color: white;" (click)="addTestimonial()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
</mat-toolbar>

<section *ngIf="testimonials" class="section">
  <div class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet is-4-desktop" *ngFor="let item of testimonials">
      <app-testimonial [testimonial]="item"></app-testimonial>
    </div>
  </div>
</section>