<mat-toolbar class="measure-toolbar">
  <span class="title-measure">Medida {{dataMeasure.position}}: <strong>{{dataMeasure.name}}</strong> </span>
  <span class="spacer"></span>
  <button *ngIf="rolHidden" (click)="openDialogEdit(dataMeasure.id)" class="create-icon__btn" mat-icon-button>
    <mat-icon>create</mat-icon>
  </button>
  <button *ngIf="rolHidden" class="icon__btn" mat-icon-button>
    <mat-icon class="icon-conten" (click)="addNewQuestion()">add</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="hiddenProgressListBlock"></mat-progress-bar>