.spacer {
  flex: 1 1 auto;
}

.title-measure {
  /* max-width: 100px; */
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  word-wrap: break-word;
  /* word-break: break-all; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.measure-toolbar {
  background-color: #ffffff;
  color: #406880;
  border-bottom: 1px solid rgba(14, 62, 84, 0.2);
}

.create-icon__btn:focus {
  background-color: inherit;
}
