.spacer {
  flex: 1 auto;
}
.form-content {
  display: flex;
  flex-direction: column;
}
.form-content button {
  width: 100%;
}
.link-ref {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}input#archivo {
  display: none;
}
input#archivo + label {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 77px;
  padding: 0px 8px;
  margin-bottom: 16px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}
input#archivo + label:hover {
  cursor: pointer;
  /* background-color: #FA897B; */
  transition: 0.3s;
  color: #FA897B;
}
