<mat-dialog-content>
  <mat-toolbar>
    <span>Dato Extra</span>
    <span class="spacer"></span>
    <button mat-icon-button matDialogClose>
      <mat-icon >close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
  <form class="form-content" [formGroup]="extraDataForm" (ngSubmit)="saveExtraData()">
    <br>
    <ul>
      <li>Asegurese de haber <strong>creado antes su nueva empresa </strong> de lo contrario prosiga con la operación</li>
    </ul>
    <br>
    <mat-form-field>
      <mat-label>Nombre del Dato</mat-label>
      <input matInput formControlName="data_name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Informacion del Dato</mat-label>
      <input matInput formControlName="data">
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Tipo de Archivo</mat-label>
      <mat-select formControlName="type">
        <mat-option (click)="changeTypeData(type.value)" *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <input type="file" id="archivo" [accept]="typeData" (change)="upload($event)">
    <label for="archivo">
      <mat-icon>cloud_upload</mat-icon>
      <span>Subir Archivo</span>
    </label>
    <br>
    <a mat-button color="primary" target="_blank" class="link-ref"
    [href]="dataSrc | async">{{dataSrc | async}}</a>
    <br>
    <button type="submit" mat-raised-button color="warn" >Guardar Cambios</button>
  </form>
</mat-dialog-content>
