.animated-digit {
  display: inline-flex;
  height: 60px;
  width: 60px;
  color: white;
  /* background: rgba(0, 0, 0, 0.2) 20%; */
  text-align: center;
  padding: 24px;
  /* border-radius: 60px; */
  /* border: 2px solid #e8cce9; */
  justify-content:center;
  align-items: center;
  font-size:32pt;
}

.card {
  height: 320px;
  text-align: center;
  background-color: none;
  background: none;
  overflow-y: auto;
}

.card-image {
  text-align: center;
  display: flex;
  justify-content: center;
}

.image {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content {
  color: white;
}

.actions-btn {
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.upload-action {
  background-color: #85CE36;
  color: white;
  position: relative;
}
.delete-action {
  background-color: #ce3b36;
  color: white;
}

.input-hidden{
  opacity: 0;
  cursor: pointer !important;
  position: absolute; /* don't let it take up space */
  width: 30px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
  color: back;
}

textarea {
  color: back;
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
  resize: vertical;
  min-height: 150px;
}