<div class="card" [formGroup]="indicatorForm">
  <div class="card-image is-center">
    <figure class="image is-5x5">
      <img [src]="indicator.image" alt="Placeholder image">
    </figure>
  </div>
  <div
    #animatedDigit class="animated-digit">
    <span>{{digit}}</span>
  </div>
  <input
    class="input-title"
    formControlName="indicator"
    type="number"
    *ngIf="true" 
    (focusout)="saveChange('title')"
    />
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p
          class="content is-4 is-center"
          role="button"
          *ngIf="!isDescription"
          (click)="showInput('description')"
          >{{indicator.description}}
        </p>
        <textarea
          class="textarea-description" 
          autofocus
          formControlName="description"
          type="text" 
          maxlength="110"
          *ngIf="isDescription" 
          (focusout)="saveChange('description')"
        >
        </textarea>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="statusUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
<div class="actions-btn">
  <button class="delete-action" mat-icon-button (click)="deleteindicator()">
    <mat-icon aria-label="label" >delete</mat-icon>
  </button>
  <button class="upload-action btn-container-r" mat-icon-button>
    <mat-icon aria-label="label">cloud_upload</mat-icon>
    <input
      type="file"
      class="input-hidden"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="upload($event)"
    />
  </button>
</div>
