<div class="card" [formGroup]="caminnosForm">
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="caminnosForm.controls.image.value" alt="imagen representativa">
      <!-- <img [src]="caminno.image | async" alt="imagen representativa"> -->
    </figure>
  </div>
  <mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
  <div class="card-content">
    <div>
      <div class="media">
        <div class="media-content">
          <p 
            class="title is-5 data-title"
            role="button"
            *ngIf="!isTitle"
            (click)="showInput('title')"  
            >
            {{ caminno.title || 'No Configurado'}}
          </p>
          <textarea
            class="textarea-title" 
            autofocus
            formControlName="title"
            type="text" 
            maxlength="130"
            *ngIf="isTitle" 
            (focusout)="saveChange('title')"
            >
          </textarea>
        </div>
      </div>

      <div 
        class="content"
        role="button"
        *ngIf="!isDescription"
        (click)="showInput('description')"  
      >
        {{ caminno.description || 'No Configurado' }}
      </div>
      <textarea
        class="textarea-description" 
        autofocus
        formControlName="description"
        type="text" 
        maxlength="320"
        *ngIf="isDescription" 
        (focusout)="saveChange('description')"
      >
      </textarea>
    </div>
    <footer class="card-footer">
      <button mat-button class="btn-save">Componentes</button>.
      <button mat-icon-button class="btn-container-r">
        <mat-icon
          class="material-icons-outline icon-cloud"
          color="primary"
          aria-label="subir imagen icon"
          >cloud_upload</mat-icon
        >
        <input
          type="file"
          class="input-hidden"
          accept="image/png, image/gif, image/jpeg, image/jpg"
          (change)="upload($event)"
        />
      </button>
    </footer>
    <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
  </div>
</div>