
.card {
  height: 700px;
  overflow-y: auto;
}

.card .card-content {
  height: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
  resize: vertical;
  min-height: 150px;
}

.textarea-title {
  font-size: 1.25rem;
}

.data-title:hover {
  /* background-color: #F0F3F6; */
  cursor: pointer;
  /* transition: 0.3s; */
  box-shadow: 0px 5px 9px #00000025;
}

.btn-save {
  /* background-color: #85CE36; */
  color: #85CE36;
}

input#archivo {
  display: none;
}
input#archivo + label {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #85CE36; */
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  color: #85CE36;
}
input#archivo + label:hover {
  cursor: pointer;
  background-color: #b2b2b225;
  transition: 0.3s;
  color: #85CE36;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


 /*Cloud btn*/
.btn-container-r{
  position: relative;
}
.input-hidden{
  opacity: 0;
  cursor: pointer !important;
  position: absolute; /* don't let it take up space */
  width: 30px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-cloud{
  position: relative;
  color: #85CE36;
}