<mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button (click)="back()">
    <mat-icon aria-hidden="false" aria-label="{2:label} icon">arrow_back</mat-icon>
  </button>
  <span>Crear Nuevo Proyecto</span>
</mat-toolbar>

<div class="container">
  <div class="columns">
    <div class="column">
      <mat-horizontal-stepper #stepper>
        <!-- First form of main information project -->
        <mat-step [stepControl]="firstFormGroup">
          <div class="columns is-multiline">
            <div class="column is-12 is-6-desktop">
              <form [formGroup]="firstFormGroup" class="main-form">
                <ng-template matStepLabel>Datos Principales</ng-template>
                <mat-form-field appearance="outline">
                  <mat-label>Titulo</mat-label>
                  <input matInput placeholder="Ingresa el titulo de tu proyecto" formControlName="title" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Subtitulo:</mat-label>
                  <input matInput placeholder="Ingresa el subtitulo" formControlName="subtitle" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Descripción:</mat-label>
                  <textarea matInput placeholder="Ingresa una descripción" formControlName="description"
                    required></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Fecha del proyecto:</mat-label>
                  <input matInput formControlName="date" [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="columns is-multiline">
                  <div class="column is-12 is-6-desktop main-form">
                    <mat-form-field appearance="outline">
                      <mat-label>Pais:</mat-label>
                      <input matInput placeholder="Ingresa el pais" formControlName="country">
                    </mat-form-field>
                  </div>
                  <div class="column is-12 is-6-desktop main-form">
                    <mat-form-field appearance="outline">
                      <mat-label>Ciudad:</mat-label>
                      <input matInput placeholder="Ingresa la ciudad" formControlName="town">
                    </mat-form-field>
                  </div>
                </div>
                <div class="columns is-multiline">
                  <div class="column is-10 main-form">
                    <mat-form-field class="main-text-area" appearance="outline">
                      <mat-label>Url de la imagen:</mat-label>
                      <textarea matInput formControlName="first_img"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="column is-2 main-form">
                    <button type="button" mat-icon-button (click)="clearPath(0)">
                      <mat-icon aria-label="label">clear</mat-icon>
                    </button>
                  </div>
                </div>
                <div class="main-option">
                  <div class="divider"></div>
                  <span>ó</span>
                  <div class="divider"></div>
                </div>
                <br>
                <input type="file" id="archivo" [disabled]="!firstFormGroup.valid"
                  accept="image/x-png,image/gif,image/jpeg,image/png" (change)="upload($event, 0)">
                <label for="archivo">
                  <mat-icon>upload</mat-icon>
                  <span>Subir Imagen</span>
                </label>
                <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
                <div class="main-btn">
                  <span class="spacer"></span>
                  <button class="btn-next" mat-button matStepperNext [disabled]="!firstFormGroup.valid">
                    Siguiente
                    <mat-icon aria-hidden="false" aria-label="{2:label} icon">navigate_next</mat-icon>
                  </button>
                </div>
              </form>
            </div>
            <div class="column is-12 is-6-desktop">
              <figure class="main-img__information">
                <img [src]="imgProject || 'assets/images/caminnos/image-data.svg'" alt="imagen del proyecto">
              </figure>
            </div>
          </div>
        </mat-step>



        <!-- Second form of about information project -->
        <mat-step [stepControl]="secondFormGroup" label="Acerca del Proyecto">
          <div class="columns is-multiline">
            <div class="column is-12 is-5-desktop main-about">
              <form [formGroup]="secondFormGroup" class="main-form">
                <mat-form-field appearance="outline">
                  <mat-label>Acerca del proyecto</mat-label>
                  <textarea class="textarea-about" [cdkTextareaAutosize] matInput formControlName="about" placeholder="Ingresa un resumen acerca del proyecto"
                    required></textarea>
                </mat-form-field>
                <mat-toolbar class="mat-elevation-z1">Información de los banners</mat-toolbar>
                <br>
                <mat-accordion>

                  <!-- First banner -->
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        {{secondFormGroup.controls.first_title_banner.value || 'Titulo 1'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="main-form">
                      <mat-form-field class="main-text-area" appearance="outline">
                        <mat-label>Titulo del primer banner:</mat-label>
                        <textarea matInput formControlName="first_title_banner"></textarea>
                      </mat-form-field>
                    </div>
                    <div class="columns is-multiline">
                      <div class="column is-9 main-form">
                        <mat-form-field class="main-text-area" appearance="outline">
                          <mat-label>Url de la imagen:</mat-label>
                          <textarea matInput formControlName="first_img_banner"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="column is-1 main-form">
                        <button type="button" mat-icon-button (click)="clearPath(1)">
                          <mat-icon aria-label="label">clear</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div class="main-option">
                      <div class="divider"></div>
                      <span>ó</span>
                      <div class="divider"></div>
                    </div>
                    <br>
                    <input type="file" id="archivo-1" accept="image/x-png,image/gif,image/jpeg,image/png" (change)="upload($event, 1)">
                    <label for="archivo-1">
                      <mat-icon>upload</mat-icon>
                      <span>Subir Imagen</span>
                    </label>
                    <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
                  </mat-expansion-panel>

                  <br>

                    <!-- Second Banner -->
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        {{secondFormGroup.controls.second_title_banner.value || 'Titulo 2'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field class="main-text-area" appearance="outline">
                      <mat-label>Titulo del segundo banner:</mat-label>
                      <textarea matInput formControlName="second_title_banner"></textarea>
                    </mat-form-field>
                    <div class="columns is-multiline">
                      <div class="column is-9 main-form">
                        <mat-form-field class="main-text-area" appearance="outline">
                          <mat-label>Url de la imagen:</mat-label>
                          <textarea matInput formControlName="second_img_banner"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="column is-1 main-form">
                        <button type="button" mat-icon-button (click)="clearPath(2)">
                          <mat-icon aria-label="label">clear</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div class="main-option">
                      <div class="divider"></div>
                      <span>ó</span>
                      <div class="divider"></div>
                    </div>
                    <br>
                    <input type="file" id="archivo-2" accept="image/x-png,image/gif,image/jpeg,image/png" (change)="upload($event, 2)">
                    <label for="archivo-2">
                      <mat-icon>upload</mat-icon>
                      <span>Subir Imagen</span>
                    </label>
                    <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>

                  </mat-expansion-panel>

                  <br>

                  <!-- Third banner -->
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-description>
                        {{secondFormGroup.controls.third_title_banner.value || 'Titulo 3'}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field class="main-text-area" appearance="outline">
                      <mat-label>Titulo del tercer banner:</mat-label>
                      <textarea matInput formControlName="third_title_banner"></textarea>
                    </mat-form-field>
                    <div class="columns is-multiline">
                      <div class="column is-9 main-form">
                        <mat-form-field class="main-text-area" appearance="outline">
                          <mat-label>Url de la imagen:</mat-label>
                          <textarea matInput formControlName="third_img_banner"></textarea>
                        </mat-form-field>
                      </div>
                      <div class="column is-1 main-form">
                        <button type="button" mat-icon-button (click)="clearPath(3)">
                          <mat-icon aria-label="label">clear</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div class="main-option">
                      <div class="divider"></div>
                      <span>ó</span>
                      <div class="divider"></div>
                    </div>
                    <br>
                    <input type="file" id="archivo-3" accept="image/x-png,image/gif,image/jpeg,image/png" (change)="upload($event, 3)">
                    <label for="archivo-3">
                      <mat-icon>upload</mat-icon>
                      <span>Subir Imagen</span>
                    </label>
                    <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
                  </mat-expansion-panel>
                </mat-accordion>
                <br>

                <div class="main-btn">
                  <button class="btn-previous" mat-button matStepperPrevious>
                    <mat-icon aria-hidden="false" aria-label="{2:label} icon">chevron_left</mat-icon>
                    Volver
                  </button>
                  <span class="spacer"></span>
                  <button class="btn-next" mat-button matStepperNext [disabled]="!secondFormGroup.valid">
                    Siguiente
                    <mat-icon aria-hidden="false" aria-label="{2:label} icon">chevron_right</mat-icon>
                  </button>
                </div>
              </form>
            </div>
            <div class="column is-12 is-7-desktop">
              <mat-toolbar class="mat-elevation-z1">
                Acerca del Proyecto
              </mat-toolbar>
              <div class="main-text">
                <app-empty-state *ngIf="!secondFormGroup.controls.about.value"></app-empty-state>
                <p>{{secondFormGroup.controls.about.value}}</p>
              </div>
              <mat-toolbar class="mat-elevation-z1">
                Previsualización de Banners
              </mat-toolbar>
              <br>
              <swiper class="main-swiper"
              [slidesPerView]="1" 
              [navigation]="true" 
              [pagination]="{ clickable: true }"
              [thumbs]="{ swiper: thumbsSwiper }"
              [autoplay]="true">
              <ng-template swiperSlide>
                <figure class="main-banner__desktop">
                  <img [src]="secondFormGroup.controls.first_img_banner.value" alt="imagen del banner">
                  <div class="main-banner__title">
                    <p>{{secondFormGroup.controls.first_title_banner.value}}</p>
                  </div>
                </figure>
              </ng-template>
              <ng-template swiperSlide>
                <figure class="main-banner__desktop">
                  <img [src]="secondFormGroup.controls.second_img_banner.value" alt="imagen del banner">
                  <div class="main-banner__title">
                    <p>{{secondFormGroup.controls.second_title_banner.value}}</p>
                  </div>
                </figure>
              </ng-template>
              <ng-template swiperSlide>
                <figure class="main-banner__desktop">
                  <img [src]="secondFormGroup.controls.third_img_banner.value" alt="imagen del banner">
                  <div class="main-banner__title">
                    <p>{{secondFormGroup.controls.third_title_banner.value}}</p>
                  </div>
                </figure>
              </ng-template>
            </swiper>
            </div>
          </div>
        </mat-step>



        <!-- Third form of main information -->
        <mat-step>
          <div *ngIf="status" class="main-load">
            <app-load></app-load>
          </div>
          <ng-template matStepLabel>Nuestra experiencia</ng-template>

          <form #demoForm="ngForm">
            <file-upload [(ngModel)]="uploadedFiles" accept="image/*" fileslimit="2" name="files"
            >
            </file-upload>
          </form>
          <div *ngIf="imageList.length != 0" class="columns is-multiline">
            <div class="column is-12 is-6-desktop" *ngFor="let image of imageList">
              <figure class="main-img__information main-img__project">
                <img [src]="image" alt="imagen del proyecto">
              </figure>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="uploadMultipleFile()">Subir Archivos</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
