.container {
  padding-top: 30px;
}

.main-img__information {
  height: 650px;
  overflow: hidden;
  position: relative;
  /* box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25); */
  border: 1px solid rgba(0, 0, 0, 0.20);
  border-radius: 8px;
}

.main-img__information img {
  max-width: 100%;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

mat-horizontal-stepper {
  height: 80vh;
  overflow-y: auto;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #85CE36;
}
::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: #85CE36;
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #85CE36;
}

.main-btn {
  display: flex;
}

.btn-next:not([disabled]) {
  background-color: #85CE36;
}

.spacer {
  flex: 1 auto;
}

.btn-previous {
  border: 1px solid #85CE36
}


.main-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-option span {
  padding: 0px 10px;
}

.divider {
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}


input#archivo {
  display: none;
}
input#archivo + label:not([disabled]) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #85CE36;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}
input#archivo + label:hover:not([disabled]) {
  cursor: pointer;
  /* background-color: #FA897B; */
  transition: 0.3s;
  color: #85CE36;
}



input#archivo-1 {
  display: none;
}
input#archivo-1 + label:not([disabled]) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #85CE36;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}
input#archivo-1 + label:hover:not([disabled]) {
  cursor: pointer;
  /* background-color: #FA897B; */
  transition: 0.3s;
  color: #85CE36;
}



input#archivo-2 {
  display: none;
}
input#archivo-2 + label:not([disabled]) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #85CE36;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}
input#archivo-2 + label:hover:not([disabled]) {
  cursor: pointer;
  /* background-color: #FA897B; */
  transition: 0.3s;
  color: #85CE36;
}



input#archivo-3 {
  display: none;
}
input#archivo-3 + label:not([disabled]) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #85CE36;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}
input#archivo-3 + label:hover:not([disabled]) {
  cursor: pointer;
  /* background-color: #FA897B; */
  transition: 0.3s;
  color: #85CE36;
}

.main-about {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.main-text {
  max-width: 800px;
  word-wrap: break-word;
  padding: 20px;
  font-size: 1.50rem;
}
.textarea-about {
  overflow-y: hidden;
}
.main-banner__desktop {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-banner__desktop img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  background: linear-gradient(0deg, rgba(58, 70, 81, 0.2), rgba(58, 70, 81, 0.2));
  z-index: -1;
}


.main-banner__title{
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 99;
  background: rgba(58, 70, 81, 0.30);
}
.main-banner__title p{
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  max-height: 150px;
  word-wrap: break-word;
}

.main-swiper {
  width: 700px;
}

mat-panel-description {
  max-width: 500px;
}

.main-img__project {
  height: 350px;
}




mat-horizontal-stepper::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  /* display: none;  Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
mat-horizontal-stepper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
mat-horizontal-stepper::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
mat-horizontal-stepper::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
mat-horizontal-stepper::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
mat-horizontal-stepper::-webkit-scrollbar-track:hover,
mat-horizontal-stepper::-webkit-scrollbar-track:active {
background: #d4d4d4;
}


