<div class="content-flex-center">
    <div class="box-size prl-20">
        <h2 class="title-principal line-bottom">Transferencia de Cuotas</h2>
        <div class="w-377">
            <mat-form-field class="form-group" appearance="legacy">
                <mat-label class="label-subtitle" >Autorizado por:</mat-label>
                <input  matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
        <div class="box-shade p-20 mb-20">
                <h3 class="title-principal">I</h3>
                <table mat-table [dataSource]="dataTableI" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="oferta">
                      <th mat-header-cell *matHeaderCellDef>1ra Oferta</th>
                      <td mat-cell *matCellDef="let element"> {{element.oferta}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="derecho_preferente">
                      <th mat-header-cell *matHeaderCellDef> Derecho Preferente </th>
                      <td mat-cell *matCellDef="let element"> {{element.derecho_preferente}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="plazo">
                      <th mat-header-cell *matHeaderCellDef> Plazo para ejercicio (#dias desde notificación) </th>
                      <td mat-cell *matCellDef="let element"> {{element.plazo}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="tableColumnsI"></tr>
                    <tr mat-row *matRowDef="let row; columns: tableColumnsI;"></tr>
                </table>
        </div>
        <div class="box-shade p-20 mb-20">
            <h3 class="title-principal">II</h3>
            <table mat-table [dataSource]="dataTableII" class="mat-elevation-z8">

                <ng-container matColumnDef="oferta">
                  <th mat-header-cell *matHeaderCellDef>2da Oferta (post-Derecho Preferente)</th>
                  <td mat-cell *matCellDef="let element"> {{element.oferta}} </td>
                </ng-container>
              
                <ng-container matColumnDef="data_autorized">
                  <th mat-header-cell *matHeaderCellDef> Autorizada por </th>
                  <td mat-cell *matCellDef="let element"> {{element.derecho_preferente}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="tableColumnsII"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumnsII;"></tr>
            </table>
        </div>
        <div class="box-shade p-20 mb-20">
            <h3 class="title-principal">III</h3>
            <table mat-table [dataSource]="dataTableIII" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="asamblea">
                  <th mat-header-cell *matHeaderCellDef>Desacuerdo en Asamblea s/ingreso socios</th>
                  <td mat-cell *matCellDef="let element"> {{element.asamblea}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="plazo">
                  <th mat-header-cell *matHeaderCellDef> Plazo (#dias (desde Asamblea)  </th>
                  <td mat-cell *matCellDef="let element"> {{element.plazo}} </td>
                </ng-container>
              
              
                <tr mat-header-row *matHeaderRowDef="tableColumnsIII"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumnsIII;"></tr>
            </table>
        </div>
        <div class="box-shade p-20 mb-20">
          <div class="content-title">
            <h2> IV</h2>
          <a href="#"><fa-icon class="icon" [icon] = "faPlus" > </fa-icon></a>  
          </div>
          <table mat-table [dataSource]="dataTableIV" class="mat-elevation-z8">
              <ng-container matColumnDef="comprobadores">
                <th mat-header-cell *matHeaderCellDef>Inexistencia de compradores aprobados</th>
                <td mat-cell *matCellDef="let element"> {{element.comprobadores}} </td>
              </ng-container>
            
              <ng-container matColumnDef="opcion_1">
                <th mat-header-cell *matHeaderCellDef> Opcion 1 </th>
                <td mat-cell *matCellDef="let element"> {{element.opcion_1}} </td>
              </ng-container>
            
              <ng-container matColumnDef="opcion_2">
                <th mat-header-cell *matHeaderCellDef> Opcion 2</th>
                <td mat-cell *matCellDef="let element"> {{element.opcion_2}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"><a href="#"><fa-icon class="icon-delete" [icon] = "faTrashAlt" > </fa-icon></a></td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="tableColumnsIV"></tr>
              <tr mat-row *matRowDef="let row; columns: tableColumnsIV;"></tr>
          </table>
        </div>
        <div class="box-shade p-20 mb-20">
          <div class="content-title">
            <h2> Solución de Controversias entre socios y con la sociedad:</h2>
          <a href="#"><fa-icon class="icon" [icon] = "faPlus" > </fa-icon></a>  
          </div>
          <table mat-table [dataSource]="dataTableResolution" class="mat-elevation-z8">
              <ng-container matColumnDef="instancia">
                <th mat-header-cell *matHeaderCellDef>Instancia</th>
                <td mat-cell *matCellDef="let element"> {{element.instancia}} </td>
              </ng-container>
            
              <ng-container matColumnDef="metodo">
                <th mat-header-cell *matHeaderCellDef>Método </th>
                <td mat-cell *matCellDef="let element"> {{element.metodo}} </td>
              </ng-container>
            
              <ng-container matColumnDef="reglamento">
                <th mat-header-cell *matHeaderCellDef> Órganismo / Reglamento</th>
                <td mat-cell *matCellDef="let element"> {{element.reglamento}} </td>
              </ng-container>
              <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef>Tipo</th>
                <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
              </ng-container>
              <ng-container matColumnDef="sede">
                <th mat-header-cell *matHeaderCellDef> Sede</th>
                <td mat-cell *matCellDef="let element"> {{element.sede}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"><a href="#"><fa-icon class="icon-delete" [icon] = "faTrashAlt" > </fa-icon></a></td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="tableColumnsResolution"></tr>
              <tr mat-row *matRowDef="let row; columns: tableColumnsResolution;"></tr>
          </table>
        </div>
        <div class="content-flex-center">
          <button class="btn-guardar"> Finalizar Registro</button>
        </div>
    </div>
</div>

<div class="content-next-previus">
    <button (click)="anterior($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-volver-naranja.png" alt="" ></button>

    <button (click)="siguiente($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-siguiente-naranja.png" alt="" ></button>
</div>