<swiper 
  [slidesPerView]="1"
  [spaceBetween]="50"
  [pagination]="{ clickable: true }"
  [autoplay]="true"
  [navigation]="true"
  >
  <ng-template swiperSlide *ngFor="let banner of projectBanner">
    <!-- <div
      [ngStyle]="{'background-image': 'url(' + banner.image + ')'}"
      class="banner">
      <img [src]="'https://images.unsplash.com/photo-1561451213-d5c9f0951fdf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1189&q=80'" alt="imagen del banner">
      <h1 class="title">{{banner.title}}</h1>
      <p class="description">
        {{ banner.description }}
      </p>
    </div> -->
    <app-figure [banner]="banner"></app-figure>
  </ng-template>
</swiper>