::ng-deep .mat-dialog-container {
  background-color: rgba(255, 255, 255, 0.952);
}
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.input-content {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 auto;
}

.edit-toolbar {
  border-radius: 5px;
  background-color: #0E3E54;
  color: #ffffff;
}
.ul-content li {
  list-style: none;
} 
.btn-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input#archivo {
  display: none;
}
input#archivo + label {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid #FA897B;
  color: rgba(0, 0, 0, 0.5);
}
input#archivo + label:hover {
  cursor: pointer;
  /* background-color: #FA897B; */
  transition: 0.3s;
  color: #FA897B;
}
.img-tool_content {
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.img-tool_content .img-tool {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.answer-content {
  display: flex;
  flex-direction: column;
}
.add-answer {
  display: flex;
  justify-content: space-between;
}
.errorsMessages{
  font-family: open sans;
  color: rgb(209, 9, 9);
}

.section {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.main-content__form {
  width: 100%;
  margin: 0px;
}

mat-horizontal-stepper {
  background-color: #F0F3F6;
}