<!-- <mat-progress-bar mode="query" *ngIf="state"></mat-progress-bar> -->

<mat-toolbar class="edit-toolbar">
  <span>Editar {{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>

<section class="section">
  <div *ngIf="!question" class="columns main-content__form">
    <div *ngIf="!question && !block && !measure" class="column">
      <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
      <figure *ngIf="tool" class="img-tool_content">
        <img class="img-tool" *ngIf="imageSrc" [src]="imageSrc | async" alt="edit-image">
        <img class="img-tool" *ngIf="!imageSrc" [src]="toolImg" alt="edit-image">
      </figure>
      <!-- <figure *ngIf="!tool">
        <img [src]="editImg" alt="edit-image">
      </figure> -->
    </div>
    <form *ngIf="tool" class="column is-6-desktop form-content" [formGroup]="toolForm" (ngSubmit)="update()">
      <div class="input-content">
        <br>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput formControlName="name">
          <div *ngFor="let errorMessage of errorsMessages.name">
            <ng-container *ngIf="nameT.hasError(errorMessage.type) && (nameT.dirty || nameT.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descripción:</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <div *ngFor="let errorMessage of errorsMessages.description">
            <ng-container *ngIf="descriptionT.hasError(errorMessage.type) && (descriptionT.dirty || descriptionT.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>
        </mat-form-field>
        <input type="file" id="archivo" accept="image/x-png,image/gif,image/jpeg,image/png" (change)="upload($event)">
        <label for="archivo">
          <mat-icon>cloud_upload</mat-icon>
          <span>Subir Imagen</span>
        </label>
      </div>
      <mat-dialog-actions class="btn-actions">
        <button mat-button matDialogClose>Cancelar</button>
        <button type="submit" mat-raised-button color="primary">Guardar Datos</button>
      </mat-dialog-actions>
      <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
    </form>
    <form *ngIf="block" class="column form-content" [formGroup]="blockForm" (ngSubmit)="update()">
      <div class="input-content">
        <br>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput formControlName="name">
          <div *ngFor="let errorMessage of errorsMessages.name">
            <ng-container *ngIf="nameB.hasError(errorMessage.type) && (nameB.dirty || nameB.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descripción:</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <div *ngFor="let errorMessage of errorsMessages.description">
            <ng-container *ngIf="descriptionB.hasError(errorMessage.type) && (descriptionB.dirty || descriptionB.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>
        </mat-form-field>
      </div>
      <mat-dialog-actions class="btn-actions">
        <button mat-button matDialogClose>Cancelar</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!blockForm.valid">Guardar Datos</button>
      </mat-dialog-actions>
      <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
    </form>
    <form *ngIf="measure" class="column form-content" [formGroup]="measureForm" (ngSubmit)="update()">
      <div class="input-content">
        <br>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput formControlName="name">
          <div *ngFor="let errorMessage of errorsMessages.name">
            <ng-container *ngIf="nameM.hasError(errorMessage.type) && (nameM.dirty || nameM.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Porcentaje:</mat-label>
          <input matInput type="number" formControlName="porcentage">
          <div *ngFor="let errorMessage of errorsMessages.porcentage">
            <ng-container *ngIf="porcentageM.hasError(porcentageM.type) && (porcentageM.dirty || porcentageM.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descripción:</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <div *ngFor="let errorMessage of errorsMessages.description">
            <ng-container *ngIf="descriptionM.hasError(descriptionM.type) && (descriptionM.dirty || descriptionM.touched)">
              <small class="errorsMessages">{{errorMessage.message}}</small>
            </ng-container>
          </div>
        </mat-form-field>
      </div>
      <mat-dialog-actions class="btn-actions">
        <button mat-button matDialogClose>Cancelar</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!measureForm.valid">Guardar Datos</button>
      </mat-dialog-actions>
      <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
    </form>
  </div>
  <section *ngIf="question">
    <mat-horizontal-stepper>
      <mat-step label="Editar Pregunta">
        <form class="column form-content" [formGroup]="questionForm" (ngSubmit)="update()">
          <div class="input-content">
            <mat-form-field>
              <mat-label>Name:</mat-label>
              <textarea matInput formControlName="name"></textarea>
              <div *ngFor="let errorMessage of errorsMessages.name">
                <ng-container *ngIf="nameQ.hasError(nameQ.type) && (nameQ.dirty || nameQ.touched)">
                  <small class="errorsMessages">{{errorMessage.message}}</small>
                </ng-container>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Porcentaje:</mat-label>
              <input matInput type="number" formControlName="porcentage">
              <div *ngFor="let errorMessage of errorsMessages.porcentage">
                <ng-container *ngIf="porcentageQ.hasError(porcentageQ.type) && (porcentageQ.dirty || porcentageQ.touched)">
                  <small class="errorsMessages">{{errorMessage.message}}</small>
                </ng-container>
              </div>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Descripción:</mat-label>
              <textarea matInput formControlName="description"></textarea>
              <div *ngFor="let errorMessage of errorsMessages.description">
                <ng-container *ngIf="descriptionQ.hasError(descriptionQ.type) && (descriptionQ.dirty || descriptionQ.touched)">
                  <small class="errorsMessages">{{errorMessage.message}}</small>
                </ng-container>
              </div>
            </mat-form-field>
          </div>
          <mat-dialog-actions class="btn-actions">
            <!-- <button mat-button matDialogClose>Cancelar</button> -->
            <button type="submit" mat-raised-button color="primary" matStepperNext [disabled]="!questionForm.valid">Siguiente</button>
          </mat-dialog-actions>
          <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
        </form>
      </mat-step>
      <mat-step label="Editar Respuestas">
        <mat-toolbar style="background-color: white;">
          <span>Respuestas</span>
          <span class="spacer"></span>
          <button *ngIf="answersQuestion" mat-icon-button (click)="addNewAnswer()">
            <mat-icon>add</mat-icon>
          </button>
          <button *ngIf="makeNewAnswer" mat-icon-button (click)="addAnswer('Nueva rewspuesta', '', '')">
            <mat-icon>add</mat-icon>
          </button>
        </mat-toolbar>
        <div class="option-select">
          <mat-form-field *ngIf="!answersQuestion" (click)="getTypeAnswers()">
            <mat-label>Modificar Respuestas</mat-label>
            <mat-select>
              <div *ngIf="options">
                <mat-option *ngFor="let option of options" [value]="option.name"
                (click)="modifyTypeAnswerByQuestion(option)">
                {{option.name}}
              </mat-option>
            </div>
              <mat-option (click)="makeNewTypeAnswer()">
                Otro
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-list>
          <mat-divider></mat-divider>
          <p class="empty-message" *ngIf="showEmptyMessage">{{emptyMessage}}</p>
          <form class="form-block" [formGroup]="typeAnswerForm">
            <mat-accordion formArrayName="answers">
              <mat-expansion-panel *ngFor="let answer of answers().controls; let i=index" [formGroupName]="i">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{answer.value.name}}
                  </mat-panel-title>
                  <span class="spacer"></span>
                  <mat-panel-description>
                    {{answer.value.porcentage}} %
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="container answer-content">
                  <mat-form-field class="form-field__table">
                    <mat-label>Nombre:</mat-label>
                  <input type="text" placeholder="Ingrese un nombre a su respuesta" formControlName="name"
                  class="form-control" matInput>
                </mat-form-field>
                <mat-form-field class="form-field__table">
                  <mat-label>Porcentaje:</mat-label>
                  <input type="number" placeholder="Ingrese un porcentaje" formControlName="porcentage"
                  class="form-control" matInput>
                </mat-form-field>
                <mat-form-field class="form-field__table">
                  <mat-label>Conclusión</mat-label>
                  <input type="text" placeholder="Ingrese un porcentaje" formControlName="sub_answer"
                    class="form-control" matInput>
                </mat-form-field>
                <mat-form-field class="form-field__table">
                  <mat-label>Necesidad:</mat-label>
                  <input type="text" placeholder="Ingrese un porcentaje" formControlName="need" class="form-control"
                    matInput>
                  </mat-form-field>
                <button *ngIf="makeNewAnswer"  color="warn" mat-button (click)="removeAnswer(i)">
                  <mat-icon>delete</mat-icon>
                  Eliminar
                </button>
                <button *ngIf="answersQuestion"  color="warn" mat-button (click)="destroyAnswer(answer.value.idGAns)">
                  <mat-icon>delete</mat-icon>
                  Eliminar
                </button>
              </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!-- <button type="button" class="btn btn-success" (click)="showAnswers()">Submit</button> -->
            <mat-dialog-actions class="btn-actions">
              <button mat-button matStepperPrevious>Volver</button>
              <button type="submit" mat-raised-button color="primary" matStepperNext [disabled]="!typeAnswerForm.valid" (click)="saveAnswers()">Guardar Cambios</button>
            </mat-dialog-actions>
          </form>
        </mat-list>

      </mat-step>
    </mat-horizontal-stepper>
  </section>
</section>
