.container  {
  background-color: #3a465190;
}

.alliance-banner__description {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.2em;
  color: #FFFFFF;
}

.image-container, img {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

textarea {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
  resize: vertical;
  min-height: 150px;
}

.textarea-title {
  font-size: 1.25rem;
}

.action-btn {
  background-color: #85CE36;
  color: #fff;
}