<section class="container" [formGroup]="bannerForm">
  <div class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet">
      <p 
        class="alliance-banner__description animate__animated animate__backInLeft"
        role="button"
        *ngIf="!isDescription"
        (click)="showInput('description')">
        {{banner.description}}
      </p>
      <textarea
        class="textarea-title" 
        autofocus
        formControlName="description"
        type="text" 
        maxlength="400"
        *ngIf="isDescription" 
        (focusout)="saveChange('description')"
      >
      </textarea>
    </div>
    <div class="column is-12-mobile is-6-tablet animate__animated animate__backInDown">
      <figure class="image-container">
        <img [src]="banner.image" alt="imagen del banner">
      </figure>
      <mat-progress-bar *ngIf="statusUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
      <button class="action-btn" mat-icon-button (click)="fileUpload.click()">
        <mat-icon>cloud_upload</mat-icon>
        <input
          #fileUpload
          type="file"
          style="display: none;"
          accept="image/png, image/gif, image/jpeg, image/jpg"
          (change)="upload($event)"
        />
      </button>
    </div>
  </div>
</section>