mat-toolbar {
    background-color: #3A4651;
    color: white;
  }
  
  .spacer {
    flex: 1 auto;
  }
  
  .main-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .main-url {
    display: flex;
    justify-content: space-between;
  }
  
  .main-text-area {
    width: 85%;
  }
  
  .btn-save {
    background-color: #85CE36;
    color: #3A4651;
  }
  
  .main-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-option span {
    padding: 0px 10px;
  }
  
  .divider {
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
  }
  
  input#archivo {
    display: none;
  }
  input#archivo + label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #85CE36;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);
  }
  input#archivo + label:hover {
    cursor: pointer;
    /* background-color: #FA897B; */
    transition: 0.3s;
    color: #85CE36;
  }
  
  .main-img__banner {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .main-img__banner img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
  
  button .btn-close {
    background-color: none;
    border: 1px solid #85CE36;
  }
  
  