<div  *ngIf="moreInfo">
  <iframe width="100%" height="280" [src]="moreInfo.url | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <mat-toolbar>
    <button mat-icon-button color="warn" (click)="deleteVideo()">
      <mat-icon aria-label="label">delete</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button class="btn-action" (click)="editVideo()">
      <mat-icon aria-label="label">edit</mat-icon>
    </button>
  </mat-toolbar>
</div>