:host {
  height: 50vh;
  /* background-color: aqua; */
  overflow: auto;
}
table {
  width: 100%;
}

.spacer {
  flex: 1 auto;
}
.url-data {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
h2 {
  text-align: center;
}
.empty-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-list button {
  width: 50%;
  margin: auto;
}
.empty-list img {
  width: 20%;
}