<mat-toolbar>
  <span>Datos Extras de la Empresa</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="dialogExtraData('0', 'create')">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<br>
<br>
<mat-progress-bar *ngIf="status" mode="query"></mat-progress-bar>

<div *ngIf="showEmpetyList" class="empty-list">
  <img src="assets/images/empty.svg" alt="imagen-de-lista-vacia">
  <h2>No tienes ningun documento extra guardado</h2>
  <button mat-raised-button color="warn" (click)="dialogExtraData('0', 'create')">Agregar Documentos</button>
</div>

<table *ngIf="!showEmpetyList" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.data_name}} </td>
  </ng-container>

  <!-- data Column -->
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Dato </th>
    <td mat-cell *matCellDef="let element"> {{element.data}} </td>
  </ng-container>

  <!-- url Column -->
  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Archivo </th>
    <td mat-cell *matCellDef="let element">
      <a mat-button color="primary" class="url-data" [href]="element.url" target="_blank">{{element.url}}</a>
    </td>
  </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div class="action_row">
        <button mat-icon-button (click)="dialogExtraData(element.id, 'edit')">
          <mat-icon class="action-icon">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="dialogExtraData(element.id, 'delete')">
          <mat-icon class="action-icon">restore_from_trash</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
