::ng-deep .mat-horizontal-content-container {
  padding: 0px !important;
  width: 100%;
}
.spacer {
  flex: 1 1 auto;
}

.question-content {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}
.step-content {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

::ng-deep .mat-horizontal-stepper-header-container {
  justify-content: center;
}

/* ::ng-deep .mat-step-header {
    display: none !important;
  } */

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done {
  background-color: #FA897B;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #FA897B;
}

.step-toolbar__content {
  background-color: #ffffff;
  color: #848494;
  justify-content: center;
}

.step-toolbar__content span {
  font-size: 1.5rem;
  /*24px*/
  margin-left: 10px;
}
p.question-name{
  max-width: 800px;
  color: #474F5E;
  margin: auto;
  font-size: 1.75rem;
  /*28px*/
  line-height: 2rem;
  text-align: center;
  word-wrap: break-word;
  /*32px*/
}

.question-btn__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px;
  /* border-bottom: 1px solid rgba(14, 62, 84,0.2); */
}

.question-btn__content {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.question_btn {
  width: 210px;
  height: 73px;
  margin-bottom: 12px;
  margin-right: 12px;
  background-color: rgba(250, 137, 123);
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.previous-next__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.previous-next__content button {
  color: #0E3E54;
}

.form-commit__toolbar {
  background-color: #ffffff;
  /* margin-top: 30px; */
  padding: 0px;
}

.form-commit-content {
  width: 50%;
  text-align: end;
}

.commit-input {
  width: 100%;
}
::ng-deep .mat-step-text-label{
  /* max-width: 900px; */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
::ng-deep .form-commit-content .mat-form-field-appearance-legacy .mat-form-field-infix {
  text-align: end;
  margin-right: 10px;
}

.footer-content__left {
  background-color: #ffffff;
}

.footer-content__left .type-btn {
  background-color: #FA897B;
  color: #ffffff;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-size: 0.875rem;
  color: #000000;
}

.create-icon__btn:focus {
  background-color: inherit;
  color: #205072;
}

.question-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  /* or 114% */
  text-align: center;
  /* Black */
  color: #474F5E;
}

.table {
  width: 100%;
  padding: 10px 0px;
  /* background-color: #205072; */
}
/* .tr-table {
  background-color: #FA897B;
}
.td-table {
  background-color: aqua;
} */
.form-field__table {
  width: 100%;
  height: 100%;
}
.option-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #FA897B; */
}
.title-config__answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-block {
  width: 50%;
  margin: auto  ;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.sub-question__toobalr {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(14, 62, 84,0.2);
}
.form-control {
  height: 55px;
}
.btn-color-form {
  background-color: #FA897B;
  color: #ffffff;
  height: 40px;
}
.label-question {
  width: 100vw;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.img-builder{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
   img {
    width: 50%;
    margin: auto;
   }