<mat-progress-bar mode="query" *ngIf="status"></mat-progress-bar>
<mat-vertical-stepper>
  <mat-step class="step-content" *ngFor="let question of questions" (click)="getAnswers(question.id)">
    <ng-template matStepLabel>
      <p class="label-question" (click)="getAnswers(question.id)">{{question.name}}</p>
    </ng-template>
    <mat-toolbar class="step-toolbar__content">
      <button *ngIf="rolHidden" class="create-icon__btn" mat-icon-button (click)="openDialogEdit(question.id,'question')">
        <mat-icon>create</mat-icon>
      </button>
      <span>Pregunta {{question.position}}</span>
      <button *ngIf="rolHidden"  class="create-icon__btn" mat-icon-button (click)="openDialogEdit(question.id,'remove', 'question')">
        <mat-icon>restore_from_trash</mat-icon>
      </button>
    </mat-toolbar>
    <!-- <p class="question-name">{{question.name}}</p> -->
    <p class="question-name" >{{question.name}}</p>
    <h3 class="question-name" *ngIf="showEmptyMessage">{{emptyMessage}}</h3>
    <div *ngIf="!showEmptyMessage" class="question-btn__container">
      <div class="question-btn__content">
        <button [disabled]="rolHidden" *ngFor="let type of answers" class="question_btn" mat-raised-button matStepperNext>
          {{type.name}}
        </button>
      </div>
    </div>
    <mat-toolbar *ngIf="!rolHidden" class="form-commit__toolbar">
      <button mat-button matStepperPrevious>
        <mat-icon>arrow_back_ios</mat-icon>
        <mat-label>Volver</mat-label>
      </button>  
      <span class="spacer"></span>
        <form [formGroup]="commitForm" class="form-commit-content">
          <mat-form-field class="commit-input">
            <mat-label>Dejar un comentario</mat-label>
            <textarea style="resize: none;" matInput type="text" formControlName="commit"
              placeholder="Escribe tu comentario aqui"></textarea>
          </mat-form-field>
        </form>
      </mat-toolbar>
    <mat-toolbar *ngIf="rolHidden"  class="footer-content__left">
      <button mat-raised-button class="type-btn" (click)="openDialogEdit(question.id,'typeQuestion')">
        <mat-icon>keyboard_arrow_up</mat-icon>
        Tipo de respuesta
      </button>
      <span class="spacer"></span>
      <mat-checkbox 
        class="checkbox-content" 
        (click)="makeSubQuestions(question.id)" 
        [(ngModel)]="checked"
        color="warn"
      >
        Esta pregunta contiene subpreguntas
      </mat-checkbox>
    </mat-toolbar>
    <div *ngIf="showTestMessage">
      <mat-toolbar class="sub-question__toobalr">
        <span>{{this.testMessage}}</span>
        <!-- <span class="spacer"></span>
        <button  mat-icon-button (click)="addAnswer()">
          <mat-icon>add</mat-icon>
        </button> -->
      </mat-toolbar>
      <figure class="img-builder">
        <img src="assets/images/build.svg" alt="">
        <h3>Funcionalidad en progreso</h3>
      </figure>
      <!-- <form class="form-block" [formGroup]="subQuestionForm" (ngSubmit)="showAnswers()">
        <table class="table table-bordered" formArrayName="questions">
          <tr class="tr-table" *ngFor="let answer of subQuestions().controls; let i=index" [formGroupName]="i">
            <td class="td-table">
              <mat-form-field class="form-field__table">
                <mat-label>Nombre:</mat-label>
                <textarea type="text" placeholder="Ingrese un nombre a su sub pregunta" formControlName="name" class="form-control" matInput></textarea>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field  class="form-field__table">
                <mat-label>Tipo de Respuesta:</mat-label>
                <input class="form-control" matInput>
              </mat-form-field>
            </td>
            <td>
              <button mat-icon-button (click)="removeAnswer(i)">
                <mat-icon>restore_from_trash</mat-icon>
              </button>
            </td>
          </tr>
        </table>
        <button type="button" class="btn btn-success" (click)="showAnswers()">Submit</button>
        <button type="submit" class="btn-color-form" mat-raised-button [disabled]="!subQuestionForm.valid">Guardar
          Cambios</button>  
      </form> -->
    </div>
    <mat-toolbar *ngIf="rolHidden"  class="sub-question__toobalr" >
      <button mat-button matStepperPrevious>
        <mat-icon>arrow_back_ios</mat-icon>
        <mat-label>Volver</mat-label>
      </button>
      <span class="spacer"></span>
      <button mat-button matStepperNext>
        <mat-label>Siguiente</mat-label>
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </mat-toolbar>
  </mat-step>
</mat-vertical-stepper>
