<figure class="image is-3by1 animate__animated animate__backInDown">
  <img [src]="banner.image">
</figure>
<mat-progress-bar *ngIf="statusUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
<div class="main-button__container">
  <button mat-icon-button class="btn-container-r">
    <mat-icon
      class="material-icons-outline icon-cloud btn-action"
      aria-label="subir imagen icon"
      >cloud_upload</mat-icon
    >
    <input
      type="file"
      class="input-hidden"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="upload($event)"
    />
  </button>
</div>