.main-button__container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn-container-r{
  position: relative;
  background-color: #85CE36;
  color: #ffffff;
  margin-right: 40px;
}
.input-hidden{
  opacity: 0;
  cursor: pointer !important;
  position: absolute; /* don't let it take up space */
  width: 30px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-cloud{
  position: relative;
}