.spacer {
  flex: 1 auto;
}

::ng-deep .steper-measure .mat-step-header {
  /* background-color: rgba(250, 137, 122,0.1); */
  padding: 16px;
  margin: 10px 5px;
  /* border-radius: 10px; */
}

.block-toolbar {
  background-color: #ffffff;
  /* color: white; */
  border-bottom: 1px solid rgba(178, 178, 178, 0.35);
}

.example-container {
  background-color: white;
}

.block-description {
  background-color: white;
  padding: 16px;
  width: 100%;
  overflow: hidden;
  word-break: break-all;
  font-size: 1rem;
}

.label-toolbar {
  background-color: inherit;
}

.label-measure {
  font-size: 1.125rem;
}

.sidenav-content {
  width: 100%;
  background-color: #e7e7e7;
}
