<mat-progress-bar mode="query" *ngIf="state"></mat-progress-bar>
<mat-drawer-container class="example-container" autosize>
  <mat-toolbar *ngIf="block" class="mat-elevation-z1 block-toolbar">
      <span>{{block.name}}</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon aria-label="label" color="primary" (click)="getBlock()">refresh</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="label" color="primary" (click)="addNewMeasure()">add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="label" color="primary" (click)="editBlock(block.id, 'block')">edit</mat-icon>
      </button>
      <!-- <button mat-icon-button>
        <mat-icon aria-label="label" color="warn" (click)="deleteBlock()">delete_outline</mat-icon>
      </button> -->
  </mat-toolbar>
  <p *ngIf="block" class="block-description">{{block.description}}</p>
  <mat-vertical-stepper #steper *ngIf="measures" class="steper-measure">
    <mat-step *ngFor="let measure of measures">
      <ng-template matStepLabel>
        <mat-toolbar class="label-toolbar">
          <span class="label-measure">{{measure.name}}</span>
        </mat-toolbar>
      </ng-template>
      <app-measure-detail [measure]="measure" [steper]="steper" (newEditEvent)="getMeasures($event)"></app-measure-detail>
    </mat-step>
  </mat-vertical-stepper>
  
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <button (click)="drawer.toggle()" mat-raised-button>
      Close
    </button>
  </mat-drawer>
</mat-drawer-container>