<div class="card" [formGroup]="odsForm">
  <div class="card-image">
    <figure class="image is-4by4">
      <img [src]="ods.path_image" alt="imagen representativa">
      <!-- <img [src]="caminno.image | async" alt="imagen representativa"> -->
    </figure>
  </div>
  <mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
  <div class="card-content">
    <div>
      <div class="media">
        <div class="media-content">
          <p 
            class="title is-5 data-title"
            role="button"
            *ngIf="!isTitle"
            (click)="showInput('title')"  
            >
            {{ ods.title || 'No Configurado'}}
          </p>
          <textarea
            class="textarea-title" 
            autofocus
            formControlName="title"
            type="text" 
            maxlength="55"
            *ngIf="isTitle" 
            (focusout)="saveChange('title')"
            >
          </textarea>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <button mat-icon-button class="btn-container-r">
        <mat-icon
          class="material-icons-outline icon-cloud"
          color="primary"
          aria-label="subir imagen icon"
          >cloud_upload</mat-icon
        >
        <input
          type="file"
          class="input-hidden"
          accept="image/png, image/gif, image/jpeg, image/jpg"
          (change)="upload($event)"
        />
      </button>
    </footer>
    <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
  </div>
</div>
<mat-toolbar class="mat-elevation-z6">
  <span class="spacer"></span>
  <button mat-icon-button color="warn" (click)="deleteOds()">
    <mat-icon aria-label="label">delete</mat-icon>
  </button>
  <button mat-icon-button class="btn-container-r">
    <mat-icon
      class="material-icons-outline icon-cloud"
      color="primary"
      aria-label="subir imagen icon"
      >cloud_upload</mat-icon
    >
    <input
      type="file"
      class="input-hidden"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="upload($event)"
    />
  </button>
</mat-toolbar>