<article class="message is-success" [formGroup]="doingForm">
  <div class="message-header color-primary">
    <p
      class="title is-4"
      role="button"
      *ngIf="!isTitle"
      (click)="showInput('title')"  
      >{{doing.title || 'No Configurado'}}</p>
    <textarea
      class="textarea-title" 
      autofocus
      formControlName="title"
      type="text" 
      maxlength="75"
      *ngIf="isTitle"
      (focusout)="saveChange('title')"
      >
    </textarea>
    <!-- <button class="delete" aria-label="delete"></button> -->
  </div>
  <mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
  <div class="message-body">
    <div>
      <p 
        class="subtitle is-5"
        role="button"
        *ngIf="!isSubtitle"
        (click)="showInput('subtitle')"  
        >
        {{ doing.subtitle || 'No Configurado'}}
      </p>
      <textarea
        class="textarea-description" 
        autofocus
        formControlName="subtitle"
        type="text" 
        maxlength="65"
        *ngIf="isSubtitle"
        (focusout)="saveChange('subtitle')"
        >
      </textarea>
    </div>
    <div>
      <p
        role="button"
        *ngIf="!isDescription"
        (click)="showInput('description')"    
        >
        {{doing.description || 'No Configurado'}}
      </p>
      <textarea
        class="textarea-description" 
        autofocus
        formControlName="description"
        type="text" 
        maxlength="250"
        *ngIf="isDescription" 
        (focusout)="saveChange('description')"
        >
      </textarea>
    </div>
  </div>
</article>