.color-primary {
  background: #85CE36 !important;
}

textarea {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
  resize: vertical;
  min-height: 90px;
}

.title {
  color: #ffffff !important;
}