<mat-toolbar class="toolbar">
  <button mat-icon-button color (click)="goToEvaluation()">
    <mat-icon>arrow_back</mat-icon> 
  </button>
  <span class="subtitle"><strong>{{nameBussines}}</strong></span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>edit</mat-icon> 
  </button>
</mat-toolbar>
<figure *ngIf="emptyResult"  class="figure">
    <img src="assets\images\result\undraw_updated_resume_u4fy 1.svg" alt="landing result">
    <span>Parece que aun no tienes ningun resultado</span>
    <button mat-stroked-button  (click)="goToStartEvaluation()" color="warn">Iniciar Nueva Evaluación</button>
</figure>
<mat-toolbar *ngIf="!emptyResult">
  <span class="subtitle table-title">datos de la evaluacion</span>
  <span class="spacer"></span>
  <button mat-icon-button color (click)="goToStartEvaluation()">
    <mat-icon>play_arrow</mat-icon> 
  </button>
</mat-toolbar>
<br/>
<br/>
<table *ngIf="!emptyResult" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre del Evaluador </th>
    <td mat-cell *matCellDef="let element">
      <div class="name-column">
        <img class="user-avatar" src={{element.urlImgProfile}}>
        <div class="info-name__content">
          <span>{{element.nameEvaluator}} {{element.lastNameEvaluator}}</span>
          <span style="color: rgba(0, 0, 0, 0.5);">{{element.emailEvaluator}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td class="state-row" mat-cell *matCellDef="let element"> 
      <mat-progress-bar class="progress-bar__row" mode="determinate" value={{element.state}} ></mat-progress-bar>
      <span class="state-title">{{element.state}} %</span>
    </td>
  </ng-container>

  <!-- evaluationDate Column -->
  <ng-container matColumnDef="evaluationDate">
    <th mat-header-cell *matHeaderCellDef> Fecha de Evaluación</th>
    <td mat-cell *matCellDef="let element"> {{element.evaluationDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row 
    *matRowDef="let row; columns: displayedColumns;"
    class="detail-row"
    (click)="goToResult(row.id)"
  >
  </tr>
</table>
  
