.spacer {
  flex: 1 1 auto;
}
.toolbar {
  background-color: rgba(32, 80, 114, 0.6);
  color: #ffffff;
}
table {
  width: 80%;
  margin: auto;
}
.name-column {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-name__content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.action_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.action-icon{
  color: rgba(0, 0, 0, 0.3);
}
.figure {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.subtitle {
  margin-left: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 16px;
  text-transform: uppercase;
}
.table-title{
  font-size: 1rem;
  text-transform: capitalize;
}
tr.detail-row:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.state-row {
  width: 25%;
}
.progress-bar__row {
  height: 15px;
  border-radius: 15px;
}
.state-title {
  position: relative;
  left: 50%;
}
.state-row ::ng-deep .mat-progress-bar-fill::after {
  background-color: #7BE495;
}
/* .state-row ::ng-deep .mat-progress-bar-buffer {
  background-color: rgba(32, 80, 114,0.3);
} */