<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div class="subheader" mat-subheader>Panel de Navegacion</div>
      <a mat-list-item routerLink="home-caminnos" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">home</mat-icon>
        <span>Inicio</span>
      </a>
      <a mat-list-item routerLink="project-caminnos" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">folder</mat-icon>
        <span>Proyectos</span>
      </a>    
      <a mat-list-item routerLink="impact-caminnos" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">assessment</mat-icon>
        <span>Impacto</span>
      </a>
      <a mat-list-item routerLink="award-caminnos" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">emoji_events</mat-icon>
        <span>Premios</span>
      </a>
      <a mat-list-item routerLink="aliance-caminnos" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">domain</mat-icon>
        <span>Alianzas</span>
      </a>
      <a mat-list-item routerLink="organization" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">groups</mat-icon>
        <span>Organizaciones</span>
      </a>
      <a mat-list-item routerLink="blog-caminnos" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">view_list</mat-icon>
        <span>Blog</span>
      </a>
      <div class="subheader" mat-subheader>Equipo y testimonios</div>
      <a mat-list-item routerLink="about" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">group</mat-icon>
        <span>Nosotros</span>
      </a> 
      <a mat-list-item routerLink="testimonials" routerLinkActive="active">
        <mat-icon class="material-icons-outlined">face</mat-icon>
        <span>Testimonios</span>
      </a> 
      <div class="subheader" mat-subheader>Baremos</div>
      <a mat-list-item routerLink="/admin">
        <mat-icon class="material-icons-outlined">
          <img class="logo-caminnos" src="assets/images/logo-white.png" alt="logo-caminnos">
        </mat-icon>
        <span>Baremo</span>
      </a> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Caminnos</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
