.sidenav-container {
  height: 100%;
  background-color: #F0F3F6;
}

.sidenav {
  width: 200px;
  background-color: #3A4651;
}

mat-toolbar {
  background-color: #3A4651;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a mat-icon,
span {
  color: white;
}

a mat-icon {
  margin-right: 16px;
}

mat-nav-list a:hover {
  background-color: rgba(133, 206, 54, 0.25);
  transition: 0.3s;
  border-left: 5px solid #ffffff;
}

mat-nav-list a,
mat-icon {
  margin-right: 10px;
}

mat-nav-list a.active {
  background-color: #85CE36;
  border-left: 5px solid #ffffff;
}

.subheader {
  color: white;
}