<section *ngIf="blog" class="section">
  <div class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet">
      <figure class="image is-128x128">
        <img [src]="blog.image || 'https://bulma.io/images/placeholders/256x256.png'">
      </figure>
    </div>
    <div class="column is-12-mobile is-6-tablet">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{blog.title}}</p>
              <p class="subtitle is-6">{{blog.organization}}</p>
            </div>
          </div>
      
          <div class="content">
            <p>
              {{blog.description}}
            </p>
            <time>{{blog.date.toDate() | date}}</time>
            <br>
            <a mat-button [href]="blog.url">Saber mas...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
