<div class="content-flex-center">
    <div class="size-content-social">
        <div class="content-title">
            <h2> Capital Social</h2>
          <a href="#"><fa-icon class="icon" [icon] = "faPlus" > </fa-icon></a>  
        </div>
        <div class="content-table">
            <table mat-table
            [dataSource]="dataSource" multiTemplateDataRows
            class="mat-elevation-z8">
              <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index;" >
                <th mat-header-cell *matHeaderCellDef> 
                  <ng-container *ngIf="i !== 4">
                  {{column}}
                  </ng-container> 
                </th>
                <td mat-cell *matCellDef="let element" > 
                  <mat-form-field class="example-full-width" *ngIf="i === 0 || i === 1">
                    <input matInput value="{{element[column]}}" type="number">
                  </mat-form-field>
                  <ng-template [ngIf]="i === 2 || i === 3">
                      {{element[column]}}
                  </ng-template>
                  <ng-template [ngIf]="i === 4">
                    <a href="#"><fa-icon class="icon-delete" [icon] = "faTrashAlt" > </fa-icon></a>
                </ng-template>
                </td>
              </ng-container>
              
              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                  <div class="example-element-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div >
                      <div class="content-flex-center">
                        <div class="size-content-expansion-panel">
                          <div class="box-img-capital">
                            <img src="./../../../../../../../assets/images/evaluation/img-capital-social.png" alt="img-capital-social">
                          </div>
                          <div class="box-subtable-capital">
                            <div class="content-title">
                              <h2>Tipo de Aporte de Capital:</h2>
                              <a href=""><fa-icon class="icon" [icon] = "faPlus" > </fa-icon></a>  
                            </div>
                            <div class="content-subtable">
                              <table mat-table [dataSource]="dataSubtable" class="mat-elevation-z8">
                                <!-- name Column -->
                                <ng-container matColumnDef="name">
                                  <th mat-header-cell *matHeaderCellDef> Nombre</th>
                                  <td mat-cell *matCellDef="let element">
                                    <mat-form-field class="example-full-width">
                                      <input matInput value="{{element.name}}" type="text">
                                    </mat-form-field>
                                  </td>
                                  <td mat-footer-cell *matFooterCellDef> Total </td>
                                </ng-container>
                              
                                <!-- bs Column -->
                                <ng-container matColumnDef="Bs">
                                  <th mat-header-cell *matHeaderCellDef> Bolivianos (bs) </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <mat-form-field class="example-full-width">
                                      <input matInput value="{{element.Bs}}" type="number">
                                    </mat-form-field>
                                  </td>
                                  <td mat-footer-cell *matFooterCellDef> {{getTotalCost()}} Bs</td>
                                </ng-container>
                              
                                <!-- Sus Column -->
                                <ng-container matColumnDef="Sus">
                                  <th mat-header-cell *matHeaderCellDef>Dolares ($us)</th>
                                  <td mat-cell *matCellDef="let element"> {{element.Sus}} </td>
                                  <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>
                              
                                <!-- Actions Column -->
                                <ng-container matColumnDef="actions">
                                  <th mat-header-cell *matHeaderCellDef>  </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <a href="#"><fa-icon class="icon-delete" [icon] = "faTrashAlt" > </fa-icon></a>
                                  </td>
                                  <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                              </table>
                            </div>

                            <div class="box-cuota-cap">
                              <div class="content-title">
                                <h2>Valor p/cuota de Capital:</h2> 
                              </div>

                              <div style="width:255px">
                                <mat-form-field class="form-group" appearance="legacy">
                                    <mat-label class="label-subtitle">Valor p/cuota:</mat-label>
                                    <input matInput placeholder="Placeholder" >
                                </mat-form-field>
                              </div>

                              <div class="content-flex-center">
                                <button class="btn-guardar"> Guardar </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                  class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>

        </div>
    </div>
</div>

<div class="content-next-previus">
    <button (click)="anterior($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-volver-naranja.png" alt="" ></button>

    <button (click)="siguiente($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-siguiente-naranja.png" alt="" ></button>
</div>
