.tit {
  background-color: #8d5a6e;
  font-size: 23px;
  height: 118px;
  cursor: pointer;
}

div.tit:hover {
  background-color: #be889c;
}

.card-hom {
  background-color: #fff;
}

ul li {
  color: #0e3e54;
  margin-bottom: 4%;
}

/* ul li span {
  float: right;
} */

.card-footer {
  background: #be889c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-tool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px 50px;
  align-items: center;
}

.add-tool h1 {
  font-size: 2.25rem;
  color: #969696;
  margin: 0px;
}

.btn {
  background-color: #8d5a6e;
  margin-left: 20px;
  color: #ffffff;
}

.btn:hover {
  background-color: #be889c;
}

i {
  color: #5e2f43;
  font-size: 30px;
}

.progress {
  margin: 0;
  padding: 0;
}

/*Add Tool Modal Style*/

.modal-style {
  width: 38em;
  border-radius: 8px;
  justify-content: center;
  padding: 30px;
}

.modal-content {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title h3 {
  font-size: 1.4em;
}

.divider {
  width: 34.3em;
  height: 2px;
  background-color: #0e3e54;
}

.content h3 {
  margin-top: 12px;
  font-size: 0.9em;
}

.content input {
  border-radius: 4px;
  border: 1px solid rgba(14, 62, 84, 0.5);
  margin-bottom: 0;
}

.content input::placeholder {
  font-size: 1.25em;
  text-align: center;
  color: #676767;
}

.content span {
  margin-top: 0;
  color: #be889c;
  font-size: 0.9em;
}

.btn-add {
  width: 100%;
  margin: 20px 0px;
}

.side-nav {
  width: 30%;
  height: 100%;
  background: #0e3e54;
  color: #ffffff;
  align-self: flex-end;
}

.side-nav__close {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.side-nav__close:hover {
  background: #406880;
}

.side-nav__close h3 {
  margin: 0px 0px 0px 10px;
}

::ng-deep .mat-tab-label {
  color: #ffffff;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ffffff;
}

::ng-deep .mat-tab-group {
  width: auto;
}

::ng-deep .mat-tab {
  width: 20px;
}

.tool-content {
  width: 70%;
  height: 100%;
}

mat-drawer {
  width: 100%;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

::ng-deep .side-nav .mat-icon {
  transform: rotate(180deg);
}

::ng-deep .side-nav .mat-tab-header {
  background-color: #406880;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 33% !important;
  padding: 3px !important;
  margin: 3px !important;
}

/* Refactorizacion */
.spacer {
  flex: 1 1 auto;
}

.add-toolbar__tool {
  background-color: #faf7f1;
  border: 1px solid #b2b2b2;
  padding-left: 27px;
  padding-right: 27px;
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
}

.toolbar-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  /* font-size: 2.25rem ; */
  /* line-height: 42px; */
}

.btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 36rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 27px;
  justify-content: space-between;
}

.card-content {
  padding: 0px;
  margin-bottom: 45px;
  width: 400px;
  height: 424.06px;
  border: 1px solid #000000;
  border-radius: 24px;
  box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
}
.header-title {
  min-height: 76px;
}

.bgd-image__card {
  background: rgba(59, 112, 151, 0.3);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.title-card {
  line-height: 2rem;
}

.card-actions {
  border-top: 1px solid #848494;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tool-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}

.bgd-image__card:hover {
  background: linear-gradient(180deg, #329d9c 0%, rgba(255, 255, 255, 0) 100%),
    #3b7097;
  transition: 0.6s;
  cursor: pointer;
}

.title-card:hover {
  font-size: 1.27rem;
  cursor: pointer;
  transition: 0.6s;
}
/* 
::ng-deep .mat-progress-bar-fill::after {
  margin-top: 20px;
  background-color: #ef5350;
}

::ng-deep .mat-progress-bar {
  margin-top: 25px;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #ffdd94;
}
.empty-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.message-empty {
  margin: 20px 0px;
  /* identical to box height, or 229% */
}
.image-empty {
  width: 35%;
}
