<!-- <app-header></app-header> -->
<mat-toolbar class="add-toolbar__tool">
  <span  class="toolbar-title">INSTRUMENTOS</span>
  <span class="spacer"></span>
  <button *ngIf="rolHidden" mat-button (click)="openDialog('1','add')">
    <mat-icon>add</mat-icon>
  </button>
  <button *ngIf="rolHidden" mat-button routerLink="user-permition">
    <mat-icon>group</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="hiddenProgressListTool"></mat-progress-bar>
<div *ngIf="imageEmpty" class="empty-container">
  <img  class="image-empty" src="assets/images/empty.svg">
  <span class="message-empty">Aun no tienes nungun instrumento para comenzar una evaluación</span>
  <button *ngIf="rolHidden" mat-raised-button color="warn" (click)="openDialog('1','add')">
    Añadir Nuevo Instrumento
  </button>
</div>
<div class="card-container">
  <mat-card class="card-content"  *ngFor="let tool of tools">
    <img (click)="saveIdTool(tool.id)" class="bgd-image__card" src="assets/images/card/card1.png">
    <mat-card-header (click)="saveIdTool(tool.id)" class="header-title">
      <mat-card-title class="title-card">{{tool.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li class="tool-information">Bloques <span>3</span></li>
        <li class="tool-information">Medidas <span>8</span></li>
        <li class="tool-information">Preguntas<span>10</span></li>
      </ul>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button *ngIf="rolHidden" mat-icon-button (click)="openDialog(tool.id,'delete')">
        <mat-icon>restore_from_trash</mat-icon>
      </button>
      <div>
        <button *ngIf="rolHidden" mat-icon-button (click)="saveIdTool(tool.id)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button (click)="goToEvaluation(tool.id)">
          <mat-icon>play_arrow</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<!-- <app-footer></app-footer> -->
