.login-container {
  /* width: 100%; */
  height: 100%;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/812a9998961603.5ee83caa386e5.jpg"),linear-gradient(180deg, #F6E2BC 0%, rgba(255, 255, 255, 0) 100%), #000000;;
  background-size: 100%;
  background-size: cover;
  display: flex;
  /* justify-content: space-between; */
  align-items: center; 
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-content {
  background-color: #F0F3F6;
  border-radius: 10px;
  margin: auto;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 30px 60px rgba(0, 0, 0, 0.7);
}
.title-logo {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  letter-spacing: 0.38em;
  text-transform: capitalize;
}
.tittle-sign__in {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #205072;
}

.input-sign__in {
  padding: 0px;
  border-radius: 10px;
}

.alert-danger {
  text-align: start;
  color: rgb(241, 57, 57);
  font-size: 0.875rem;
  font-weight: normal;
}
/* ::ng-deep .mat-raised-button.mat-button-disabled.mat-button-disabled {
  border: 1px solid #EF5350;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
} */
::ng-deep .mat-progress-bar {
  margin-top: 25px;
}
@media screen and (max-width: 600px) {
  .form-content {
    width: 80%; 
  }
  .title-logo {
    font-size: 2.5rem;
  }
}