<div class="login-container">
  <div class="container is-max-desktop">
    <form [formGroup]="loginForm" class="form-content animate__animated animate__backInDown" (ngSubmit)="login()">
      <figure class="logo animate__animated animate__rubberBand animate__delay-1s">
        <img class="img-logo" src="assets/images/logo.png" alt="logo">
        <h1 class="title-logo">{{logo | uppercase}} </h1>
      </figure>
      <h1 class="tittle-sign__in">¡Bienvenido!</h1>
      <mat-form-field appearance="outline" class="input-sign__in animate__animated animate__backInLeft animate__delay-1s">
        <mat-label>Nombre de Usuario / Email</mat-label>
        <input matInput type="text" formControlName="email_or_username">
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
          <small *ngIf="userName.errors.required">El nombre de usuario o email es requerido</small>
          <small *ngIf="userName.errors.minlength">Por favor ingrese 5 caracteres como minimo</small>
          <small *ngIf="userName.errors.maxlength">Por favor ingrese 20 caracteres como maximo</small>
        </div>
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-sign__in animate__animated animate__backInRight animate__delay-1s">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <small *ngIf="password.errors.required">La contraseña es requerido</small>
          <small *ngIf="password.errors.minlength">Por favor ingrese 8 caracteres como maximo</small>
          <small *ngIf="password.errors.maxlength">Por favor ingrese 20 caracteres como maximo</small>
        </div>
      </mat-form-field>
      <span class="alert-danger auth-message" *ngIf="userNoRegisterMessage">Usuario o Contraseña incorrectos</span>
      <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">Comenzar</button>
      <mat-progress-bar *ngIf="progressBar" mode="indeterminate" class="progress-bar__sign-in"></mat-progress-bar>
    </form>
  
  </div>
</div>
