.spacer {
  flex: 1 1 auto;
}

.toolbar-footer {
  background-color: #205072;
  position: fixed;
  bottom: 0;
}

.copy-footer {
  color: #ffffff;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.313rem;
}
