<mat-toolbar class="toolbar-footer">
  <img src="assets/images/logo3.png">
  <span class="spacer"></span>
  <span class="copy-footer"> &copy; Copyright 2021 by OviajamosSoftware</span>
</mat-toolbar>
