<!-- <app-header-evaluation></app-header-evaluation> -->
<mat-progress-bar *ngIf="status" mode="query"></mat-progress-bar>
<mat-toolbar class="toolbar">
  <span class="subtitle">evaluaciones</span>
  <span class="spacer"></span>
</mat-toolbar>
  <div  *ngIf="emptyUser" class="container-page">
    <div class="principal-container">
      <div class="content-text-body">
        <p class="text">
          Aun no tienes registrado empresas para comenzar con la evaluación
        </p>
      </div>
      <div class="content-btn-body">
        <a routerLink="./question" class="btn-register">REGISTRAR EMPRESA</a>
      </div>
    </div>
</div>
<mat-toolbar *ngIf="!emptyUser">
  <span class="subtitle table-title">empresas registradas</span>
  <span class="spacer"></span>
  <button mat-icon-button color (click)="goToRegister()">
    <mat-icon class="action-icon">add</mat-icon> 
  </button> 
</mat-toolbar>
<br/>
<br/>
<table *ngIf="!emptyUser" mat-table [dataSource]="dataSourceAux" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td class="name-row" mat-cell *matCellDef="let element" (click)="goToResult(element.id)">
      <div class="name-column">
        <img class="user-avatar" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpork-barrel.com%2Fwp-content%2Fuploads%2F2019%2F12%2FReddit-Logo.png&f=1&nofb=1">
        <div class="info-name__content">
          <span>{{element.business_name}}</span>
          <span style="color: rgba(0, 0, 0, 0.5);">{{element.contact_email}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> Tipo de Sociedad </th>
    <td style="color: #3CC13B;" mat-cell *matCellDef="let element" (click)="goToResult(element.id)"> {{element.kind_of_society}} </td>
  </ng-container>

  <!-- LastLogin Column -->
  <ng-container matColumnDef="registerDate">
    <th mat-header-cell *matHeaderCellDef> Fecha de Registro</th>
    <td mat-cell *matCellDef="let element" (click)="goToResult(element.id)" > {{element.created_at | date}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="action-row" mat-cell *matCellDef="let element"> 
      <div class="action_row">
        <button mat-icon-button (click)="editCompany(element.id)">
          <mat-icon class="action-icon">edit</mat-icon> 
        </button> 
        <button mat-icon-button (click)="removeCompany(element.id)">
          <mat-icon class="action-icon">restore_from_trash</mat-icon> 
        </button> 
        <button mat-icon-button (click)="goToStartEvaluation(element.id)">
          <mat-icon class="action-icon">play_arrow</mat-icon> 
        </button> 
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsAux"></tr>
  <tr
    mat-row 
    *matRowDef="let row; columns: displayedColumnsAux;"
    class="detail-row"
  >
  </tr>
</table>
<br>
<br>
  
