@import url("https://fonts.googleapis.com/css?family=Montserrat");
.spacer {
  flex: 1 1 auto;
}
.container-page {
  background: url('./../../../../../../assets/images/evaluation/background-evaluation.png');
  background-size: 65%;
  background-position: center 60px;
  background-repeat: no-repeat;
  height: 500px;
}

.principal-container {
  position: relative;
  width: 450px;
  top: 359px;
  left: 143px;
  display: flex;
}

.text {
  position: relative;
  bottom: 3.42%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  display: flex;
}

.toolbar {
  background-color: rgba(32, 80, 114, 0.6);
  color: #ffffff;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 16px;
  text-transform: uppercase;
}
.table-title{
  font-size: 1rem;
  text-transform: capitalize;
}
.content>p {
  width: 247px;
}

.content>button {
  font-family: Roboto;
  width: 180px;
  height: 43px;
  font-size: 14px;
  margin-top: 70px;
  color: #ffffff;
  background-color: #8d5a6e;
}
table {
  width: 80%;
  margin: auto;
}
.name-column {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-name__content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.action_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.action-icon{
  color: rgba(0, 0, 0, 0.3);
}
.action-row {
  width: 10%;
}
.name-row{
  width: 40%;
}
@media (max-height: 620px) {
  .content {
    margin-top: 79%;
  }
}

@media (max-height: 546px) {
  .content {
    margin-top: 68%;
  }
}

@media (max-height: 500px) {
  .content {
    margin-top: 57%;
  }
}

.btn-register {
  background-color: #fa897b;
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  border: 1px solid burlywood;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.content-text-body {
  width: 240px;
}

.content-btn-body {
  width: 40%;
  padding-top: 72px;
}
tr.detail-row:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
