<div class="content-flex-center">
    <div class="box-size">
        <div class="content-title">
            <h2>Regimen de Gobierno Corporativo:</h2>
        </div>
        <div class="content-flex-center">
            <div class="box-size-full">
            <table mat-table [dataSource]="dataOrdinaria1" class="mat-elevation-z8">
                <ng-container matColumnDef="organo">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element"> {{element.organo}} </td>
                  <td mat-footer-cell *matFooterCellDef> Quorum (Cuotas)</td>
                  
                </ng-container>
            
                <ng-container matColumnDef="asamblea">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element"> {{element.asamblea}} </td>
                  <td mat-footer-cell *matFooterCellDef>  </td>
                  
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="ordinaria">
                  <th mat-header-cell *matHeaderCellDef class="text-header-table"><h3 class="text-header-table">Ordinaria </h3></th>
                  <td mat-cell *matCellDef="let element"> {{element.ordinaria}} </td>
                  <td mat-footer-cell *matFooterCellDef> 70</td>
                  
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="extraordinaria">
                  <th mat-header-cell *matHeaderCellDef > <h3 class="text-header-table">Extraordinaria </h3></th>
                  <td mat-cell *matCellDef="let element"> {{element.extraordinaria}} </td>
                  <td mat-footer-cell *matFooterCellDef> 70</td>
                  
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
            <table mat-table [dataSource]="dataOrdinaria2" class="mat-elevation-z8">
                <ng-container matColumnDef="organo">
                  <th mat-header-cell *matHeaderCellDef> </th>
                  <td mat-cell *matCellDef="let element"> {{element.organo}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                  
                </ng-container>
    
              
                <!-- Weight Column -->
                <ng-container matColumnDef="ordinaria">
                  <th mat-header-cell *matHeaderCellDef class="text-header-table"><h3 class="text-header-table">Ordinaria </h3></th>
                  <td mat-cell *matCellDef="let element"> {{element.ordinaria}} </td>
                  <td mat-footer-cell *matFooterCellDef> 36</td>
                  
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="extraordinaria">
                  <th mat-header-cell *matHeaderCellDef > <h3 class="text-header-table">Extraordinaria </h3></th>
                  <td mat-cell *matCellDef="let element"> {{element.extraordinaria}} </td>
                  <td mat-footer-cell *matFooterCellDef> 47</td>
                  
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="ColumnsdataOrdinaria2"></tr>
                <tr mat-row *matRowDef="let row; columns: ColumnsdataOrdinaria2;"></tr>
                <tr mat-footer-row *matFooterRowDef="ColumnsdataOrdinaria2"></tr>
            </table>
            <table mat-table [dataSource]="dataOrdinaria3" class="mat-elevation-z8">
                <ng-container matColumnDef="convocatoria_asamblea">
                  <th mat-header-cell *matHeaderCellDef> Convocatoria Asamblea de Socios</th>
                  <td mat-cell *matCellDef="let element"> {{element.convocatoria_asamblea}} </td>
                  <td mat-footer-cell *matFooterCellDef> Quorum (Cuotas)</td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="medio">
                  <th mat-header-cell *matHeaderCellDef class="text-header-table"><h3 class="text-header-table">Medio </h3></th>
                  <td mat-cell *matCellDef="let element"> {{element.medio}} </td>
                  <td mat-footer-cell *matFooterCellDef> 70</td>
                  
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="plazo_anticipacion">
                  <th mat-header-cell *matHeaderCellDef > <h3 class="text-header-table">Plazo anticipación (días) </h3></th>
                  <td mat-cell *matCellDef="let element"> {{element.plazo_anticipacion}} </td>
                  <td mat-footer-cell *matFooterCellDef> 70</td>
                  
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="ColumnsdataOrdinaria3"></tr>
                <tr mat-row *matRowDef="let row; columns: ColumnsdataOrdinaria3;"></tr>
                
            </table>
            </div>
        </div>
        <div class="content-flex-center">
            <div class="box-size-full box-border-sombra">
                <div class="content-title">
                    <h2>Competencias del Órgano de Gobierno</h2>
                  <a href="#"><fa-icon class="icon" [icon] = "faPlus" > </fa-icon></a>  
                </div>
               
                    <table mat-table [dataSource]="dataOrdinaria4" class="mat-elevation-z8">
                        <ng-container matColumnDef="asamblea">
                          <th mat-header-cell *matHeaderCellDef> <h3 class="text-header-table">Asamblea de Socios</h3> </th>
                          <td mat-cell *matCellDef="let element"> {{element.asamblea}} </td>                                               
                        </ng-container>
                        <!-- Weight Column -->
                        <ng-container matColumnDef="ordinaria">
                          <th mat-header-cell *matHeaderCellDef class="text-header-table"><h3 class="text-header-table">Ordinaria </h3></th>
                          <td mat-cell *matCellDef="let element"> {{element.ordinaria}} </td>
                        </ng-container>
                      
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="extraordinaria">
                          <th mat-header-cell *matHeaderCellDef > <h3 class="text-header-table">Extraordinaria </h3></th>
                          <td mat-cell *matCellDef="let element"> {{element.extraordinaria}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="ColumnsdataOrdinaria4"></tr>
                        <tr mat-row *matRowDef="let row; columns: ColumnsdataOrdinaria4;"></tr>
        
                    </table>
                
            </div>
        </div>
        <div class="content-flex-center">
            <button class="btn-guardar"> Guardar </button>
          </div>
    </div>
</div>
<div class="content-next-previus">
    <button (click)="anterior($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-volver-naranja.png" alt="" ></button>

    <button (click)="siguiente($event)" class="btn-advance" type="submit"> <img src="./../../../../../../../assets/images/evaluation/btn-siguiente-naranja.png" alt="" ></button>
</div>

