/*Configuration general*/
.label-subtitle{
    color:#3B7097 !important; 
    white-space: initial ;
}
.form-group{
   display: initial;
}
.mat-form-field-infix{
   padding: 20px;
   position: inherit !important;
}

input.mat-input-element {
   margin-top: 0.9375em;
}
.mat-select {
   padding-bottom: 13px !important;
}
.content-flex-center{
    display: flex;
    justify-content: center;
}
.box-size{
 width: 87%;
 padding: 20px;
}
.box-size-mid{
    width: 50%;
    padding: 20px;
   }
.box-size-full{
    width: 100%;
    padding: 20px;
}
.box-size-large{
    width: 75%;
    padding: 20px;
}
.content-title{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    padding: 20px;
}
.box-border-sombra{
    -webkit-box-shadow: 1px 2px 7px -1px rgba(74,68,74,1);
    -moz-box-shadow: 1px 2px 7px -1px rgba(74,68,74,1);
    box-shadow: 1px 2px 7px -1px rgba(74,68,74,1);
    border-radius: 5px;
}
.icon{
    font-size: 14px;
    color: #C2C9D1;
}

/* CSS of regimen coorporativo*/
.btn-guardar{
    background-color: #FA897B;
    color: white;
    border: none;
    padding: 10.8px 164.1px 10.8px 164.1px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    margin-top: 42px;
  }
/*@startDatatable*/
table {
    width: 100%; 
    margin-bottom: 20px;
  }
  .text-header-table{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: black;
    margin: 0;
  }
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
   
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  /*@endtable*/

/*Botones siguiente y anterior*/
.box-size{
    -webkit-box-shadow: 1px 2px 7px -1px rgba(74,68,74,1);
    -moz-box-shadow: 1px 2px 7px -1px rgba(74,68,74,1);
    box-shadow: 1px 2px 7px -1px rgba(74,68,74,1);
    border-radius: 5px;
}
.content-next-previus{
    display: flex;
    justify-content: space-between;
}
.btn-advance{
  border: none;
  background-color: initial;
  cursor: pointer;
}