<mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button (click)="back()">
    <mat-icon aria-hidden="false" aria-label="{2:label} icon">arrow_back</mat-icon>
  </button>
  <span>Detalle del Proyecto</span>
</mat-toolbar>
<div class="main-container__detail">
  <div class="columns is-multiline">
    <div class="column is-12 is-6-desktop">
      <figure class="main-img__information">
        <img src="https://wallpapers.ispazio.net/wp-content/uploads/2020/09/iSpazio-46.jpg" alt="">
      </figure>
    </div>
    <div class="column is-12 is-6-desktop">
      <h1>Titulo</h1>
      <h2>Subtitulo</h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, animi, quibusdam magni repellat possimus
        maiores rem quidem officiis blanditiis velit facilis nihil quas explicabo repellendus non vitae? Earum,
        exercitationem suscipit!"</p>
    </div>
    <div class="column is-12 is-6-desktop">
      <h1>Acerca de este proyecto</h1>
    </div>
    <div class="column is-12 is-6-desktop">
      <swiper [slidesPerView]="1" [spaceBetween]="50" [navigation]="true" [pagination]="{ clickable: true }"
        [thumbs]="{ swiper: thumbsSwiper }" [autoplay]="true">
        <ng-template swiperSlide>
          <figure class="main-img__banner ">
            <img src="http://bichosrunners.com/wp-content/uploads/2018/01/bosque-1.jpeg" alt="imagen del banner">
            <div class="main-banner__title">
              <p>Banner title</p>
            </div>
          </figure>
        </ng-template>
        <ng-template swiperSlide>
          <figure class="main-img__banner ">
            <img src="https://previews.123rf.com/images/pakhnyushchyy/pakhnyushchyy1208/pakhnyushchyy120800004/14733414-fondo-del-bosque-verde-en-un-d%C3%ADa-soleado.jpg" alt="imagen del banner">
            <div class="main-banner__title">
              <p>Banner title</p>
            </div>
          </figure>
        </ng-template>
          <ng-template swiperSlide>
            <figure class="main-img__banner ">
              <img src="https://previews.123rf.com/images/tinnko/tinnko1505/tinnko150500009/39762789-troncos-de-%C3%A1rboles-y-la-hierba-verde-en-el-sol-fondo-bosque-de-la-primavera.jpg" alt="imagen del banner">
              <div class="main-banner__title">
                <p>Banner title</p>
              </div>
            </figure>
          </ng-template>
      </swiper>
    </div>
    <div class="column is-12 is-8-desktop is-offset-2-desktop">
      <h1 style="text-align: center;">Nuestra experiencia</h1> 
      <div class="columns is-multiline">
        <div class="column is-12 is-3-desktop is-4-tablet">
          <figure class="main-img__banner content-galery">
            <img src="https://www.elagoradiario.com/wp-content/uploads/2020/10/pnuma-capital-semilla-1140x600.jpg" alt="imagen de galeria">
          </figure>
        </div>
        <div class="column is-12 is-3-desktop is-4-tablet">
          <figure class="main-img__banner content-galery">
            <img src="https://www.elagoradiario.com/wp-content/uploads/2020/10/pnuma-capital-semilla-1140x600.jpg" alt="imagen de galeria">
          </figure>
        </div>
        <div class="column is-12 is-3-desktop is-4-tablet">
          <figure class="main-img__banner content-galery">
            <img src="https://www.elagoradiario.com/wp-content/uploads/2020/10/pnuma-capital-semilla-1140x600.jpg" alt="imagen de galeria">
          </figure>
        </div>
        <div class="column is-12 is-3-desktop is-4-tablet">
          <figure class="main-img__banner content-galery">
            <img src="https://www.elagoradiario.com/wp-content/uploads/2020/10/pnuma-capital-semilla-1140x600.jpg" alt="imagen de galeria">
          </figure>
        </div>
        <div class="column is-12 is-3-desktop is-4-tablet">
          <figure class="main-img__banner content-galery">
            <img src="https://www.elagoradiario.com/wp-content/uploads/2020/10/pnuma-capital-semilla-1140x600.jpg" alt="imagen de galeria">
          </figure>
        </div>
        <div class="column is-12 is-3-desktop is-4-tablet">
          <figure class="main-img__banner content-galery">
            <img src="https://www.elagoradiario.com/wp-content/uploads/2020/10/pnuma-capital-semilla-1140x600.jpg" alt="imagen de galeria">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>