.main__mat-toolbar {
  background-color: #85CE36;
  color: white;
}

.main-container__detail {
  padding: 16px;
  width: 100%;
  height: 85vh;
  overflow-y: auto;
  padding-bottom: 100px;
}

.main-img__information {
  height: 90vh;
  overflow: hidden;
  position: relative;
}

.main-img__information img {
  max-width: 100%;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-img__banner {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-img__banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.main-banner__title{
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 99;
  background: rgba(58, 70, 81, 0.30);
}
.main-banner__title p{
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  max-height: 150px;
  word-wrap: break-word;
}

.content-galery {
  width: 100%;
  height: 150px;
}




.main-container__detail::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
  /* display: none;  Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.main-container__detail::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.main-container__detail::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.main-container__detail::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
.main-container__detail::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.main-container__detail::-webkit-scrollbar-track:hover,
.main-container__detail::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
