<mat-toolbar class="block-toolbar">
  <span class="title-block">{{dataBlock.name}}</span>
  <!-- <span class="title-block">{{title}}</span> -->
  <span class="spacer"></span>
  <button *ngIf="rolHidden" (click)="openDialogEdit(dataBlock.id)" class="create-icon__btn" mat-icon-button>
    <mat-icon>create</mat-icon>
  </button>
</mat-toolbar>
