.spacer {
  flex: 1 1 auto;
}

.title-block {
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.block-toolbar {
  width: 100%;
  background-color: #FAF7F1;
  color: #205072;
  border-bottom: 1px solid rgba(32, 80, 114, 0.2);
}

.create-icon__btn:focus {
  background-color: inherit;
}
