<mat-toolbar class="mat-elevation-z6">
  <span>Organizaciones Aliadas</span>
  <span class="spacer"></span>
  <button mat-mini-fab color="accent" style="color: white;" (click)="addOrganization()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<section class="section">
 <div class="columns is-multiline">
   <div class="column is-12-mobile is-6-tablet is-4-desktop" *ngFor="let item of organizations">
     <app-organization-data [organization]="item"></app-organization-data>
  </div>
 </div>
</section>