<div class="main-not__found">
  <section class="section main-info__container">
    <figure class="main-img__not-found animate__animated animate__backInRight">
      <img src="assets/images/not-found.png" alt="pagina no encontrada">
    </figure>
    <div class="main-message__btn animate__animated animate__fadeInDownBig">
      <p class="title">¡Oops...!</p>
      <p class="title">No encontramos la pagina que buscas</p>
      <button mat-raised-button color="primary" (click)="onStart()">Volver al inicio</button>
    </div>
  </section>
</div>