.main-not__found {
  width: 100%;
  height: 100vh;
  background-color: #F0F3F6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-info__container {
  display: flex;
  flex-direction: row-reverse;
}

.main-img__not-found {
  width: 50%;
}

.main-img__not-found img {
  width: 100%;
}

.main-message__btn {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}