<mat-progress-bar *ngIf="status" mode="query"></mat-progress-bar>
<div class="container">
  <mat-toolbar class="toolbar-organization">
    <button *ngIf="!emptyUser" mat-icon-button (click)="goToTool()">
    <!-- <button *ngIf="!emptyUser" mat-icon-button routerLink=user-permition/add-ussers > -->
      <mat-icon>list</mat-icon>
    </button>
    <span class="title-organization">PERMISOS DE USUARIO</span>
    <span class="spacer"></span>
    <button *ngIf="!emptyUser" mat-icon-button (click)="addUssers()">
    <!-- <button *ngIf="!emptyUser" mat-icon-button routerLink=user-permition/add-ussers > -->
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div *ngIf="emptyUser" class="container">
  <img class="image" src="assets/images/undraw_subscriptions.svg" alt="...">
  <p class="message">¿Qué usuarios tendran permiso para utilizar este instrumento de diagnostico?</p>
  <br>
  <button mat-raised-button class="button" (click)="addUssers()">AÑADIR USUARIOS</button>
  <router-outlet></router-outlet>
</div>
<br>
<br>
<table *ngIf="!emptyUser" mat-table [dataSource]="dataSourceAux" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element">
      <div class="name-column">
        <img class="user-avatar" [src]="element.user_image">
        <div class="info-name__content">
          <span>{{element.name}} {{element.lastname}}</span>
          <span style="color: rgba(0, 0, 0, 0.5);">{{element.email}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Cargo Column -->
  <ng-container matColumnDef="cargo">
    <th mat-header-cell *matHeaderCellDef> Cargo </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="rol">
    <th mat-header-cell *matHeaderCellDef> Rol de Usuario </th>
    <td mat-cell *matCellDef="let element"> {{element.rol | rol:element.rol }} </td>
  </ng-container>

  <!-- LastLogin Column -->
  <ng-container matColumnDef="lastLogin">
    <th mat-header-cell *matHeaderCellDef> Fecha de Registro</th>
    <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> 
      <div class="action_row">
        <button mat-icon-button (click)="editUser(element.id, 'edit')">
          <mat-icon class="action-icon">edit</mat-icon> 
        </button> 
        <button mat-icon-button (click)="editUser(element.id, 'delete')">
          <mat-icon class="action-icon">restore_from_trash</mat-icon> 
        </button> 
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsAux"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsAux;"></tr>
</table>
<br>
<br>
