.spacer {
  flex: 1 1 auto;
}

.image {
  width: 58%;
  height: 58%;
}

.container {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.toolbar-organization {
  background: rgba(32, 80, 114, 0.6);
  color: #ffffff;
}

.title-organization {
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.313rem;
}

.message {
  width: 300px;
  font-size: 24px;
  position: absolute;
  top: 480px;
  left: 320px;
  word-spacing: 2px;

  font-family: Roboto;
}

.button {
  position: absolute;
  top: 580px;
  left: 320px;
  background-color: #FA897B;
  color: #ffffff;
  /* width: 180px;
  height: 43px; */
  /* border-radius: 4px; */
  /* border-color: #FA897B; */
}
table {
  width: 80%;
  margin: auto;
}
.name-column {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-name__content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.action_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.action-icon{
  color: rgba(0, 0, 0, 0.3);
}