.image-remove {
  width: 100%;
  height: 260px;
  overflow: hidden;
  position: relative;
}
.spacer {
  flex: 1 auto;
}
.image-remove__content {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.remove-toolbar {
  background-color: #0E3E54;
  color: #ffffff;
}
.actions-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::ng-deep .mat-snack-bar-container {
  background: #F0F3F6;
  color: #3A4651;
}
::ng-deep .mat-snack-bar-container .mat-simple-snackbar-action {
  color: #FA897B ;
}