<mat-toolbar class="remove-toolbar">
  <span>Eliminar {{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="label">close</mat-icon>
  </button>    
</mat-toolbar>
<section class="section">
  <div class="columns">
    <div class="column">
      <figure class="image-remove">
        <img class="image-remove__content" src="assets/images/remove.svg" alt="">
      </figure>
    </div>
    <div class="column">
      <h2 *ngIf="tool">{{tool.name}}</h2>
      <h2 *ngIf="block">{{block.name}}</h2>
      <h2 *ngIf="measure">{{measure.name}}</h2>
      <h2 *ngIf="question">{{question.name}}</h2>
      <h2 *ngIf="answer">{{measure.name}}</h2>
      <p class="text">Está a punto de eliminar permanentemente este contenido
        Una vez que un contenido se elimina de la herramienta <strong>permanentemente, no se puede recuperar.</strong> 
      </p>
    </div>
  </div>
  <div class="actions-btn">
      <button mat-button matDialogClose>Cancelar</button>
      <button mat-raised-button color="primary" (click)="remove()">Eliminar</button>
  </div>
</section>
