<mat-dialog-content>
    <mat-toolbar>
        <span>{{title}}</span>
        <span class="spacer"></span>
        <button mat-icon-button matDialogClose>
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <section class="message-error">
        <mat-icon color="warn">error</mat-icon>
        <div>
          <h3>Los datos de la empresa <strong *ngIf="bussines">{{bussines.business_name }} </strong> se eliminaran
            completamente</h3>
          <h3>una vez que de click en el boton eliminar perdera todos los datos de su empresa y no se podra recuperar
          </h3>
        </div>
      </section>
      <section class="action-btns">
        <button mat-button color="warn">Cancelar</button>
        <button mat-raised-button color="warn" (click)="destroyBussines()">Eliminar</button>
      </section>
</mat-dialog-content>
