.spacer {
    flex: 1 auto;
}
.message-error {
    width: 100%;
    min-height: 200px;
    display: flex;
}
.message-error mat-icon {
    width: 30%;
    font-size: 2rem;
    text-align: center;
    /* text-align: center; */
}
.message-error p {
    width: 70%;
    height: 100%;
    /* text-align: center; */
}
.action-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}