mat-toolbar {
  background-color: #3A4651;
  color: #85CE36;
}

.spacer {
  flex: 1 auto;
}

form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

textarea {
  min-height: 80px;
}

.btn-action {
  background-color: #85CE36;
  color: #ffffff;
}

.flag-icon {
  width: 30px;
  height: 30px;
}