<mat-toolbar class="mat-elevation-z6">
  <span>Editar datos del proyecto</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="projectForm">
  <mat-form-field>
    <mat-label>Nombre del Proyecto:</mat-label>
    <input
      matInput
      placeholder="Nombre del proyecto"
      required
      maxlength="70"
      type="text"
      formControlName="title"
      >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Decripción:</mat-label>
    <textarea
      matInput 
      placeholder="Decripción"
      required
      maxlength="150"
      type="text"
      formControlName="description"
      >
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Organizaciones:</mat-label>
    <textarea
      matInput 
      placeholder="Organizaciones"
      required
      maxlength="150"
      type="text"
      formControlName="organization"
      >
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha</mat-label>
    <input matInput formControlName="date" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Paises</mat-label>
    <mat-select [formControl]="country" multiple>
      <mat-select-trigger>
        {{country.value ? country.value[0] : ''}}
        <span *ngIf="country.value?.length > 1" class="example-additional-selection">
          (+{{country.value.length - 1}} {{country.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option 
        *ngFor="let country of countries" 
        [value]="country.name"
        >
        <span 
          [class]="'flag-icon flag-icon-' + country.alpha2"
        ></span>
        <span>
          {{country.name}}
        </span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Paises participantes:</mat-label>
    <input
      matInput
      placeholder="Paises participantes"
      required
      maxlength="150"
      type="text"
      formControlName="country"
      >
  </mat-form-field>

  <button class="btn-action" mat-button (click)="save()">Guardar Cambios</button>
</form>