<app-header-evaluation></app-header-evaluation>
<h1 class="title-evaluation">DIAGNOSTICO DE ESTRUCTURA LEGAL Y COMPOSICION SOCIETARIA</h1>
<mat-horizontal-stepper linear #stepper [selectedIndex]="this.selectedIndex">
  <mat-step [editable]="isEditable" [completed]="state" label="Contact">
    <div class="form-container">
      <app-form-contact></app-form-contact>
      <div class="actions-btns">
        <span class="spacer"></span>
        <button mat-button matStepperNext>
          <mat-label>Siguiente</mat-label>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step [editable]="isEditable" [completed]="state" label="Información Extra">
    <div class="form-container">
			<app-extra-information></app-extra-information>
		 	    <div class="actions-btns">
			      <button mat-button matStepperPrevious>
			        <mat-icon>navigate_before</mat-icon>
			        <mat-label>Atras</mat-label>
			      </button>
			      <button mat-button matStepperNext>
			        <mat-label>Siguiente</mat-label>
			        <mat-icon>navigate_next</mat-icon>
			      </button>
			    </div>
		</div>
  </mat-step>
  <!-- <mat-step  [label]="'Socios'"></mat-step>
    <mat-step [state]="'editing'" [label]="'Capital Social'"></mat-step>
    <mat-step [label]="'Participacion'"></mat-step>
    <mat-step [label]="'Regimen Gob. Coorporativo'"></mat-step>
    <mat-step [label]="'Representacion Legal'"></mat-step>
    <mat-step [label]="'Transferencia Cuotas'"></mat-step>  -->
</mat-horizontal-stepper>
<router-outlet></router-outlet>
