.title-evaluation {
  text-align: center;
  margin-top: 20px;
}

.mat-horizontal-content-container {
  padding: 0;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #FA897B;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #FA897B;
}

.form-container {
  min-height: 60vh;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}
.actions-btns {
  flex-grow: 1;
  display: flex;
  width: 100%;
  max-height: 70px;
  justify-content: space-between;
}
.spacer {
  flex: 1 auto;
}
