 /*Cloud btn*/
.btn-container-r{
  position: relative;
  float: right;
}

.input-hidden{
  opacity: 0;
  cursor: pointer !important;
  position: absolute; /* don't let it take up space */
  width: 30px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-cloud{
  position: relative;
  color: #85CE36;
  font-size: 2rem;
  width: 32px;
  height: 32px;
}

.btn-container-r:hover {
  cursor: pointer;
  transition: 0.3s;
}