<figure class="image image is-3by1">
  <img [src]="mainInfo.image || 'https://bulma.io/images/placeholders/256x256.png'" alt="imagen del banner">
  <div>
    <button mat-icon-button class="btn-container-r">
      <mat-icon
        class="material-icons-outline icon-cloud"
        aria-label="subir imagen icon"
        >cloud_upload</mat-icon
      >
      <input
        type="file"
        class="input-hidden"
        accept="image/png, image/gif, image/jpeg, image/jpg"
        (change)="upload($event)"
      />
    </button>
  </div>
  <mat-progress-bar *ngIf="statusUpload" mode="indeterminate"></mat-progress-bar>
</figure>