@import url("https://fonts.googleapis.com/css?family=Roboto");

.title-page {
  position: absolute;
  width: auto;
  height: 32px;
  right: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  /*font-size: 24px;*/
  line-height: 32px;
  color: #0e3e54;
}

.logo {
  background-color: white;
  position: relative;
  left: 15px;
}

.toolbar {
  background-color: rgba(32, 80, 114, 0.6);
  color: #ffffff;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
}
