<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="goToListComany()">
    <mat-icon class="action-icon">arrow_back</mat-icon> 
  </button> 
  <span style="margin-left: 24px;">Volver</span>
</mat-toolbar>