    <mat-dialog-content class="dialog-content">
      <mat-toolbar>
        <span>{{title}}</span>
        <span class="spacer"></span>
        <button mat-icon-button matDialogClose>
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
      <mat-progress-bar *ngIf="status" mode="query"></mat-progress-bar>
      <div *ngIf="showOptionEdit">
        <form [formGroup]="userForm" class="form-edit" (ngSubmit)="saveChanges()">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="lastname">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Cargo</mat-label>
            <input matInput formControlName="position">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Rol de Usuario" formControlName="rol">
              <mat-option *ngFor="let rol of rols" [value]="rol.value">
                {{rol.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Acceso a Herramientas">
              <div *ngIf="!emptyListTool">
                <mat-option disabled *ngFor="let tool of tools">
                  <mat-checkbox color="primary" (click)="addUserToTool(tool.id)" class="example-margin">{{tool.name}}
                  </mat-checkbox>
                </mat-option>
              </div>
              <mat-option *ngIf="emptyListTool">No hay herramientas</mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" mat-raised-button color="warn">Guardar Cambios</button>
        </form>
      </div>
      <div *ngIf="showOptionDelete">
        <section class="message-error">
          <mat-icon color="warn">error</mat-icon>
          <div>
            <h3>Los datos del usuario <strong *ngIf="user">{{user.name }} - {{user.lastname }}</strong> se eliminaran
              completamente</h3>
            <h3>una vez que de click en el boton eliminar perdera todos los datos de su usuario y no se podra recuperar
            </h3>
          </div>
        </section>
        <section class="action-btns">
          <button mat-button color="warn">Cancelar</button>
          <button mat-raised-button color="warn" (click)="destroyUser()">Eliminar</button>
        </section>
      </div>
    </mat-dialog-content>
