<mat-toolbar class="mat-elevation-z6">
  <span>Editar publicación</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="blogForm">
  <mat-form-field>
    <mat-label>Titulo:</mat-label>
    <input
      matInput
      placeholder="Nombre del proyecto"
      required
      maxlength="70"
      type="text"
      formControlName="title"
      >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Organizaciones:</mat-label>
    <textarea
      matInput 
      placeholder="Organizaciones"
      required
      maxlength="150"
      type="text"
      formControlName="organization"
      >
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Decripción:</mat-label>
    <textarea
      matInput 
      placeholder="Decripción"
      required
      maxlength="150"
      type="text"
      formControlName="description"
      >
    </textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Url de redireccionamiento:</mat-label>
    <textarea
      matInput 
      placeholder="url"
      required
      type="text"
      formControlName="url"
      >
    </textarea>
  </mat-form-field>

  <button class="btn-action" mat-button (click)="save()">Guardar Cambios</button>
</form>