.card {
  width: 100%;
  height: 620px;
  overflow-y: auto;
}

.spacer {
  flex: 1 auto;
}

.btn-action {
  color: #85CE36;
}

.btn-container-r{
  position: relative;
}
.input-hidden{
 opacity: 0;
 cursor: pointer !important;
 position: absolute; /* don't let it take up space */
 width: 30px;
 margin: auto;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.icon-cloud{
 position: relative;
}

.crop-image{
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.crop-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
}