<div class="card">
  <div class="card-image">
    <figure class="crop-image">
      <img [src]="project.image || 'https://bulma.io/images/placeholders/1280x960.png'" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{project.title || 'No asignado'}}</p>
      </div>
    </div>

    <div class="content">
      <p>
        {{project.description || 'No asignado'}}
      </p>
      <p>
        {{project.organization || 'No asignado'}}
      </p>
      <br>
      <!-- <span>{{(project.date | async) || 'No asignado'}}</span> -->
    </div>
  </div>
</div>
<mat-progress-bar *ngIf="statusUpload" [value]="uploadPercent | async" mode="determinate"></mat-progress-bar>
<mat-toolbar class="mat-elevation-z6">
  <time datetime="mm-dd-yy">{{project.date.toDate() | date}}</time>
  <span class="spacer"></span>
  <button mat-icon-button color="warn" (click)="deleteProject()">
    <mat-icon aria-label="label">delete</mat-icon>
  </button>
  <button mat-icon-button class="btn-container-r">
    <mat-icon
      class="material-icons-outline icon-cloud"
      aria-label="subir imagen icon"
      >cloud_upload</mat-icon
    >
    <input
      type="file"
      class="input-hidden"
      accept="image/png, image/gif, image/jpeg, image/jpg"
      (change)="upload($event)"
      />
  </button>
  <button mat-icon-button class="btn-action" (click)="editProject()">
    <mat-icon aria-label="label">edit</mat-icon>
  </button>
</mat-toolbar>