<form [formGroup]="informationForm" class="main-form">
  <mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
  <mat-toolbar class="toolbar">
    <span 
      role="button"
      class="data-title"
      *ngIf="!isTitle"
      (click)="showInput('title')"
      >{{ dataHome.title }}</span>
    <input 
      class="input-title" 
      autofocus
      formControlName="title"
      type="text" 
      maxlength="75"
      *ngIf="isTitle" 
      (focusout)="saveChange('title')"
      >
    <span class="spacer"></span>
    <button *ngIf="dataHome.id==='ods'" mat-icon-button (click)="addOds()">
      <mat-icon aria-label="label">add</mat-icon>
    </button>
  </mat-toolbar>
  <article *ngIf="dataHome.id==='more-info'" class="message">
    <div class="message-header">
      <p
        role="button"
        class="data-title"
        *ngIf="!isSubtitle"
        (click)="showInput('subtitle')"
      >{{dataHome.subtitle || 'No Configurado'}}</p>
      <input
        class="input-title"
        autofocus
        formControlName="subtitle"
        type="text"
        maxlength="100"
        *ngIf="isSubtitle"
        (focusout)="saveChange('subtitle')"
      >
    </div>
    <br>
    <div 
      class="message-body"
      role="button"
      class="data-title"
      *ngIf="!isDescription"
      (click)="showInput('description')">
      {{dataHome.description || 'No Configurado'}}
    </div>
    <textarea
      class="textarea-description" 
      autofocus
      formControlName="description"
      type="text" 
      maxlength="250"
      *ngIf="isDescription" 
      (focusout)="saveChange('description')"
    >
    </textarea>
    <br>
    <button class="btn-action" mat-button (click)="addVideo()">
      <mat-icon aria-hidden="false" aria-label="agregar nuevo">add</mat-icon>
      Video
    </button>
  </article>

  <div *ngIf="dataHome.id==='caminnos'" class="main-container">
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-6-tablet" *ngFor="let item of dataSubCollection">
        <app-caminno [caminno]="item"></app-caminno>
      </div>
    </div>
  </div>

  <div *ngIf="dataHome.id==='doing'" class="main-container">
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-6-tablet" *ngFor="let item of dataSubCollection">
        <app-doing [doing]="item"></app-doing>
      </div>
    </div>
  </div>
  
  <div *ngIf="dataHome.id==='main'" class="main-container">
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-12-tablet" *ngFor="let item of dataSubCollection">
        <app-main-info [mainInfo]="item"></app-main-info>
      </div>
    </div>
  </div>
  
  <div *ngIf="dataHome.id==='more-info'" class="main-container">
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-6-tablet" *ngFor="let item of dataSubCollection">
        <app-video [moreInfo]="item"></app-video>
      </div>
    </div>
  </div>

  <div *ngIf="dataHome.id==='ods'" class="main-container">
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-6-tablet" *ngFor="let item of dataSubCollection">
        <app-ods [ods]="item"></app-ods>
      </div>
    </div>
  </div>

</form>
