.spacer {
  flex: 1 auto;
}

.toolbar {
  background-color: #ffffff;
  border-bottom: 1px solid #85CE36;
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.data-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.data-title:hover {
  background-color: #F0F3F6;
  cursor: pointer;
  transition: 0.3s;
}

input {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
}

textarea {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  background-color: #F0F3F6;
  border: 1px solid #00000025;
  resize: vertical;
  min-height: 80px;
}

.input-title {
  font-size: 1.25rem;
}


.btn-save {
  /* background-color: #85CE36; */
  color: #85CE36;
}

button .btn-close {
  background-color: none;
  border: 1px solid #85CE36;
}

.main-container {
  width: 100%;
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
}

.data-subtitle {
  font-size: 1.125rem !important;
}

.btn-action {
  background-color: #85CE36;
  color: #ffffff;
}
