<mat-toolbar class="edit-toolbar">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="hiddenProgress"></mat-progress-bar>
<form class="form-block" *ngIf="contentEditBlockForm" [formGroup]="blockForm"
  (ngSubmit)="saveChange('block')">
  <p class="p-subtitle">Reconfigura la información de tu {{subTitle}}</p>
  <ul class="text-recomendation">
    <li>El botón “Guadar Cambios” se encuentra desactivado hasta que los campos con * sean modificados</li>
  </ul>
  <mat-form-field>
    <mat-label>Nombre del Bloque (*)</mat-label>
    <input matInput formControlName="name" placeholder="Ingresa un nombre al bloque">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción (*)</mat-label>
    <textarea class="text-area__form" formControlName="description" matInput
      placeholder="Ingresa una descripción de boque"></textarea>
  </mat-form-field>
  <button type="submit" class="btn-color-form" mat-raised-button [disabled]="!blockForm.valid">Guardar Cambios</button>
</form>
<form class="form-block" *ngIf="contentEditMeasureForm" [formGroup]="measureForm"
  (ngSubmit)="saveChange('measure')">
  <p class="p-subtitle">Reconfigura la información de tu {{subTitle}}</p>
  <ul class="text-recomendation">
    <li>El botón “Guadar Cambios” se encuentra desactivado hasta que los campos con * sean modificados</li>
  </ul>
  <mat-form-field>
    <mat-label>Nombre de la Medida (*)</mat-label>
    <input matInput formControlName="name" placeholder="Ingresa un nombre a la medida">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Porcentaje</mat-label>
    <input matInput formControlName="porcentage" placeholder="Ingresa un porcentaje a la medida">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción (*)</mat-label>
    <textarea class="text-area__form" formControlName="description" matInput
      placeholder="Ingresa una descripción de Meduda"></textarea>
  </mat-form-field>
  <button type="submit" class="btn-color-form" mat-raised-button [disabled]="!measureForm.valid">Guardar
    Cambios</button>
</form>
<form class="form-block" *ngIf="contentEditQuestionForm" [formGroup]="questionForm"
  (ngSubmit)="saveChange('question')">
  <p class="p-subtitle">Reconfigura la información de tu {{subTitle}}</p>
  <ul class="text-recomendation">
    <li>El botón “Guadar Cambios” se encuentra desactivado hasta que los campos con * sean modificados</li>
  </ul>
  <mat-form-field>
    <mat-label>Nombre de la Pregunta (*)</mat-label>
    <input matInput formControlName="name" placeholder="Ingresa un nombre a la pregunta">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Porcentaje</mat-label>
    <input matInput formControlName="porcentage" placeholder="Ingresa un porcentaje a la pregunta">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción (*)</mat-label>
    <textarea class="text-area__form" formControlName="description" matInput
      placeholder="Ingresa una descripción de Pregunta"></textarea>
  </mat-form-field>
  <button type="submit" class="btn-color-form" mat-raised-button [disabled]="!questionForm.valid">Guardar
    Cambios</button>
</form>

<div class="form-block edit-answer" *ngIf="contentEditTypeQuestionForm">
  <p class="p-subtitle">Reconfigura la información de tu {{subTitle}}</p>
  <ul class="text-recomendation">
    <li>El botón “Guadar Cambios” se encuentra desactivado hasta que los campos con * sean modificados</li>
  </ul>
  <div class="option-select">
    <mat-form-field (click)="getTypeAnswers()">
      <mat-label>Modificar Respuestas</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of options" [value]="option.name"
          (click)="modifyTypeAnswerByQuestion(option)">
          {{option.name}}
        </mat-option>
        <mat-option (click)="makeNewTypeAnswer()">
          Otro
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-list>
    <div class="title-config__answer">
      <mat-list-item>Tipos de Respuesta</mat-list-item>
      <button *ngIf="makeNewAnswer" mat-icon-button (click)="addAnswer('', '', '')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <p class="empty-message" *ngIf="showEmptyMessage">{{emptyMessage}}</p>
    <form class="form-block" [formGroup]="typeAnswerForm" (ngSubmit)="saveAnswers()">
      <table class="table table-bordered" formArrayName="answers">
        <tr class="tr-table" *ngFor="let answer of answers().controls; let i=index" [formGroupName]="i">
          <td class="td-table">
            <mat-form-field class="form-field__table">
              <mat-label>Nombre:</mat-label>
              <input type="text" placeholder="Ingrese un nombre a su respuesta" formControlName="name"
                class="form-control" matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form-field__table">
              <mat-label>Porcentaje:</mat-label>
              <input type="number" placeholder="Ingrese un porcentaje" formControlName="porcentage" class="form-control"
                matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form-field__table">
              <mat-label>Conclusión</mat-label>
              <input type="text" placeholder="Ingrese un porcentaje" formControlName="sub_answer" class="form-control"
                matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form-field__table">
              <mat-label>Necesidad:</mat-label>
              <input type="text" placeholder="Ingrese un porcentaje" formControlName="need" class="form-control"
                matInput>
            </mat-form-field>
          </td>
          <td *ngIf="makeNewAnswer">
            <button mat-icon-button (click)="removeAnswer(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <!-- <button type="button" class="btn btn-success" (click)="showAnswers()">Submit</button> -->
      <button type="submit" class="btn-color-form" mat-raised-button>Guardar
        Cambios</button>
    </form>
  </mat-list>
</div>

<div *ngIf="contentRemove" class="remove-container">
  <div class="main-message">
    <mat-icon class="error-icon">error</mat-icon>
    <p class="text">Está a punto de eliminar permanentemente este instrumento
      Una vez que un instrumento se elimina <strong>permanentemente, no se puede recuperar.</strong> La
      eliminación permanente de este instrumento <strong>eliminará inmediatamente</strong> sus bloques y
      <strong>toda la información relacionada,</strong> incluidos preguntas, empresas evaluadas, etc.
    </p>
  </div>
  <span class="sub-text">Esta acción no se puede deshacer. Perderás el instrumento de diagnostico de empresas y todo el contenido:
    bloques, medidas, preguntas, etc.</span>
  <div class="buttons">
    <button mat-raised-button matDialogClose class="cancel-btn btn">CANCELAR</button>
    <button mat-raised-button class="delete-btn btn" (click)="destroyData()">ELIMINAR</button>
  </div>
</div>
