::ng-deep .mat-dialog-container {
  padding: 0px;
}

.spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-dialog-container {
  border-radius: 24px;
  background-color: #ffffff;
}
::ng-deep .mat-progress-bar {
    margin-top: 10px;
}
.edit-toolbar {
  background-color: #205072;
  color: #ffffff;
}

.p-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.text-recomendation {
  margin-bottom: 20px;
}
.text-area__form{
    height: 97px;
}

button:focus {
  background-color: inherit;
}

.btn-color-form {
  background-color: #FA897B;
  color: #ffffff;
  height: 40px;
}

.form-block {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.edit-answer {
  padding-bottom: 0px;
}

/* .content {
    margin: 10px;
    width: 650px;
    align-items: center;
}

.block-toolbar {
    width: 650px;
    position: relative;
    background-color: #FFFFFF;
    height: 68px;
} */
/* .edit,


p {
    padding-top: 5px;
}

.info {
    color: #0E3E54;
} */
/* 
mat-form-field {
    width: 650px;
} */

/* mat-hint,
.char {
    color: rgba(190, 136, 156, 1);
}

textarea {
    width: 650px;
    height: 150px;
    border-radius: 5px;
} */

/* button {
    width: 650px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(141, 90, 110, 1);
    color: white;
} */
.error-icon {
  /* text-align: center;
  width: auto; */
  height: 100%;
  font-size: 3rem;
  color: #FA897B;
  /* margin-left: 20px; */
}
.content2 {
  margin: 10px;
  width: 650px;
  text-justify: center;
}

.title {
  text-align: center;
}

.main-message {
  margin-top: 17px;
  padding: 13px 20px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #CFF4D2;
  color: #474F5E;
}

.text {
  font-size: 1rem;
  height: 120px;
  max-width: 456px;
  margin: 0px;
  /* margin-right: 20px; */
}

.error {
  float: left;
  width: 100px;
  height: 120px;
}

.warning {
  width: 550px;
  height: 120px;
}

.message {
  margin: 10px;
  padding-bottom: 40px;
}
.buttons {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.btn {
  width: 250px;
  height: 45px;
}
.progress {
  margin-top: 85px;
  background-color: white;
}

.empty-message {
  opacity: 0.7;
  text-align: center;
  font-size: 1rem;
}
.table {
  width: 100%;
  padding: 10px 0px;
  /* background-color: #205072; */
}
/* .tr-table {
  background-color: #FA897B;
}
.td-table {
  background-color: aqua;
} */
.form-field__table {
  width: 100%;
  height: 100%;
}
.option-select {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #FA897B; */
}
.title-config__answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.remove-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sub-text {
  padding: 0px 20px;
}
.cancel-btn {
  color: #3B7097; 
  border: 1px solid #FA897B;
}
.delete-btn {
  background-color: #FA897B;
  color: #ffffff;
}
.delete-btn:focus {
  border: 1px solid #FA897B;
  color: #3B7097;
}