.spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: rgba(32, 80, 114, 0.6);
  color: #ffffff;
}

.subtitle {
  margin-left: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 16px;
  text-transform: uppercase;
}
.grid-content {
  margin-top: 24px;
}
::ng-deep .mat-grid-tile .mat-figure {
  display: inline !important;
  padding: 20px !important;
  border-right: 1px solid rgba(0, 0, 0,0.1);
  overflow: auto;
  /* position: relative !important; */
}
.evaluation-state {
  color: #3CC13B;
  display: flex;
  flex-direction: column;
  padding: 14px 0px;
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
}
.evaluator-user {
  display: flex;
  align-items: center;
  padding: 14px 0px;
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
}
.evaluator-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.evaluator-user .name {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.evaluation-date {
  display: flex;
  padding: 14px;
}
.rigth-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.result-toolbar {
  /* background-color: #ffffff; */
  border-bottom: 1px solid rgba(0, 0, 0,0.1);
  border-radius: 5px;
}
.result-toolbar .info-content {
  display: flex;
  width: 30%;
}
.info-result {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 20px;
  margin-right:10px ;
  border-radius: 8px;
}
.critic {
  background-color: #FF1744;
  color: #ffffff;
}
.medium {
  background-color: #FFD600;
  color: #ffffff;
}
.success {
  background-color: #00E676;
  color: #ffffff;
}
tr.detail-row:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.table-container{
  width: 100%;
  height: 450px;
  overflow: auto;
}
table {
  width: 100%;
}
.progress-bar__row {
  height: 15px;
  border-radius: 15px;
}
.title-header {
  text-transform: capitalize;
  width: 100%;
  word-break: break-word;
}
.class {
  color: rgba(255, 23, 68,0.2);
  background-color: rgba(0, 230, 118,0.1);
}