<mat-toolbar class="toolbar" routerLink="evaluation-list">
  <button mat-icon-button (click)="backListEvaluation()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="subtitle"><strong>{{nameBussines}}</strong></span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>
<mat-grid-list class="grid-content" cols="5" rowHeight="300px">
  <mat-grid-tile colspan="2" rowspan="2">
    <h2 class="title-header">
      Cumplimiento a nivel Empresa de las prácticas de Gobierno Corporativo
    </h2>
    <div>
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [colors]="donutColors"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
    <div class="evaluation-state">
      <span>Active</span>
      <span>Completado 20%</span>
    </div>
    <div class="evaluator-user">
      <img
        src="https://happytravel.viajes/wp-content/uploads/2020/04/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png"
        alt="">
      <div class="name">
        <span><strong>Ava More</strong></span>
        <span>ava@company.com</span>
      </div>
    </div>
    <span class="evaluation-date">September 20, 2019</span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="2">
    <div *ngIf="hidden" class="rigth-column">
      <!-- <mat-toolbar class="result-toolbar"> -->
      <mat-toolbar class="result-toolbar">
        <div class="info-content">
          <span class="info-result critic">Critico</span>
          <span class="info-result medium">Medio</span>
          <span class="info-result success">Aceptable</span>
        </div>
        <span class="spacer"></span>
        <button mat-button>
          <mat-icon>share</mat-icon>
          <span>Compartir reporte</span>
        </button>
        <button mat-button>
          <mat-icon>download</mat-icon>
          <span>Exportar PDF</span>
        </button>
      </mat-toolbar>
      <div class="table-container alternative-theme">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

          <!-- Block Column -->
          <ng-container matColumnDef="block">
            <th mat-header-cell *matHeaderCellDef> Bloque</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- countMeasure Column -->
          <ng-container matColumnDef="measure">
            <th mat-header-cell *matHeaderCellDef> Medida(s)</th>
            <td mat-cell *matCellDef="let element"> {{element.countMeasure}} </td>
          </ng-container>

          <!-- countQuestion Column -->
          <ng-container matColumnDef="question">
            <th mat-header-cell *matHeaderCellDef> Pregunta(s)</th>
            <td mat-cell *matCellDef="let element"> {{element.countQuestion}} </td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Resultado </th>
            <td mat-cell *matCellDef="let element">
              <mat-progress-bar class="progress-bar__row" mode="determinate" value={{element.result}}
                color={{element.color}}></mat-progress-bar>
              <span class="state-title">{{element.result}} %</span>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="detail-row" (click)="sendData(row.id)">
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="hidden" style="padding-bottom: 20px;">
      <mat-toolbar class="result-toolbar">
        <span>Graficos comparativos por año</span>
        <span class="spacer"></span>
        <button mat-button mat-raised-button (click)="randomize()">Cambiar Grafico</button>
      </mat-toolbar>
      <div>
        <div>
          <div>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [colors]="dinamycDonutColors" [legend]="barChartLegend" [chartType]="barChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <app-block-result *ngIf="!hidden" [idBlock]="idBlock"></app-block-result>
  </mat-grid-tile>
</mat-grid-list>
