.main-work__progress {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
img {
    width: 50%;
    margin-bottom: 20px;
    opacity: 0.8;
}
.main-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
mat-card {
    width: 300px;
    margin: 16px;
}
mat-card:hover {
    box-shadow: 0px 30px 60px rgba(178, 178, 178, 0.25);
    background-color: rgba(254, 130, 29, 0.25);
    color: rgba(58, 70, 81, 0.7);
    cursor: pointer;
    transition: 0.3s;
}


p, h2 {
    opacity: 0.7;
}

p {
    margin-top: 20px;
}