@import '~swiper/swiper-bundle';

/* You can add global styles to this file, and also import other style files */
/* @import 'custom-theme.scss'; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



body::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
  display: none;
  /* Ocultar scroll */
}

.custom-dialog-container .mat-dialog-container {
  padding: 0px;
  border-radius: 20px;
  background-color: #F0F3F6;
}


.main-load {
  width: 100%;
  height: 100%;
  background-color: rgba(58, 70, 81, 0.50);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 55px;
  padding: 16px;
  margin: 16px;
  color: #ffffff;
  font-size: 1.125rem;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  box-shadow: 0px 30px 60px #b2b2b250;
  cursor: pointer;
  transition: 0.3s;
}

.btn-success {
  background-color: #85CE36;
}

.btn-danger {
  background-color: #f44336;
}


.mat-dialog-container .custom-dialog-container {
  margin: 0px;
  padding: 0px;
}

*::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
  /* display: none;  Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
*::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
*::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}







