<div class="container">
  <app-blog-banner [blog]="blogFirst"></app-blog-banner>
  <mat-toolbar>
    <span>Lista de publicaciones</span>
    <span class="spacer"></span>
    <button mat-raised-button [matMenuTriggerFor]="menu">
      {{filterSelected.label}}
      <mat-icon aria-hidden="false" aria-label="{2:label} icon">filter_list</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let item of filters">
        <mat-radio-button color="primary" (click)="filterSelected = item">{{item.label}}</mat-radio-button>
      </button>
    </mat-menu>
    <button class="btn-action" mat-icon-button (click)="addBlog()">
      <mat-icon aria-label="label">add</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
  <section *ngIf="blogs" class="section">
    <div class="columns is-multiline">
      <div class="column is-12-mobile is-6-tablet is-4-desktop" *ngFor="let item of blogs | category: filterSelected.value">
        <app-blog [blog]="item"></app-blog>
      </div>
    </div>
  </section>
</div>
  
  