<div *ngIf="status" class="main-load">
  <app-load></app-load>
</div>
<mat-toolbar class="mat-elevation-z6">
  <span>Inicio</span>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>

<div class="container">
  <section class="section">
    <div class="columns">
      <div class="column is-12-mobile is-2-tablet">
        <div class="block">
          <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li *ngFor="let section of sections">
                <a class="active" (click)="getInfoBySection(section.id)">{{section.title}}</a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
      <div *ngIf="data && subCollectionData" class="column is-12-mobile is-10-tablet main-container">
        <app-edit-information [dataHome]="data" [dataSubCollection]="subCollectionData"></app-edit-information>
        <!-- <figure *ngFor="let banner of bannerList">
          <img [src]="banner.image_path" alt="imagen del banner">
        </figure> -->
      </div>
    </div>
    
  </section>
</div>