.spacer {
  flex: 1 auto;
}

.mat-toolbar {
  background-color: #ffffff;
}

mat-card {
  box-shadow: 4px 30px 60px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 10px;
}

.main-img__banner {
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-img__banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.main-button {
  background-color: #85CE36;
  color: #3A4651;
}

.main-btn__action {
  display: flex;
  justify-content: flex-end;  
}

.main-banner__mobile {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-banner__mobile img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.main-banner__desktop {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main-banner__desktop img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  background: linear-gradient(0deg, rgba(58, 70, 81, 0.2), rgba(58, 70, 81, 0.2));
  z-index: -1;
}


.main-banner__title{
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  z-index: 99;
  background: rgba(58, 70, 81, 0.30);
}
.main-banner__title p{
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  max-height: 150px;
  word-wrap: break-word;
}

.main-information {
  width: 100%;
  height: 80%;
  margin: 20px;
  background: linear-gradient(0deg, rgba(58, 70, 81, 0.2), rgba(58, 70, 81, 0.2)), url("https://images.unsplash.com/photo-1542242476-5a3565835a38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main-swiper__vertical {
  height: 400px;
}

.main-title_-banner-home {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
}

.active {
  border-bottom: 1px solid #00000023;
}

.active:hover {
  background-color: #85CE36;
  color: #ffffff;
  transition: 0.3s;
}

.main-container {
  background-color: #ffffff;
  box-shadow: 0px 5px 10px #00000025;
  border-radius: 8px;
  /* border: 1px solid #b2b2b2; */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-img__banner {
    height: 250px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-img__banner {
    height: 300px;
  }
}