<mat-toolbar>
  <span>Lista de premios</span>
  <span class="spacer"></span>
  <button class="btn-action" mat-icon-button (click)="addAward()">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="query"></mat-progress-bar>
<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet is-4-desktop" *ngFor="let item of awards">
      <app-award [award]="item"></app-award>
    </div>
  </div>
</div>

