<mat-toolbar>
  <span color="accent">Editar Equipo</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose color="accent">
    <mat-icon aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>
<form class="form-container" [formGroup]="aboutTeamForm">
  <mat-form-field>
    <mat-label>Titulo:</mat-label>
    <input matInput formControlName="title" placeholder="titulo del equipo">
  </mat-form-field>

  <button color="accent" mat-raised-button (click)="saveData()">Editar</button>
</form>