@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.title-page {
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.313rem;
}
.logo {
  background-color: white;
  position: relative;
  left: 15px;
}
.line-botom {
  background-color: rgba(32, 80, 114, 0.6);
  border-bottom: 1px solid #b2b2b2;
  color: #ffffff;
}

.container-page {
  background: url(./../../../../../assets/images/evaluation/background-evaluation.png);
  background-size: 65%;
  background-position: center 60px;
  background-repeat: no-repeat;
  height: 500px;
}
.principal-container {
  position: relative;
  width: 450px;
  top: 359px;
  left: 143px;
  display: flex;
}
.text {
  position: relative;
  bottom: 3.42%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  display: flex;
}
.content > p {
  width: 247px;
}
.content > button {
  font-family: Roboto;
  width: 180px;
  height: 43px;
  font-size: 14px;
  margin-top: 70px;
  color: #ffffff;
  background-color: #8d5a6e;
}
@media (max-height: 620px) {
  .content {
    margin-top: 79%;
  }
}
@media (max-height: 546px) {
  .content {
    margin-top: 68%;
  }
}
@media (max-height: 500px) {
  .content {
    margin-top: 57%;
  }
}
.btn-register {
  background-color: #fa897b;
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  border: 1px solid burlywood;
  border-radius: 8px;
  color: white;
}
.content-text-body {
  width: 240px;
}
.content-btn-body {
  width: 40%;
  padding-top: 72px;
}
