<mat-card class="card-content" (click)="saveToolId(tool.id)">
  <figure class="img-card__content" role="button" [routerLink]="['/admin/organization/', tool.id]">
    <img class="bgd-image__card" [src]="tool.url">
  </figure>
  <br>
  <mat-card-header class="header-title">
    <mat-card-title class="title-card">{{tool.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-actions class="card-actions">
    <button *ngIf="rolHidden" mat-icon-button (click)="deleteTool(tool.id, 'remove', 'tool')">
      <mat-icon>restore_from_trash</mat-icon>
    </button>
    <div>
      <button *ngIf="rolHidden" mat-icon-button [routerLink]="['/admin/organization/', tool.id]">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <!-- <button mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
      </button> -->
    </div>
  </mat-card-actions>
</mat-card>