.spacer {
  flex: 1 auto;
}

.colums-card {
  margin-bottom: 20px;
}


.add-toolbar__tool {
  background-color: #ffffff;
}

.card-content {
  background-color: #ffffff;
}

.card-content:hover {
  box-shadow: 4px 30px 60px rgba(0, 0, 0, 0.2);
}

.bgd-image__card {
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}

.bgd-image__card:hover {
  cursor: pointer;
}

.title-card {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-empty {
  width: 50%;
}

.img-container button {
  width: 50%;
}

.img-card__content {
  border: 1px solid rgba(178, 178, 178, 0.35);
  border-radius: 10px;
  max-width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
