<!-- <app-header></app-header> -->
<mat-toolbar class="toolbar-organization">
  <button mat-icon-button (click)="goToBack()">
    <mat-icon>arrow_back</mat-icon>
    Volver
  </button>
  <span class="spacer"></span>
</mat-toolbar>
<mat-horizontal-stepper linear #stepper>
  <!-- <mat-step [stepControl]="firstFormGroup"> -->
  <mat-step>
    <form class="form-content" [formGroup]="firstFormGroup" (ngSubmit)="saveData('first')">
      <ng-template matStepLabel>Datos de Usuario</ng-template>
      <h1>Datos de Usuario</h1>
      <ul style="margin-bottom: 24px;">
        <li>Los campos con * son obligatorios</li>
        <!-- <li>El boton siguiente se encuentra deshabilitado hasta que se llene de forma correcta los campos</li> -->
      </ul>
      <mat-form-field>
        <mat-label>Nombre (s):</mat-label>
        <input matInput formControlName="name" placeholder="Escribe tu(s) Nombre(s)" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Apellido (s):</mat-label>
        <input matInput formControlName="lastname" placeholder="Escribe tu(s) Apellido(s) "
          required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rol:</mat-label>
        <mat-select  formControlName="rol" required>
          <mat-option *ngFor="let rol of rols" [value]="rol.value" (click)="verifyRol(rol.value)">
            {{rol.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cargo :</mat-label>
        <input matInput formControlName="position" placeholder="Escribe tu cargo" required>
      </mat-form-field>
      <!-- <mat-form-field>
        <mat-label>Telefono Celular :</mat-label>
        <input matInput type="number" formControlName="phone" placeholder="Escribe tu Nro Celular" required>
      </mat-form-field> -->
      <mat-toolbar class="action-toolbar">
        <span class="spacer"></span>
        <button class="action-btn" type="submit" mat-raised-button matStepperNext>
          <span>Siguiente</span>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </mat-toolbar>
    </form>
  </mat-step>
  <!-- <mat-step [stepControl]="secondFormGroup"> -->
  <mat-step>
    <form class="form-content" [formGroup]="firstFormGroup" (ngSubmit)="saveData('second')">
      <ng-template matStepLabel>Datos de Sesión</ng-template>
      <h1>Datos de Sesión</h1>
      <ul style="margin-bottom: 24px;">
        <li>Los campos con * son obligatorios</li>
        <li>El boton siguiente se encuentra deshabilitado hasta que se llene de forma correcta los campos</li>
      </ul>
      <mat-form-field>
        <mat-label>Nombre de Usuario:</mat-label>
        <input matInput formControlName="username" placeholder="Escribe tu Nombre de Usuario" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña:</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Escribe tu Contraseña" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput type="email" formControlName="email"
          placeholder="Escribe tu correo electronico" required>
      </mat-form-field>
      <mat-toolbar class="action-toolbar">
        <button class="action-btn" type="submit" mat-button matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>
          <span>Volver</span>
        </button>
        <span class="spacer"></span>
        <button (click)="saveDataTemporaly()" class="action-btn" mat-button matStepperNext [disabled]="!firstFormGroup.valid">
          <span>Siguiente</span>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </mat-toolbar>
    </form>
  </mat-step>
  <mat-step class="step-content">
    <div class="form-content">
      <ng-template matStepLabel>Finalizar</ng-template>
      <div *ngIf="isAdmin">
        <h2 >Acceso a las Herramientas</h2>
        <mat-form-field>
          <mat-select placeholder="Acceso a Herramientas">
              <div *ngIf="!emptyListTool">
                  <mat-option  disabled *ngFor="let tool of tools">
                      <mat-checkbox color="primary" [(ngModel)]="stateAccess" (click)="addUserToTool(tool.id)" class="example-margin">{{tool.name}}</mat-checkbox>
                  </mat-option>
              </div>
              <mat-option *ngIf="emptyListTool">No hay herramientas</mat-option>
          </mat-select>
      </mat-form-field>
      </div>
      <div class="action-section">
        <h2>Foto de Perfil</h2>
        <input type="file" id="archivo" accept="image/x-png,image/gif,image/jpeg,image/png" (change)="upload($event)">
        <label for="archivo">
          <span>Subir Imagen</span>
        </label>
      </div>
      <!-- <img mat-card-image for="archivo" class="img-card" [src]="imageSrc || 'assets/images/profile/image-upload.svg'"> -->
      <section class="image-upload__section">
        <mat-progress-bar *ngIf="statusUpload" mode="determinate" [value]="uploadPercent | async"></mat-progress-bar>
        <mat-card class="example-card">
          <mat-card-header>
            <img mat-card-avatar class="example-header-image"
              [src]="imageSrc | async">
            <mat-card-title>{{name}} {{lastName}}</mat-card-title>
            <mat-card-subtitle>{{email}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </section>
      <mat-toolbar class="action-toolbar">
        <button class="action-btn" type="submit" mat-button matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>
          <span>Volver</span>
        </button>
        <span class="spacer"></span>
        <button class="action-btn" mat-button matStepperNext (click)="saveData('third')">
          <span>Finalizar</span>
          <mat-icon>navigate_next</mat-icon>
        </button>
      </mat-toolbar>
    </div>
  </mat-step>
</mat-horizontal-stepper>
