.title-organization {
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.313rem;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-organization {
  background: rgba(32, 80, 114, 0.6);
  color: #ffffff;
}

.mat-stepper-horizontal {
  size: 30px;
}

.step-horizontal {
  width: min-content;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.container {
  height: 70%;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.ng-template {
  background-color: azure;
  width: 90px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #FA897B;
}

.mat-form-field {
  width: 500px;
  height: 60px;
}

.back-button {
  background-color: #ffffff;
  color: #FA897B;
  width: 150px;
  height: 43px;
  border-radius: 4px;
  border-color: #FA897B;
}

.next-button {
  background-color: #FA897B;
  color: #ffffff;
  margin-left: 200px;
  width: 150px;
  height: 43px;
  border-radius: 4px;
  border-color: #FA897B;
}

.button {
  background-color: #FA897B;
  color: #ffffff;
  margin-left: 350px;
  width: 150px;
  height: 43px;
  border-radius: 4px;
  border-color: #FA897B;
}

mat-step {
  width: 100px;
}

mat-label {
  color: #3B7097;
  font-size: 15px;
}

.header-dialog {
  background-color: #205072;
  color: white;
  height: 48px;
  width: 490px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 12px;
  padding-left: 10px;
  margin: -24px -24px 40px -24px;
}

.confirm-data {
  width: 90%;
  height: 100px;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.button-confirm {
  justify-content: center;
  background-color: #FA897B;
  color: #ffffff;
  width: 150px;
  height: 43px;
  border-radius: 4px;
  border-color: #FA897B;
  margin-top: 10px;
  margin-bottom: 20px;
}
::ng-deep .mat-horizontal-content-container{
  width: 50%;
  height: 500px;
  margin: auto;
  /* background-color: #FA897B; */
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #FA897B;
}
.form-content {
  /* width: 50%; */
  overflow: hidden;
  word-wrap: break-word;
  height: 500px;
  /* background-color: aqua; */
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
}
.form-content mat-form-field {
  width: 100%;
}
.action-toolbar {
  background-color: #ffffff;
  align-items: flex-end;
  flex-grow: 1;
}
.action-btn {
  color: #FA897B;
}
.example-card {
  margin: auto;
  overflow-y: hidden;
  overflow-wrap: break-word;
  max-width: 400px;
  max-height: 300px;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}
.image-upload__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.action-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.img-card {
  max-height: 400px;
  opacity: 0.5;
}
.img-card:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}
input#archivo {
  display: none;
}
input#archivo + label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  padding: 0px 8px;
  margin-bottom: 16px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}
input#archivo + label:hover {
  cursor: pointer;
  /* background-color: #FA897B; */
  transition: 0.3s;
  color: #FA897B;
}

btn-upload {
  float: right;
}