<mat-toolbar class="mat-elevation-z6">
  <span>Editar Video</span>
  <span class="spacer"></span>
  <button mat-icon-button matDialogClose>
    <mat-icon aria-label="label">close</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar *ngIf="state" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="videoForm">
  <mat-form-field>
    <mat-label>Url del Video:</mat-label>
    <textarea
      matInput 
      placeholder="url del video"
      formControlName="url" 
    >
    </textarea>
  </mat-form-field>

  <button mat-raised-button class="btn-action" (click)="save()">
    Editar
  </button>
</form>