mat-toolbar {
  background-color: #3A4651;
  color: #85CE36;
}

.spacer {
  flex: 1 auto;
}

.btn-action {
  background-color: #85CE36;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.textarea {
  min-height: 200px;
}